Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

as: Add LoRaCloud GLS API
  pkg/applicationserver/io/packages/loragls/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loragls/v1/api/objects/objects_test.go
  pkg/applicationserver/io/packages/loragls/v1/data.go
Labels: c/application server

as: Add LoRaCLoud GLS API client
  pkg/applicationserver/io/packages/loragls/v1/api/client.go
  pkg/applicationserver/io/packages/loragls/v1/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v1/api/messages.go
Labels: c/application server

as: Provide raw JSON representation of response
  pkg/applicationserver/io/packages/loragls/v1/api/client.go
  pkg/applicationserver/io/packages/loragls/v1/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v1/api/objects/objects.go
Labels: c/application server

as: Add LoRaCloud GLS application package
  pkg/applicationserver/io/packages/loragls/v1/data.go
  pkg/applicationserver/io/packages/loragls/v1/observability.go
  pkg/applicationserver/io/packages/loragls/v1/package.go
Labels: c/application server

as: Enable the LoRaCloud GLS package
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/loragls/v1/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v1/package.go
Labels: c/application server, compat/config

as: Change LoRACloud GLS package to version 3
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/messages.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects/objects.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects/objects_test.go
  pkg/applicationserver/io/packages/loragls/v3/data.go
  pkg/applicationserver/io/packages/loragls/v3/observability.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
Labels: c/application server, compat/config

as: Flatten LoRaCloud GLS API package
  config/messages.json
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/messages.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects_test.go
  pkg/applicationserver/io/packages/loragls/v3/observability.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
Labels: c/application server

all: Remove RequireAuthenticated
  config/messages.json
  pkg/auth/rights/require.go
  pkg/auth/rights/require_test.go
Labels: none

api: Add Application Server payload formatters testing RPCs
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

as: Expose payload formatters RPCs
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
Labels: c/application server

as: Extract payload processor to messageprocessors
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/messageprocessors/payload.go
Labels: c/application server

as: Improve payload formatters RPC testing
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/payload.go
Labels: c/application server

console: Add LoRaCloud GLS form
  pkg/webui/console/constants/lora-cloud-gls.js
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Extract shared messages from lora cloud forms
  pkg/webui/console/containers/lora-cloud-das-form/index.js
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console,account: Tune collapse component styling
  pkg/webui/components/collapse/collapse.styl
Labels: ui/web

console: Restructure lora cloud view for multiple forms
  pkg/webui/console/constants/lora-cloud-gls.js
  pkg/webui/console/views/application-integrations-lora-cloud/application-integrations-lora-cloud.styl
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
Labels: ui/web

doc: Add missing changelog line
  CHANGELOG.md
Labels: none

all: Bump to version 3.11.3
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

cli: Fix interactive QR code scanning
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

doc: Rename Upcoming section in CHANGELOG
  CHANGELOG.md
Labels: none

gs: Cache UDP connection errors
  pkg/gatewayserver/io/udp/config.go
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server, compat/config

gs: Skip error states during GC
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server

all: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

api,is: Add field to require secure gateway connections
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

gs: Check if gateway allows unauthenticated connections
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/mock/entity_registry.go
Labels: c/gateway server

all: Use HTTP client and transport from component
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/web/config.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/component/http.go
  pkg/config/shared.go
  pkg/fetch/fetch_test.go
  pkg/fetch/http.go
  pkg/fetch/http_test.go
  pkg/frequencyplans/frequencyplans_test.go
  pkg/identityserver/config.go
  pkg/identityserver/email.go
  pkg/networkserver/networkserver.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/token.go
Labels: c/identity server, c/gateway conf server, c/network server, c/application server, compat/config, ui/web

console: Update data formats url
  CHANGELOG.md
  pkg/webui/console/components/events/details/index.js
Labels: ui/web

console: Fix fetch-table search functionality
  CHANGELOG.md
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/debounce.js
Labels: ui/web

dev: Add base applications list e2e tests
  cypress/integration/console/applications/list.spec.js
Labels: none

console: Extend template formats selectors
  pkg/webui/console/store/actions/device-template-formats.js
Labels: ui/web

console: Fix error handling in devices table
  CHANGELOG.md
  pkg/webui/console/containers/devices-table/index.js
Labels: ui/web

util: Fix payload size limits in AU915
  pkg/band/au_915_928.go
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

as: Cache fetch errors
  pkg/applicationserver/device_fetcher.go
  pkg/applicationserver/device_fetcher_test.go
Labels: c/application server

as: Add single flight end device fetcher
  pkg/applicationserver/config.go
  pkg/applicationserver/device_fetcher.go
Labels: c/application server, compat/config

as: Add timeout end device fetcher
  cmd/internal/shared/applicationserver/config.go
  pkg/applicationserver/config.go
  pkg/applicationserver/device_fetcher.go
  pkg/applicationserver/device_fetcher_test.go
Labels: c/application server, compat/config

as: Add circuit breaker end device fetcher
  cmd/internal/shared/applicationserver/config.go
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/device_fetcher.go
  pkg/applicationserver/device_fetcher_test.go
Labels: c/application server, compat/config

ci: Use "needs/triage" label instead of "new"
  .github/workflows/issue-triage.yml
Labels: none

ns: Account for MIC and MHDR in payload size calculation
  pkg/networkserver/downlink.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none
