Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

dev: Regenerate messages
  config/messages.json
Labels: none

api: Ensure FieldIsZero does not panic on nil receivers
  pkg/ttnpb/end_device.go
  pkg/ttnpb/zero_test.go
Labels: none

dev: Add generator as fieldmask generation dep
  tools/mage/js_sdk.go
Labels: tooling

api: Adjust NS registry GET fieldmasks
  pkg/ttnpb/field_mask_validation.go
Labels: none

console: Add collaborators e2e tests
  cypress/integration/console/shared/collaborators/edit.spec.js
  cypress/support/commands.js
Labels: none

console: Introduce a connection timeout limit for SDK calls
  pkg/webui/console/api/index.js
Labels: ui/web

console: Extend logic creation utility with offline behavior
  pkg/webui/console/store/actions/lib.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/lib.js
Labels: ui/web

console: Add redux primitives for updated status store
  pkg/webui/console/store/actions/status.js
  pkg/webui/console/store/middleware/logics/status.js
  pkg/webui/console/store/reducers/status.js
  pkg/webui/console/store/selectors/status.js
Labels: ui/web

util: Fix axios config passing
  sdk/js/src/api/http.js
Labels: none

util: Prevent unhandled promise rejections in stream handler
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
Labels: none

console,oauth: Update footer for new online states
  pkg/webui/components/footer/index.js
Labels: ui/web

console: Add automatic re-request to useRequest hook
  pkg/webui/lib/hooks/use-request.js
Labels: ui/web

console,oauth: Add automatic re-request to with-request HOC
  pkg/webui/lib/components/with-request.js
Labels: ui/web

console,oauth: Add additional network related error utilities
  pkg/webui/lib/errors/utils.js
Labels: ui/web

console: Update error view for new online states
  pkg/webui/console/views/error/connect.js
  pkg/webui/console/views/error/error.js
Labels: ui/web

console,oauth: Update offline status component for new online states
  pkg/webui/components/offline-status/index.js
  pkg/webui/components/offline-status/offline.styl
Labels: ui/web

console,oauth: Add new online state enum constants
  pkg/webui/constants/online-status.js
  pkg/webui/lib/prop-types.js
Labels: ui/web

console: Update app view for new online states
  pkg/webui/console/views/app/index.js
Labels: ui/web

console: Update event store logic for new online states
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/status.js
Labels: ui/web

console: Add application e2e tests
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/applications/edit.spec.js
Labels: none

as: Return correct HTTP status codes on AS webhook downlink
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

console,dev: Update locales and shared messages
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Improve wording of offline/online state messages
  pkg/webui/components/offline-status/index.js
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

dev: Regenerate messages
  config/messages.json
Labels: none

dev: Regenerate API definitions
  sdk/js/generated/api-definition.json
Labels: none

all: Bump to version 3.10.6
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

console: Update event messages
  pkg/webui/console/components/events/messages.js
Labels: ui/web

console: Extend synthetic event messages
  pkg/webui/console/lib/events/definitions.js
Labels: ui/web

console: Mark synthetic events as originating from console
  pkg/webui/console/components/events/events.styl
Labels: ui/web

console: Refactor event detail panel to show synthetic info
  pkg/webui/console/components/events/details/details.styl
  pkg/webui/console/components/events/details/index.js
  pkg/webui/console/components/events/details/synthetic.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

ns: Avoid forbidden path in Reset tests
  pkg/networkserver/grpc_deviceregistry_test.go
Labels: c/network server

dev: Fix changelog issues
  CHANGELOG.md
Labels: none

dev: Skip pre-push hooks on empty stdin
  tools/mage/git.go
Labels: tooling

ci: Fix link to release notes
  .github/workflows/release-tag.yml
Labels: none

oauth: Allow authorization code option overrides
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
Labels: ui/web

oauth: Allow callback parameters to be provided as POST form data
  pkg/web/oauthclient/callback.go
Labels: ui/web

oauth: Make authorization code options dynamic
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
Labels: ui/web

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
