Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

as: Fix application link updates via gRPC
  pkg/applicationserver/grpc.go
Labels: c/application server

as: Use empty links internally
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc.go
Labels: c/application server

as: Use context for Redis Pub/Sub
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/distribution/redis/redis.go
Labels: c/application server, compat/db

as: Move context decoupling later into the chain
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/distribution/distribution.go
  pkg/applicationserver/distribution/local_distributor.go
  pkg/applicationserver/distribution/pubsub_distributor.go
  pkg/applicationserver/distribution/subscription_map.go
  pkg/applicationserver/distribution/subscription_set.go
Labels: c/application server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

api: Remove Ns.LinkApplication
  api/api.md
  api/networkserver.proto
  pkg/ttnpb/networkserver.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

cli: Configure application uplink queue
  cmd/ttn-lw-stack/commands/start.go
Labels: none

ns: Log arguments in tests
  pkg/networkserver/grpc_asns_test.go
Labels: c/network server

ns: Only send FPort>0 uplinks to AS
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

ns: Close NS in tests
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

dev: Regenerate messages
  config/messages.json
Labels: none

ns: Use NsAs interface for sending uplinks
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/observability.go
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

ns: Improve logging
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

ns: Assert invalidation sent for pre-1.1
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/networkserver_flow_test.go
Labels: c/network server

as: Remove NS linking API
  pkg/applicationserver/util_test.go
Labels: c/application server

ns: Extract consts
  pkg/networkserver/grpc_asns.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

ns: Update comments
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_asns.go
Labels: c/network server

api: Remove Network Server related fields from application links
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  cmd/ttn-lw-cli/commands/applications_link.go
  config/messages.json
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc.go
  pkg/applicationserver/registry_test.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, ui/cli

ns: Change downlink queue operations to use cluster authentication
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
Labels: c/network server

util: Adapt NwkID length in DevAddr to errata
  pkg/types/devaddr.go
  pkg/types/devaddr_test.go
Labels: none

dev: Update changelog
  CHANGELOG.md
Labels: none

ci: Use separate config for GoReleaser release builds
  .github/workflows/release-tag.yml
  .goreleaser.release.yml
  tools/mage/dev.go
  tools/mage/header.yml
Labels: tooling

ci: Add GoReleaser snapshot builds
  .github/workflows/release-snapshot.yml
  .goreleaser.snapshot.yml
  tools/mage/dev.go
  tools/mage/header.yml
Labels: tooling

dev: Use builder for Docker images
  Dockerfile
Labels: none

cli: Add --dry-run flag for simulation
  cmd/ttn-lw-cli/commands/simulate.go
Labels: ui/cli

dev: Use yarn cache
  .github/workflows/e2e.yml
  .github/workflows/general.yml
  .github/workflows/js.yml
  .github/workflows/release-snapshot.yml
Labels: none

console: Clean up gateway views
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway-overview/connect.js
Labels: ui/web

console: Clean up application views
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
Labels: ui/web

util: Set toa variables as error attributes
  config/messages.json
  pkg/toa/toa.go
Labels: none

all: Make request ID header consistent between gRPC and HTTP
  pkg/rpcmiddleware/request_id.go
  pkg/rpcmiddleware/rpclog/utils.go
  pkg/rpcmiddleware/sentry/sentry.go
Labels: none

all: Make logging consistent between gRPC and HTTP
  CHANGELOG.md
  pkg/rpcmiddleware/rpclog/client_interceptors.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
  pkg/rpcmiddleware/rpclog/utils.go
  pkg/webmiddleware/log.go
  pkg/webmiddleware/log_test.go
Labels: none

all: Use gRPC field extractor from tags library
  pkg/rpcserver/rpcserver.go
  pkg/rpcserver/rpcserver_test.go
Labels: none

pba: Improve logging
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent

pba: Move contextual message operations to rpcs
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/packetbrokeragent/translation.go
  pkg/packetbrokeragent/translation_internal_test.go
Labels: c/packet broker agent

pba: Rename test tenant to foo-tenant
  pkg/packetbrokeragent/agent_test.go
Labels: c/packet broker agent

all: Implement field extraction on identifier types
  pkg/rpcserver/rpcserver_test.go
  pkg/ttnpb/identifiers.go
Labels: none

all: Propagate proxy headers to grpc-gateway
  CHANGELOG.md
  pkg/rpcserver/rpcserver.go
Labels: none
