Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

util: Add key wrapping testing utilities
  pkg/util/test/constructors.go
  pkg/util/test/test.go
Labels: none

util: Allow grpc logger configuration
  pkg/component/component.go
  pkg/component/grpc.go
Labels: none

ns: Refactor testing
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/internal/time/time.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/dev_status.go
  pkg/networkserver/mac/rekey_test.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/uplink_deduplicator.go
  pkg/networkserver/registry.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
Labels: c/network server, compat/config, compat/db

api: Add *Value wrappers
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/lorawan.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: compat/api

dr: Adapt to API changes
  pkg/devicerepository/store/remote/schema.go
Labels: none

all: Adapt to API changes
  cmd/ttn-lw-stack/commands/ns_db.go
  pkg/networkserver/mac/tx_param_setup.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
Labels: c/network server, compat/db

util: Add *Value type flag support
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

api: Allow more value fields in NS API
  pkg/ttnpb/field_mask_validation.go
Labels: none

all: Make DR offset typed
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/lorawan.proto
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/band_test.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/ism_2400.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/messages.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_populate.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, compat/db

ns: Adapt to API changes
  pkg/networkserver/mac/tx_param_setup_test.go
  pkg/networkserver/mac/utils.go
Labels: c/network server

util: Fix *Value wrapper flag documentation
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

api: Implement FieldIsZero for added types
  pkg/ttnpb/end_device.go
Labels: none

api: Test enum encoding compatibility
  pkg/ttnpb/testdata/ttnpb_encoding_golden
  pkg/ttnpb/ttnpb_encoding_test.go
Labels: none

ns: Remove unused errors and types
  config/messages.json
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

api: Refactor lorawan type encoding
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden
  pkg/ttnpb/ttnpb.go
  pkg/ttnpb/ttnpb_encoding_test.go
Labels: none

dev: Fork gogo/protobuf
  go.mod
  go.sum
Labels: dependencies

util: Fix devicetemplate tests
  pkg/devicetemplates/tts_test.go
Labels: c/device converter

api: Test enum value wrapper encoding
  pkg/ttnpb/testdata/ttnpb_encoding_golden
  pkg/ttnpb/ttnpb_encoding_test.go
Labels: none

api: Add missing encoding methods
  pkg/ttnpb/end_device.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden
  pkg/ttnpb/ttnpb.go
Labels: none

util: Fix import loop in config
  pkg/config/config_test.go
  pkg/config/files_test.go
  pkg/config/unmarshal_internal_test.go
  pkg/config/unmarshal_test.go
Labels: compat/config

api: Add comments to clarify MarshalJSON behavior
  pkg/ttnpb/lorawan.go
Labels: none

api: Expand enum value wrapper test coverage
  pkg/ttnpb/testdata/ttnpb_encoding_golden
  pkg/ttnpb/ttnpb_encoding_test.go
Labels: none

api: Fix enum JSON marshaling
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/ttnpb.go
Labels: none

console,dev: Fix mac_settings handling in end device forms
  cypress/fixtures/console/devices/repository/test-brand-abp-model1.template.json
  cypress/integration/console/devices/create-repository.spec.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  sdk/js/src/service/devices/index.js
Labels: ui/web

dev: Regenerate messages
  config/messages.json
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

api: Regenerate
  sdk/js/generated/api-definition.json
Labels: none

api: Format golden file as markdown, test JSONPB
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
Labels: none

api: Support 32-bit enum lengths
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/ttnpb.go
Labels: none

dev: Fix cypress test typo
  cypress/integration/console/devices/create-repository.spec.js
Labels: none

util: Extract byteutil package
  pkg/encoding/lorawan/lorawan.go
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/messages.go
  pkg/util/byteutil/byteutil.go
Labels: none

api: Remove unused error
  config/messages.json
  pkg/ttnpb/errors.go
Labels: none

as: Consider only infrastructure errors
  pkg/applicationserver/device_fetcher.go
  pkg/applicationserver/device_fetcher_test.go
Labels: c/application server

all: Align usage of custom HTTP clients
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
  pkg/applicationserver/io/web/config.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/blob/bucket_test.go
  pkg/config/shared.go
  pkg/fetch/fetch_test.go
  pkg/fetch/http.go
  pkg/fetch/http_test.go
  pkg/frequencyplans/frequencyplans_test.go
  pkg/identityserver/config.go
  pkg/identityserver/email.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/networkserver/networkserver.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
Labels: c/identity server, c/gateway conf server, c/network server, c/application server, compat/config

console: Add require authenticated connection checkbox
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/console/gateways/edit.spec.js
  pkg/identityserver/store/fieldmask_paths.go
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/identity server, compat/db, ui/web

cli: Do not share transport between HTTP clients
  cmd/ttn-lw-stack/commands/start.go
  pkg/config/shared.go
Labels: compat/config

ns: Only use maxConfNbTrans for pre-1.0.4
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

dev: Update cypress dependency to 6.8.0
  package.json
  yarn.lock
Labels: dependencies

is: Change error for already used contact info validation token
  CHANGELOG.md
  config/messages.json
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/contact_info_validation.go
Labels: c/identity server, compat/db

api,is: Add login tokens
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/user.proto
  api/user_services.proto
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/identityserver/config.go
  pkg/identityserver/emails/login_token.go
  pkg/identityserver/store/login_token.go
  pkg/identityserver/store/login_token_store.go
  pkg/identityserver/store/login_token_store_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_access_test.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_services.pb.go
  pkg/ttnpb/user_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/config, compat/db
