Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

as: Ensure TLV encoding length does not overflow
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding_test.go
Labels: c/application server

as: Process application packages traffic inside a task
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/packages/packages.go
Labels: c/application server

as: Process webhook traffic inside a task
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

cli: Improve documentation YAML
  cmd/internal/commands/doc.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

gs: Change error code for conflict on absolute time to AlreadyExists
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/scheduling/scheduler.go
Labels: c/gateway server

dev: Update changelog
  CHANGELOG.md
Labels: none

ci: Add workflow to triage new issues
  .github/workflows/issue-triage.yml
Labels: none

dev: Add device creation fixtures for e2e tests
  cypress/fixtures/console/devices/repository/brands.json
  cypress/fixtures/console/devices/repository/test-brand-abp-model1.template.json
  cypress/fixtures/console/devices/repository/test-brand-abp.models.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model2.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model3.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa.models.json
Labels: none

dev: Update cypress dependency to 6.5.0
  cypress/integration/account/profile-settings.spec.js
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/smoke/feature-toggles/index.js
  package.json
  yarn.lock
Labels: dependencies

dev: Extend device e2e tests
  cypress/integration/console/devices/create-repository.spec.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
Labels: ui/web

api,is: Add created_at and updated_at to APIKey protos
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/rights.proto
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  pkg/identityserver/application_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/store/api_key.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/populate.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/user_access.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights.pb.paths.fm.go
  pkg/ttnpb/rights.pb.setters.fm.go
  pkg/ttnpb/rights.pb.validate.go
  pkg/ttnpb/user.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

ns: Fix determining non-retryable errors and add annotations
  pkg/networkserver/downlink.go
Labels: c/network server

dev: Revert changelog update
  CHANGELOG.md
Labels: none

console: Add data formats documentation link
  pkg/webui/console/components/events/details/index.js
  pkg/webui/console/components/events/messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Add test retries for cypress in headless mode
  config/cypress.json
Labels: none

dev: Adjust e2e tests
  cypress/integration/account/change-password.spec.js
  cypress/integration/account/overview.spec.js
  cypress/integration/account/profile-settings.spec.js
  cypress/integration/console/devices/create-repository.spec.js
  cypress/integration/console/devices/utils.js
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/console/gateways/edit.spec.js
  cypress/integration/console/gateways/location/create.spec.js
  cypress/integration/console/integrations/pub-subs/create.spec.js
  cypress/integration/console/organizations/create.spec.js
  cypress/integration/console/organizations/edit.spec.js
  cypress/integration/console/shared/collaborators/add.spec.js
  cypress/integration/console/shared/collaborators/edit.spec.js
  cypress/integration/smoke/feature-toggles/index.js
  cypress/support/commands.js
Labels: none

ns: Fix application uplink queue message ACK
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

cli: Retry application uplinks hanging for more than 1 minute
  cmd/ttn-lw-stack/commands/start.go
Labels: none

util: Add RangeStreams and XAUTOCLAIM implementation
  pkg/redis/lua/xAutoClaim.lua
  pkg/redis/redis.go
  pkg/redis/scripts.go
Labels: compat/db

dev: Regenerate messages
  config/messages.json
Labels: none

ns: Remove unused error
  config/messages.json
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

ns: Reimplement application uplink queue draining
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

pba: Add Telemetry
  CHANGELOG.md
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/observability.go
Labels: c/packet broker agent

api: Add session information to AsNs communcation
  api/api.md
  api/api.swagger.json
  api/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

ns: Emit session information on downlink queue operation errors
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/networkserver_flow_test.go
Labels: c/network server

ns: Send FPort=0 uplinks to the Application Server
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

ns: Simplify queue error reporting
  pkg/networkserver/grpc_asns.go
Labels: c/network server

as: Extract session matching logic to a separate function
  pkg/applicationserver/applicationserver.go
Labels: c/application server

as: Match end device session on downlink queue invalidation
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/webhooks_test.go
Labels: c/application server

as: Match end device session on downlink nack
  pkg/applicationserver/applicationserver.go
Labels: c/application server

as: Add DevEUI and JoinEUI in simulated uplinks
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
Labels: c/application server

as: Unit tests for SimulateUplink
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
Labels: c/application server

as: Rebuild end device sessions on downlink queue operations failure
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
Labels: c/application server

api: Allow FPort=0 uplinks
  api/api.md
  api/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

api: Add API to report Tx acknowledgment to Network Server
  api/api.md
  api/api.swagger.json
  api/gatewayserver.proto
  api/messages.proto
  api/networkserver.proto
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/networkserver.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

gs: Forward Tx acknowledgment messages upstream
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/downlink_token.go
  pkg/gatewayserver/io/downlink_token_test.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/config.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/observability.go
  pkg/gatewayserver/upstream/mock/network_server.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/gatewayserver/upstream/upstream.go
  pkg/packetbrokeragent/mock/networkserver.go
Labels: c/gateway server, c/packet broker agent, compat/config

ns: Add noop implementation for handling Tx acknowledgment messages
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/utils.go
Labels: c/network server

util: Update CHANGELOG
  CHANGELOG.md
Labels: none

util: Handle empty radios in frequency plan
  CHANGELOG.md
  pkg/pfconfig/cpf/cpf.go
  pkg/pfconfig/lbslns/lbslns.go
  pkg/pfconfig/semtechudp/semtechudp.go
Labels: c/gateway conf server

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
