Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

is: Update log messages
  pkg/identityserver/gateway_registry.go
Labels: c/identity server

dev: Generate messages
  config/messages.json
  pkg/identityserver/store/gateway_store_test.go
Labels: c/identity server, compat/db

cli: Show missing data warning message when applicable only
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_packages.go
Labels: ui/cli

api: Document Storage Integration APIs
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  sdk/js/generated/api.json
Labels: compat/api

dev: Update react-intl dependency
  package.json
  yarn.lock
Labels: dependencies

api: Update claim_authentication_code sub-field doc
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/identityserver/gateway_registry.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gateway.pb.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api

console: Use arrow function in tags group
  pkg/webui/components/tag/group/index.js
Labels: ui/web

console,oauth: Fix window resize for tags group
  pkg/webui/components/tag/group/index.js
Labels: ui/web

cli: Simulate application uplinks command
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
Labels: ui/cli

cli: Rename command to simulate gateway-uplink
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/simulate.go
Labels: ui/cli

cli: Mark expiremental simulate commands as hidden
  cmd/ttn-lw-cli/commands/simulate.go
Labels: ui/cli

cli: Remove unused flags from simulate application-uplink command
  cmd/ttn-lw-cli/commands/simulate.go
Labels: ui/cli

cli: Set ReceivedAt field for simulated uplinks
  cmd/ttn-lw-cli/commands/simulate.go
Labels: ui/cli

cli: Add simulate commands descriptions
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/simulate.go
Labels: ui/cli

console,oauth: Fix log spamming of error-notification logs
  pkg/webui/components/error-notification/index.js
Labels: ui/web

console,oauth: Prevent header shrinking
  pkg/webui/components/header/header.styl
Labels: ui/web

ns: Reimplement matching
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/redis.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
  pkg/networkserver/registry.go
Labels: c/network server, compat/db

util: Add session authentication to js sdk
  sdk/js/src/api/http.js
  sdk/js/src/api/index.js
  sdk/js/src/api/index.test.js
  sdk/js/src/index.js
  sdk/js/src/util/constants.js
Labels: none

util: Rename sdk class to TTS
  sdk/js/src/index.js
Labels: none

util: Update js sdk docs and examples
  sdk/js/README.md
  sdk/js/src/examples/basic.js
Labels: none

util: Update js sdk tests
  sdk/js/src/index.test.js
Labels: none

console,oauth: Remove horizontal prop from form component
  pkg/webui/components/form/index.js
Labels: ui/web

console,oauth: Remove horizontal styling from form fields
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/info.js
Labels: ui/web

console,oauth: Remove horizontal prop from inputs
  pkg/webui/components/input/index.js
Labels: ui/web

console,oauth: Allow form fields without title
  pkg/webui/components/form/field/index.js
Labels: ui/web

console: Update sdk instantialization
  pkg/webui/console/api/index.js
Labels: ui/web

ns: Allow custom ADR
  pkg/networkserver/downlink.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/utils.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

console,oauth: Update form sub title styling
  pkg/webui/components/form/sub-title/index.js
Labels: ui/web

console,oauth: Update checkbox styling
  pkg/webui/components/checkbox/checkbox.styl
  pkg/webui/components/checkbox/group/group.styl
Labels: ui/web

console,oauth: Update radio button styling
  pkg/webui/components/radio-button/group/group.styl
Labels: ui/web

oauth: Update form views for new vertical layout
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/login/index.js
  pkg/webui/oauth/views/update-password/index.js
Labels: ui/web

console,oauth: Set key value add button as secondary
  pkg/webui/components/key-value-map/index.js
Labels: ui/web

console,oauth: Add input width props to unit inputcomponent
  pkg/webui/components/unit-input/index.js
  pkg/webui/components/unit-input/unit-input.styl
Labels: ui/web

console,oauth: Disable tabstop for help icon
  pkg/webui/components/link/index.js
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

console,oauth: Add styling logic for input width classes
  pkg/webui/lib/prop-types.js
  pkg/webui/styles/mixins.styl
  pkg/webui/styles/variables/generic.styl
Labels: ui/web

console: Update form components and views for new vertical layout
  pkg/webui/components/form/sub-title/sub-title.styl
  pkg/webui/components/input/toggled.js
  pkg/webui/components/submit-bar/submit-bar.styl
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/components/downlink-form/downlink-form.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/uplink-form/uplink-form.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/components/webhook-template-info/index.js
  pkg/webui/console/containers/dev-addr-input/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-import/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
Labels: ui/web

console,oauth: Add input width props for select component
  pkg/webui/components/select/index.js
  pkg/webui/components/select/select.styl
Labels: ui/web

console,oauth: Add input width props for input component
  pkg/webui/components/input/index.js
  pkg/webui/components/input/input.styl
Labels: ui/web

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
