Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

all: Add support for proxy headers to gRPC server
  CHANGELOG.md
  cmd/internal/shared/config.go
  pkg/component/grpc.go
  pkg/config/shared.go
  pkg/rpcmiddleware/proxy_headers.go
  pkg/rpcserver/rpcserver.go
Labels: compat/config

all: Make default proxy header config for HTTP consistent with gRPC
  cmd/internal/shared/config.go
Labels: compat/config

all: Reorder gRPC error middleware
  pkg/rpcserver/rpcserver.go
Labels: none

all: Write gRPC tags to Sentry without prefix
  pkg/rpcmiddleware/sentry/sentry.go
Labels: none

all: Use same logic for Request IDs and Request Correlation IDs
  pkg/events/correlation_interceptor.go
  pkg/rpcmiddleware/request_id.go
Labels: none

all: Move gRPC recovery middleware up the chain
  pkg/rpcserver/rpcserver.go
Labels: none

all: Bump to version 3.10.2
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

dev: Fix changelog for 3.10.2
  CHANGELOG.md
Labels: none

all: Return non-nil Rights struct on Sort and Intersect
  pkg/ttnpb/rights.go
Labels: none

all: Propagate request ID to rights fetches
  pkg/auth/rights/fetcher.go
  pkg/rpcmetadata/request.go
Labels: none

dev: Add ttn-lw-stack binary to Docker image
  Dockerfile
Labels: none

cli: Commands to configure application activation settings
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
Labels: ui/cli

ns: Send join-accept to AS on successful scheduling
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

all: Fix Basic Authentication
  CHANGELOG.md
  pkg/webmiddleware/basic_auth.go
  pkg/webmiddleware/basic_auth_test.go
Labels: none

console: Remove api usage in gateway-api-keys components
  pkg/webui/console/views/gateway-api-key-add/connect.js
  pkg/webui/console/views/gateway-api-key-add/gateway-api-key-add.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/connect.js
  pkg/webui/console/views/gateway-api-key-edit/gateway-api-key-edit.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
Labels: ui/web

dev: Make title consistent
  DEVELOPMENT.md
Labels: none

doc: Fix Redis codec documentation
  DEVELOPMENT.md
Labels: none

cli: Add support for managing AWS IoT Application Pubsubs
  cmd/ttn-lw-cli/commands/applications_pubsub.go
Labels: ui/cli

all: Bump to version 3.10.3
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

api: Make linebreak consistent
  api/packetbrokeragent.proto
  pkg/ttnpb/packetbrokeragent.pb.go
  sdk/js/generated/api.json
Labels: compat/api

gs: Reorder config fields
  cmd/internal/shared/gatewayserver/config.go
Labels: compat/config

cli: Configure AWS IoT deployment
  cmd/ttn-lw-cli/commands/applications_pubsub.go
Labels: ui/cli

util: Add PBA to cluster config
  pkg/cluster/cluster.go
  pkg/cluster/config.go
Labels: compat/config

dev: Add GatewayConnectionStats to Redis codec util
  pkg/redis/codec/main.go
Labels: compat/db

console: Add user api-keys redux primitives
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/middleware/logics/api-keys.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/store/reducers/api-keys.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/rights.js
  pkg/webui/console/store/reducers/user.js
  pkg/webui/console/store/reducers/users.js
  pkg/webui/console/store/selectors/rights.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/store/selectors/users.js
Labels: ui/web

util: Extend user service
  sdk/js/src/service/users.js
Labels: none

console: Extend api definitions
  pkg/webui/console/api/index.js
Labels: ui/web

console: Extend api definitions
  pkg/webui/console/api/index.js
Labels: ui/web

util: Extend user service
  sdk/js/src/service/users.js
Labels: none

console: Add user api keys list view
  pkg/webui/console/views/user-api-keys-list/connect.js
  pkg/webui/console/views/user-api-keys-list/index.js
  pkg/webui/console/views/user-api-keys-list/user-api-keys-list.js
Labels: ui/web

console: Add user api key add view
  pkg/webui/console/views/user-api-key-add/connect.js
  pkg/webui/console/views/user-api-key-add/index.js
  pkg/webui/console/views/user-api-key-add/user-api-keys-add.js
Labels: ui/web

console: Add user api key edit view
  pkg/webui/console/views/user-api-key-edit/connect.js
  pkg/webui/console/views/user-api-key-edit/index.js
  pkg/webui/console/views/user-api-key-edit/user-api-keys-edit.js
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

console: Add user api keys management views to navigation
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/user-api-keys/index.js
  pkg/webui/console/views/user/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Add user api-keys e2e tests
  cypress/integration/console/shared/api-keys/add.spec.js
  cypress/integration/console/shared/api-keys/edit.spec.js
Labels: none

api: Add purge RPCs
  api/api.md
  api/api.swagger.json
  api/application_services.proto
  api/gateway_services.proto
  api/organization_services.proto
  api/user_services.proto
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/user_services.pb.go
  pkg/ttnpb/user_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

is: Add purge registry methods
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server, compat/db

cli: Add purge cli commands
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/messages.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/users.go
Labels: ui/cli

is: Add store purge methods
  config/messages.json
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/application_store_test.go
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/organization_store_test.go
  pkg/identityserver/store/scope.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/store/user_store_test.go
Labels: c/identity server, compat/db

dev: Add CHANGELOG
  CHANGELOG.md
Labels: none

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
