Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

ci: Use log.level debug for test logs
  .github/workflows/e2e.yml
Labels: none

dev: Update dependabot config
  .github/dependabot.yml
Labels: none

console: Extend prop-types definitions
  pkg/webui/lib/prop-types.js
Labels: ui/web

console: Add device card component
  pkg/webui/assets/misc/end-device-placeholder.svg
  pkg/webui/console/views/device-add/repository/device-card/connect.js
  pkg/webui/console/views/device-add/repository/device-card/device-card.js
  pkg/webui/console/views/device-add/repository/device-card/device-card.styl
  pkg/webui/console/views/device-add/repository/device-card/index.js
Labels: ui/web

console: Show device card after device selection
  pkg/webui/console/views/device-add/repository/device-card/device-card.js
  pkg/webui/console/views/device-add/repository/device-card/device-card.styl
  pkg/webui/console/views/device-add/repository/device-selection/model-select/model-select.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

util: Fix AU915-928 band
  CHANGELOG.md
  pkg/band/au_915_928.go
Labels: none

all: Bump to version 3.11.0
  CHANGELOG.md
  SECURITY.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

all: Bump to v3.12.0-dev
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

is: Move soft-delete logic to separate file
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/model.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/scope.go
  pkg/identityserver/store/soft_delete.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/user_store.go
Labels: c/identity server, compat/db

api: Make deleted_at a public field
  pkg/ttnpb/public.go
Labels: none

cli: Add flag to include deleted entities in list and search commands
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
Labels: ui/cli

cli: Add commands for restoring soft-deleted entities
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
Labels: ui/cli

api,is,cli: Add Purge command for OAuth clients
  api/api.md
  api/api.swagger.json
  api/client_services.proto
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/messages.go
  config/messages.json
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/client_store_test.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/store_interfaces.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/client_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli

api,is,cli: Add soft-delete changes to Changelog
  CHANGELOG.md
Labels: none

all: Add auth token type and id to logs
  pkg/rpcmiddleware/rpclog/client_interceptors.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
  pkg/rpcmiddleware/rpclog/utils.go
  pkg/webmiddleware/log.go
Labels: none

api: Add collaborator log fields
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/logfields.go
Labels: none

is: Add user ID to request logs
  pkg/identityserver/entity_access.go
  pkg/rpcmiddleware/rpclog/context.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
Labels: c/identity server

console: Add registration types to device creation
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
  pkg/webui/console/views/device-add/utils.js
Labels: ui/web

console: Fix progress hint in device repo form
  pkg/webui/console/views/device-add/repository/hints/progress-hint.js
Labels: ui/web

console: Add breacrumb to device repo form
  pkg/webui/console/views/device-add/repository/repository.js
Labels: ui/web

console: Fix manual device form breadcrumb link
  pkg/webui/console/views/device-add/manual/manual.js
Labels: ui/web

console: Fix device repository mentions
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/console/views/device-add/repository/hints/other-hint.js
Labels: ui/web

dev: Extend device creation tests
  cypress/integration/console/devices/create-repository.spec.js
Labels: none

console: Fix device creation toast message
  pkg/webui/console/views/device-add/repository/repository.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Fix device repository hint message
  pkg/webui/console/views/device-add/repository/hints/other-hint.js
Labels: ui/web

console: Persist join_eui between multiple device creation
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
Labels: ui/web

dev: Disable video for e2e runs
  config/cypress.json
Labels: none

console,oauth: Add check for null values to field component
  pkg/webui/components/form/field/index.js
Labels: ui/web

oauth: Add new overview and routing
  pkg/webui/account/views/landing/index.js
  pkg/webui/account/views/overview/index.js
  pkg/webui/account/views/overview/overview.styl
Labels: ui/web

oauth: Add profile settings form container
  pkg/webui/account/containers/profile-settings-form/index.js
  pkg/webui/account/containers/profile-settings-form/messages.js
  pkg/webui/account/containers/profile-settings-form/profile-settings-form.styl
  pkg/webui/account/containers/profile-settings-form/validation-schema.js
Labels: ui/web

console,oauth: Add profile picture prop type
  pkg/webui/lib/prop-types.js
Labels: ui/web

dev: Extend webpack dev server proxies for blob assets
  config/webpack.config.babel.js
Labels: none

account: Remove session cookies associated with unknown sessions
  pkg/account/session/session.go
Labels: none

dev: Add md5 package
  package.json
  yarn.lock
Labels: dependencies

oauth,console: Extend file input component for image uploads
  pkg/webui/components/file-input/file-input.styl
  pkg/webui/components/file-input/index.js
Labels: ui/web

oauth: Add profile settings view
  pkg/webui/account/constants/auth-routes.js
  pkg/webui/account/containers/header/index.js
  pkg/webui/account/views/profile-settings/index.js
Labels: ui/web

console,oauth: Update shared messages
  pkg/webui/lib/shared-messages.js
Labels: ui/web

util: Extend get user function to retrieve new profile picture
  sdk/js/src/service/users.js
Labels: none

oauth,console: Add selector utility for profile pictures
  pkg/webui/lib/selectors/profile-picture.js
Labels: ui/web
