Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

api: Add comments for documentation
  api/api.md
  api/api.swagger.json
  api/application_services.proto
  api/client_services.proto
  api/contact_info.proto
  api/end_device_services.proto
  api/gateway_services.proto
  api/identityserver.proto
  api/oauth_services.proto
  api/organization_services.proto
  api/search_services.proto
  api/user_services.proto
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/oauth_services.pb.go
  pkg/ttnpb/search_services.pb.go
  sdk/js/generated/api.json
Labels: compat/api

console,oauth: Update logo for new logo style
  pkg/webui/components/logo/index.js
  pkg/webui/components/logo/logo.styl
  pkg/webui/components/logo/story-logo-2.svg
  pkg/webui/components/logo/story.js
  pkg/webui/containers/logo/index.js
Labels: ui/web

console,oauth: Update header
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/components/header/story.js
Labels: ui/web

console,oauth: Fix profile dropdown spacing
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-dropdown/profile-dropdown.styl
Labels: ui/web

oauth: Fix login view logo styling
  pkg/webui/oauth/views/login/login.styl
Labels: ui/web

console,oauth: Update branding assets
  pkg/webui/assets/static/console-favicon.ico
  pkg/webui/assets/static/console-favicon.svg
  pkg/webui/assets/static/console-og-image.png
  pkg/webui/assets/static/console-touch-icon.png
  pkg/webui/assets/static/logo.svg
  pkg/webui/assets/static/oauth-favicon.ico
  pkg/webui/assets/static/oauth-favicon.png
  pkg/webui/assets/static/oauth-favicon.svg
  pkg/webui/assets/static/oauth-og-image.png
  pkg/webui/assets/static/oauth-touch-icon.png
Labels: ui/web

console,oauth: Update brand color variables
  CHANGELOG.md
  pkg/webui/styles/variables/brand.styl
Labels: ui/web

console: Fix nested side navigation focus
  pkg/webui/components/navigation/side/item/index.js
Labels: ui/web

console,oauth: Clean up styles
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/components/mobile-menu/mobile-menu.styl
Labels: ui/web

as: Decouple uplink context before submission
  CHANGELOG.md
  pkg/applicationserver/linking.go
Labels: c/application server

console: Add device MAC settings page
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device/index.js
Labels: ui/web

console: Add supports_class_b to device general settings
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: ui/web

console: Extend key-value-map component
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
Labels: ui/web

console,oauth: Adjust select prop-types
  pkg/webui/components/select/index.js
Labels: ui/web

console: Add mac settings section
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
Labels: ui/web

console: Add mac settings to network settings form
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/lib/shared-messages.js
Labels: ui/web

console: Add supports_class_b to device wizard
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/lib/shared-messages.js
Labels: ui/web

console: Add mac settings to network server form
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: ui/web

console,oauth: Fix form section style
  pkg/webui/components/form/section/section.styl
Labels: ui/web

console: Fix device class handling in device general settings
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

util: Handle default enum values for mac settings
  sdk/js/src/service/devices/index.js
Labels: none

console,oauth: Add excludePaths prop to wizard form
  pkg/webui/components/wizard/form/index.js
Labels: ui/web

dev: Add base device creation e2e tests
  config/cypress.json
  cypress/integration/console/devices/create.spec.js
  cypress/integration/console/devices/utils.js
  cypress/support/commands.js
  cypress/support/utils.js
Labels: none

console: Fix device class handling in device wizard
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: ui/web

doc: Update changelog
  CHANGELOG.md
Labels: none

console: Make nwk_key required in join settings form
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
Labels: ui/web

util: Fix device parts merge
  sdk/js/src/service/devices/merge.js
Labels: none

console: Fix join-eui-prefixes input
  pkg/webui/console/components/join-eui-prefixes-input/index.js
Labels: ui/web

console: Fix dev-addr-input for e2e tests
  pkg/webui/console/containers/dev-addr-input/dev-addr-input.js
Labels: ui/web

console: Fix wizard form values reset
  pkg/webui/components/wizard/form/index.js
Labels: ui/web

console: Improve navigation through steps in device wizard
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/form/prev-button.js
  pkg/webui/components/wizard/wizard.js
  pkg/webui/console/views/device-add/wizard/index.js
Labels: ui/web

console: Move bit_f_cnt to mac-settings section
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Labels: ui/web

console: Fix basic-settings form device id validation
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
Labels: ui/web

util: Add skip_payload_crypto to device-entity-map
  sdk/js/generated/device-entity-map.json
  sdk/js/generated/device-field-masks.json
Labels: none

console: Expand advanced settings in ns form on error
  pkg/webui/console/views/device-add/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/lib/shared-messages.js
Labels: ui/web

util: Format end device entity map
  sdk/js/generated/device-entity-map.json
Labels: none

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

as: Add TLV encoding field to package data
  pkg/applicationserver/io/packages/loradms/v1/data.go
Labels: c/application server

as: Decode DMS stream records
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
Labels: c/application server

as: Improve DMS payload decoding
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/data.go
Labels: c/application server

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
