Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

as: Check if the AppSKey is available before access
  pkg/applicationserver/applicationserver.go
Labels: c/application server

dev: Write admin API Key to file
  DEVELOPMENT.md
  tools/mage/dev.go
  tools/mage/go.go
Labels: tooling

ns: Fix possible race condition in uplink matching
  CHANGELOG.md
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

api: Add state_description fields to Clients and Users
  api/api.md
  api/api.swagger.json
  api/client.proto
  api/user.proto
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.paths.fm.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

is: Add state_description to Client and User models
  pkg/identityserver/store/client.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/user.go
Labels: c/identity server, compat/db

is: Make state_description admin-only field
  pkg/identityserver/client_registry.go
  pkg/identityserver/user_registry.go
Labels: c/identity server

is: Clear old state_description when state changes
  pkg/identityserver/client_registry.go
  pkg/identityserver/user_registry.go
Labels: c/identity server

is: Add User and Client state descriptions to emails
  pkg/identityserver/client_registry.go
  pkg/identityserver/emails/entity_state_changed.go
  pkg/identityserver/user_registry.go
Labels: c/identity server

util: Keep context values during component context decoupling
  pkg/component/component.go
  pkg/component/context.go
  pkg/component/context_test.go
Labels: none

ns: Fix matching type conditional
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

gs: Decouple the lifetime of the context before unclaim
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
  pkg/gatewayserver/upstream/ns/ns.go
Labels: c/gateway server

dev: Move NS fixes to Unreleased in CHANGELOG
  CHANGELOG.md
Labels: none

gs: Do not call (*T).Fatal from non-test goroutines
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
Labels: c/gateway server

console: Fix device creation conflict
  CHANGELOG.md
  pkg/webui/components/wizard/form/next-button.js
Labels: ui/web

is: Include state description in access errors and warnings
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_test.go
Labels: c/identity server

is: Test updating state and state description
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server

is: Add state description when admin approval required
  pkg/identityserver/client_registry.go
  pkg/identityserver/user_registry.go
Labels: c/identity server

is: Add state_description changes to changelog
  CHANGELOG.md
Labels: none

as: Define package name as const
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server, compat/config

all: Allow events to arrive out-of-order
  pkg/events/internal/eventstest/events_backend.go
Labels: none

api: Improve documentation
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/lorawan.proto
  api/messages.proto
  api/networkserver.proto
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/networkserver.pb.go
  sdk/js/generated/api.json
Labels: compat/api

is: Fix pagination in OAuth store
  CHANGELOG.md
  pkg/identityserver/store/oauth_store.go
Labels: c/identity server, compat/db

cli: Add missing pagination flags to OAuth commands
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/users_oauth.go
Labels: ui/cli

api,is,cli: Split search requests by entity type
  api/api.md
  api/api.swagger.json
  api/search_services.proto
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/registry_search_test.go
  pkg/identityserver/store/entity_search.go
  pkg/identityserver/store/entity_search_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.gw.go
  pkg/ttnpb/search_services.pb.paths.fm.go
  pkg/ttnpb/search_services.pb.setters.fm.go
  pkg/ttnpb/search_services.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli

api,is,cli: Search for Gateways by EUI
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/search_services.proto
  cmd/ttn-lw-cli/commands/gateways.go
  pkg/identityserver/store/entity_search.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.paths.fm.go
  pkg/ttnpb/search_services.pb.setters.fm.go
  pkg/ttnpb/search_services.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli

api,is,cli: Add client and user state to search
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/search_services.proto
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/identityserver/store/entity_search.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.paths.fm.go
  pkg/ttnpb/search_services.pb.setters.fm.go
  pkg/ttnpb/search_services.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli

console,account: Improve sentry error ingestion
  pkg/webui/lib/errors/utils.js
Labels: ui/web

dev: Update docs in release template
  .github/ISSUE_TEMPLATE/release.md
Labels: none

dev: Add error utility tests
  pkg/webui/lib/errors/utils_test.js
Labels: ui/web

console,account: Fix blur event handling in field
  pkg/webui/components/form/field/index.js
Labels: ui/web

console: Prefill device id on dev_eui change
  CHANGELOG.md
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
Labels: ui/web

console,account: Add inputRef to input component
  pkg/webui/components/input/index.js
Labels: ui/web

console: Select generated device id on focus in dr form
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/repository.js
Labels: ui/web

console,account: Use arrow functions in field
  pkg/webui/components/form/field/index.js
Labels: ui/web

dev: Extend device e2e tests
  cypress/integration/console/devices/create-repository.spec.js
  cypress/support/utils.js
Labels: none

is: Fix event type triggered on login
  CHANGELOG.md
  pkg/account/user.go
Labels: none

is: Move account app observability back to oauth package
  config/messages.json
  pkg/account/observability.go
  pkg/account/user.go
  pkg/oauth/observability.go
Labels: c/identity server

is: Publish logout event on oauth-initiated user logout
  pkg/oauth/user.go
Labels: c/identity server

all: Add remote IP and UA to web request context
  CHANGELOG.md
  pkg/web/web.go
  pkg/webmiddleware/peer.go
  pkg/webmiddleware/peer_test.go
Labels: none

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
