Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

pba: Subscribe always with the configured tenant ID
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent

console: Add organization tests
  cypress/integration/console/organizations/create.spec.js
  cypress/integration/console/organizations/edit.spec.js
  cypress/integration/smoke/organizations/create.js
  cypress/integration/smoke/organizations/index.js
Labels: none

console: Add overview e2e tests
  cypress/integration/console/shared/overview/overview.spec.js
  cypress/support/commands.js
  pkg/webui/components/map/widget/index.js
  pkg/webui/console/components/events/widget.js
  pkg/webui/console/containers/fetch-table/index.js
Labels: ui/web

all: Fix propagation of caller details in events
  CHANGELOG.md
  pkg/events/events.go
Labels: none

console: Add gateway tests
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/smoke/gateways/create.js
  cypress/integration/smoke/gateways/index.js
Labels: none

api,ns: Optimize join-accept storage
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/zero_test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, compat/api

is: Update email templates
  CHANGELOG.md
  pkg/email/funcs.go
  pkg/identityserver/application_access.go
  pkg/identityserver/emails/api_key_changed.go
  pkg/identityserver/emails/api_key_created.go
  pkg/identityserver/emails/collaborator_changed.go
  pkg/identityserver/emails/invitation.go
  pkg/identityserver/emails/temporary_password.go
  pkg/identityserver/emails/user_requested.go
  pkg/identityserver/emails/validate.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/user_access.go
Labels: c/identity server

api,gcs: Support rotation of CUPS credentials
  api/api.md
  api/gateway.proto
  config/messages.json
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/gateway conf server, c/cups, compat/api

api, is: Add target cups fields
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/populate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

dev: Generate definitions
  sdk/js/generated/api-definition.json
Labels: none

cli, gcs: Add fixes from gtw testing
  cmd/ttn-lw-cli/commands/gateways.go
  pkg/basicstation/cups/messages.go
  pkg/basicstation/cups/messages_test.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server, c/cups, ui/cli

dev: Update changelog
  CHANGELOG.md
  api/api.md
  api/gateway.proto
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

gcs: Support cups redirection
  config/messages.json
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server, c/cups

gcs: Remove option to expliticly enable cups
  CHANGELOG.md
  config/messages.json
  pkg/basicstation/cups/config.go
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server, c/cups, compat/config

gcs: Inject bearer for CUPS auth tokens if needed
  pkg/basicstation/cups/messages.go
  pkg/basicstation/cups/messages_test.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server, c/cups

dev: Support deletion in pre-push hook
  tools/mage/git.go
Labels: tooling

api: Reserve deprecated MACState.JoinRequest fields
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
Labels: compat/api

api: Make attribute validation more strict
  api/api.md
  api/application.proto
  api/client.proto
  api/end_device.proto
  api/gateway.proto
  api/messages.proto
  api/organization.proto
  api/search_services.proto
  api/user.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

api: Set maximum size on repeated fields
  api/api.md
  api/application.proto
  api/client.proto
  api/end_device.proto
  api/gateway.proto
  api/organization.proto
  api/user.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

api: Set maximum size on string fields
  api/api.md
  api/applicationserver_web.proto
  api/client.proto
  api/contact_info.proto
  api/deviceclaimingserver.proto
  api/end_device.proto
  api/gateway.proto
  api/picture.proto
  api/search_services.proto
  api/user.proto
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/contact_info.pb.go
  pkg/ttnpb/contact_info.pb.validate.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/picture.pb.go
  pkg/ttnpb/picture.pb.validate.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

api: Set maximum size on bytes fields
  api/api.md
  api/applicationserver_pubsub.proto
  api/joinserver.proto
  api/keys.proto
  api/picture.proto
  api/secrets.proto
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/keys.pb.validate.go
  pkg/ttnpb/picture.pb.go
  pkg/ttnpb/picture.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

api: Document stricter validation in Changelog
  CHANGELOG.md
Labels: none

console: Update validation rules
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
Labels: ui/web

console,dev: Update shared messages and locales
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console,oauth: Allow resetting select value
  pkg/webui/components/select/index.js
Labels: ui/web

console,oauth: Resolve select eslint warning
  pkg/webui/components/select/index.js
Labels: ui/web

ns: Fix tests
  pkg/networkserver/downlink_test.go
  pkg/networkserver/mac/rekey_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

is: Add option to disable user registrations
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/identityserver/config.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server, compat/config

api,is: Add user_registration.enabled to IS Configuration message
  api/api.md
  api/api.swagger.json
  api/identityserver.proto
  pkg/identityserver/config.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/config

oauth,is: Add user registration flag to app config data
  pkg/identityserver/identityserver.go
  pkg/oauth/config.go
Labels: c/identity server, compat/config

oauth: Disable user registration when configured so
  pkg/webui/lib/selectors/env.js
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/landing/index.js
  pkg/webui/oauth/views/login/index.js
Labels: ui/web

cli: Add missing commands for getting a single collaborator or api key
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users_access.go
Labels: ui/cli

ns: Fix panic in DLChannelReq with rejected frequencies
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/dl_channel_test.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

util: Ensure JS processor can manipulate input bytes
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/javascript/javascript_test.go
Labels: c/application server

all: Add submodules for external repositories
  .gitmodules
Labels: none

all: Include external repositories in Docker builds
  Dockerfile
Labels: none

ci: Make submodules work in CI snapshot and release builds
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  .goreleaser.release.yml
  .goreleaser.snapshot.yml
Labels: none

dev: Add submodule tooling
  tools/mage/git.go
Labels: tooling

dev: Document submodules
  CHANGELOG.md
  DEVELOPMENT.md
Labels: none

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
