Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

oauth: Clean up organization view
  pkg/webui/console/views/organization/organization.js
Labels: ui/web

all: Set cluster namespace on cluster logging
  pkg/component/cluster.go
Labels: none

all: Allow logging internal errors
  pkg/errors/errors.go
Labels: none

oauth: Clean up create-account view
  pkg/webui/oauth/views/create-account/index.js
Labels: ui/web

console: Add password validation to user management
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console,oauth: Add password utilities
  package.json
  pkg/webui/lib/password/index.js
  pkg/webui/lib/password/password_test.js
  yarn.lock
Labels: dependencies, ui/web

as: Improve webhooks log context
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

as: Improve MQTT error handling
  pkg/applicationserver/io/mqtt/mqtt.go
Labels: c/application server

gs: Improve MQTT error handling
  pkg/gatewayserver/io/mqtt/mqtt.go
Labels: c/gateway server

all: Add task finished callback
  pkg/component/tasks.go
Labels: none

gs: Wait for upstream tasks to finish
  pkg/component/tasks.go
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server

gs: Ensure downlink handler is awaited on connection closure
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server

ns: Fix NACK handling
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

ns: Nillify PendingApplicationDownlink on NACK
  pkg/networkserver/downlink.go
Labels: c/network server

all: Make TLS server name a func of the cluster
  pkg/cluster/cluster.go
Labels: none

console: Refactor application-api-key add and edit components
  pkg/webui/console/views/application-api-key-add/application-api-key-add.js
  pkg/webui/console/views/application-api-key-add/connect.js
  pkg/webui/console/views/application-api-key-edit/application-api-key-edit.js
  pkg/webui/console/views/application-api-key-edit/connect.js
Labels: ui/web

dev: Add shared api keys e2e tests
  cypress/integration/console/applications/api-keys/api-keys.spec.js
  cypress/integration/console/shared/api-keys/add.spec.js
  cypress/integration/console/shared/api-keys/edit.spec.js
  cypress/support/commands.js
  pkg/webui/console/views/application-api-key-edit/connect.js
Labels: ui/web

console: Remove api usage in application-api-keys components
  pkg/webui/console/views/application-api-key-add/application-api-key-add.js
  pkg/webui/console/views/application-api-key-add/connect.js
  pkg/webui/console/views/application-api-key-edit/application-api-key-edit.js
  pkg/webui/console/views/application-api-key-edit/connect.js
  pkg/webui/console/views/application-api-key-edit/index.js
Labels: ui/web

dev: Add application api keys e2e tests
  cypress/integration/console/applications/api-keys/api-keys.spec.js
Labels: none

console: Refactor application-api-key-add component
  pkg/webui/console/views/application-api-key-add/application-api-key-add.js
  pkg/webui/console/views/application-api-key-add/connect.js
Labels: ui/web

dev: Update shared api keys e2e tests
  cypress/integration/console/shared/api-keys/add.spec.js
  cypress/integration/console/shared/api-keys/edit.spec.js
  cypress/support/commands.js
Labels: none

ns: Avoid sending NACK on timeouts
  pkg/networkserver/downlink.go
Labels: c/network server

dev: Update shared api keys cypress tests
  cypress/integration/console/shared/api-keys/edit.spec.js
  cypress/support/commands.js
  pkg/webui/console/views/application-api-key-edit/connect.js
Labels: ui/web

dev: Fix mage
  tools/go.mod
  tools/go.sum
Labels: tooling

console,oauth: Add glossary link component
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
Labels: ui/web

console,oauth: Add styling fixes for field labels
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
Labels: ui/web

console: Add glossary links to form fields
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/constants/glossary-ids.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

ns: Fix application uplink queue
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

all: Bump to version 3.10.1
  CHANGELOG.md
  SECURITY.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

console: Fix imprecise proptype
  pkg/webui/lib/components/error-view.js
Labels: ui/web

gs: Fix TxAck exit condition
  pkg/gatewayserver/io/ws/lbslns/upstream.go
Labels: c/gateway server

gs: Fix sending downlink message that failed to marshal
  pkg/gatewayserver/io/ws/ws.go
Labels: c/gateway server

gs: Cleanup breaking from switch statement
  pkg/gatewayserver/io/ws/lbslns/upstream.go
Labels: c/gateway server

ns: Fix FCnt resets
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

ns: Fix raw payload usage in NS
  pkg/networkserver/grpc_gsns.go
Labels: c/network server
