Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

as: Add DMS TLV payload decoding
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
Labels: c/application server

as: Decode TLV stream records
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Check TLV payload size
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
Labels: c/application server

as: Emit DMS location solved messages
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Improve TLV encoding resilience
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding_test.go
Labels: c/application server

dev: Generate messages
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Submit uplink timestamp to DMS
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
Labels: c/application server

Revert "console: Fix nested side navigation focus"
  pkg/webui/components/navigation/side/item/index.js
Labels: ui/web

console: Update nested side navigation focus
  pkg/webui/components/navigation/side/list/list.styl
Labels: ui/web

as: Make DMS parser accept unknown types
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Fix invalid downlink FPort
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Add LoRaCloud DMS observability
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
  pkg/applicationserver/io/packages/loradms/v1/observability.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/observability.go
Labels: c/application server

console: Add LR1110 demo encoding to LoRaCloud form
  pkg/webui/console/containers/lora-cloud-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Add application location preview
  pkg/webui/console/components/events/previews/application-location.js
  pkg/webui/console/components/events/utils/definitions.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

as: Limit LoRaCloud DMS maximum response size
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
Labels: c/application server

ns: Fix retransmission handling
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

as: Improve observability
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/observability.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

gs: Fix RTT handling for LBS gateways
  CHANGELOG.md
  cmd/internal/shared/gatewayserver/config.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/ws/lbslns/format.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/ws_test.go
Labels: c/gateway server, compat/config

gs: Update lbs functions
  pkg/gatewayserver/io/ws/lbslns/upstream.go
Labels: c/gateway server

all: Bump to version 3.10.4
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

util: Fix types package populators
  pkg/types/random.go
  pkg/types/random_internal_test.go
Labels: none

util: Add test utilities
  pkg/util/test/context.go
Labels: none

is: Remove generated gateway secret key ID
  pkg/identityserver/store/populate.go
Labels: c/identity server, compat/db

console: Add hover menu to sidebar in collapsed state
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/navigation/side/item/index.js
  pkg/webui/components/navigation/side/item/item.styl
  pkg/webui/components/navigation/side/side.styl
Labels: ui/web

gs: Add emissions in scheduler to gc
  pkg/gatewayserver/scheduling/emission.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/sub_band.go
Labels: c/gateway server

dev: Update changelog
  CHANGELOG.md
Labels: none

dev: Update APT before installing snapcraft
  .github/workflows/release-tag.yml
Labels: none

cli: Refactor default components startup logic
  cmd/ttn-lw-stack/commands/start.go
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

util: Add Microchip log signer 003 certificate
  pkg/devicetemplates/microchip.go
Labels: c/device converter

is: Add user session access method
  pkg/ttnpb/identityserver.go
Labels: none

console: Fix event details panel opening on tab
  pkg/webui/console/components/events/index.js
Labels: ui/web

is, cli: Support gateway claim authentication code
  cmd/ttn-lw-cli/commands/gateways.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
Labels: c/identity server, compat/db, ui/cli

api: Add gateway claim authentication code
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

is: Add tests
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/gateway_store_test.go
Labels: c/identity server, compat/db

dev: Update Changelog
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/gateways.go
Labels: ui/cli

api,is: Update gateway claim auth code design
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

cli: Update gateway commands
  cmd/ttn-lw-cli/commands/gateways.go
Labels: ui/cli

gs: Update tests
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/populate.go
Labels: c/identity server, compat/db

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
