Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

console,oauth: Set file input button secondary
  pkg/webui/components/file-input/index.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Update stories
  pkg/webui/components/form/field/story.js
  pkg/webui/components/form/story.js
  pkg/webui/components/radio-button/story.js
Labels: ui/web

ns: Allow ADR data rate to be set in registry
  pkg/ttnpb/field_mask_validation.go
Labels: none

ns: Only reset ADR parameters in UseADR is true
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

ns: Validate ADR parameters in registry Set
  pkg/networkserver/grpc_deviceregistry.go
Labels: c/network server

dev: Update JS definitions
  sdk/js/generated/api-definition.json
Labels: none

util: Trim whitespace in Lua script generator
  pkg/redis/generate_scripts.go
Labels: compat/db

ns: Return next UID in scan script
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

ns: Use restore/dump hack instead of COPY
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

ns: Adapt tests to NS interface changes
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

ns: Pop entries from the right
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

ns: Increase cache TTL in tests
  pkg/networkserver/internal/test/shared/shared.go
Labels: c/network server

ns: Error in device registry on invalid devices
  pkg/networkserver/downlink_test.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

ns: Avoid matching pending session when ACK is set
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

ns: Adapt to matching backend changes
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

ns: Improve Redis matching implementation
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

util: Add redis.RunInterfaceSliceScript
  pkg/redis/redis.go
Labels: compat/db

api: Record whether MAC version uses legacy MIC
  pkg/ttnpb/lorawan.go
Labels: none

dev: Regenerate messages
  config/messages.json
Labels: none

ns: Account for ACK in GT scan
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

ns: Skip impossible FCnt matches in Redis
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

api: Implement msgpack interfaces on MACVersion
  pkg/ttnpb/lorawan.go
Labels: none

ns: Record no match on uplink
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

cli: Add NS migration functionality
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/redis.go
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

all: Bump to version 3.10.5
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

ns: Reorganize switch for clarity
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

ns: Fix merge conflicts
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

ns: Add comments
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

ns: Reorganize comments for clarity
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

oauth: Propagate OAuth2 configuration provider errors
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
  pkg/web/oauthclient/token.go
Labels: ui/web

ns: Remove debugging artifact
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

is: Add config option to grant admins all rights
  CHANGELOG.md
  pkg/identityserver/config.go
  pkg/identityserver/entity_access.go
Labels: c/identity server, compat/config

console: Remove application link status and prop types
  pkg/webui/console/containers/application-title-section/status/index.js
  pkg/webui/console/containers/application-title-section/status/status.styl
  pkg/webui/lib/prop-types.js
Labels: ui/web

console: Remove linking references
  cypress/integration/console/applications/create.spec.js
  pkg/webui/console/api/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/application-title-section/application-title-section.js
  pkg/webui/console/containers/application-title-section/connect.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/actions/link.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/reducers/link.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

api,as,cli: Field mask paths for storage integration API
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.paths.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.setters.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api, ui/cli

util: Update CHANGELOG
  CHANGELOG.md
Labels: none

console: Add warning to frequency_plan_id field
  pkg/webui/components/select/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/constants/frequency-plans.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console, dev: Add simple markdown to backend error messages
  cypress/integration/console/shared/collaborators/add.spec.js
  package.json
  pkg/webui/components/error-notification/story.js
  pkg/webui/components/notification/index.js
  pkg/webui/lib/components/error-message/index.js
  pkg/webui/lib/components/message/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/styles/main.styl
  pkg/webui/styles/variables/brand.styl
  yarn.lock
Labels: dependencies, ui/web
