Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Add glossary props to form fields
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
Labels: ui/web

console: Clean up prop structure for select containers
  pkg/webui/console/containers/fetch-select/index.js
Labels: ui/web

console,oauth: Fix form styling
  pkg/webui/components/form/field/field.styl
Labels: ui/web

dev: Update snapshots
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
Labels: ui/web

console: Add glossary terms for keys
  pkg/webui/console/constants/glossary-ids.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  sdk/js/generated/api-definition.json
Labels: ui/web

console: Update sdk api definitions
  sdk/js/generated/api-definition.json
Labels: none

dev: Use `start-single-node` command for CockroachDB image
  docker-compose.yml
Labels: none

dev: Run end to end tests when docker-compose.yml changes
  .github/workflows/e2e.yml
Labels: none

util: Check for error type in js sdk
  sdk/js/src/api/http.js
Labels: none

dev: Extend eslint with rule to prefer arrow functions
  config/eslintrc.yaml
  package.json
  yarn.lock
Labels: dependencies

console,oauth: Disable arrow functions rule for yup
  pkg/webui/lib/yup.js
Labels: ui/web

console: Fix navigation to user edit view in user-management
  CHANGELOG.md
  pkg/webui/console/views/admin-user-management-add/index.js
Labels: ui/web

console: Refactor application collaborator add view
  pkg/webui/console/views/application-collaborator-add/application-collaborator-add.js
  pkg/webui/console/views/application-collaborator-add/connect.js
  pkg/webui/console/views/application-collaborator-add/index.js
Labels: ui/web

dev: Add base collaborators e2e tests
  cypress/integration/console/shared/collaborators/add.spec.js
  cypress/support/commands.js
Labels: none

console: Refactor application collaborator edit view
  pkg/webui/console/views/application-collaborator-edit/application-collaborator-edit.js
  pkg/webui/console/views/application-collaborator-edit/connect.js
  pkg/webui/console/views/application-collaborator-edit/index.js
Labels: ui/web

console: Remove snapshot
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
Labels: ui/web

all: Do not redirect to port 443 if a redirect port is configured
  CHANGELOG.md
  pkg/web/web.go
Labels: none

dev: Upgrade Alpine to 3.12
  Dockerfile
Labels: none

console: Clean up error view
  pkg/webui/console/views/error/error.styl
  pkg/webui/console/views/error/index.js
  pkg/webui/console/views/error/sub-view.js
  pkg/webui/console/views/error/sub-view.styl
Labels: ui/web

console: Pass application status to full-error-view
  CHANGELOG.md
  pkg/webui/console/views/error/connect.js
  pkg/webui/console/views/error/error.js
Labels: ui/web

console: Revert doc link merge commit
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/constants/glossary-ids.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Connect event containers to truncate state
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/containers/organization-events/organization-events.js
Labels: ui/web

console: Add truncate functionality to event component
  pkg/webui/console/components/events/details/index.js
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/index.js
  pkg/webui/console/components/events/messages.js
Labels: ui/web

console: Limit event entries in the redux store
  pkg/webui/console/constants/event-store-limit.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/organizations.js
Labels: ui/web

console,oauth: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

as: Refactor LoRaCloud DAS request parsing
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/util_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/tokens.go
  pkg/applicationserver/io/packages/loradms/v1/api/tokens_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Add HTTP client timeout to LoRaCloud DAS
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loradms/v1/api/client_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

as: Skip payload crypto only if AppSKey is unknown to AS
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
Labels: c/application server

dev: Update changelog
  CHANGELOG.md
Labels: none

as: Check status code of LoRaCloud DAS responses before parsing
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
Labels: c/application server

console: Fix preview of downlink attempt events
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/downlink-message.js
Labels: ui/web

console: Improve preview description labels
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/application-downlink.js
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/uplink-message.js
Labels: ui/web

console: Fix imprecise proptype
  pkg/webui/console/components/events/previews/shared/json-payload/index.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

gcs: Trim extra newlines in LNS credentials
  pkg/basicstation/cups/messages.go
  pkg/basicstation/cups/messages_test.go
Labels: c/gateway conf server, c/cups

dev: Add public folder cache to js,e2e CI workflows
  .github/workflows/e2e.yml
  .github/workflows/js.yml
Labels: none

console: Clean up app payload formatters view
  pkg/webui/console/views/application-payload-formatters/index.js
Labels: ui/web
