Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

console: Add application payload formatters e2e tests
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/applications/edit.spec.js
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/console/gateways/location/create.spec.js
  cypress/integration/console/gateways/location/edit.spec.js
  cypress/integration/console/organizations/create.spec.js
  cypress/integration/console/organizations/edit.spec.js
  cypress/integration/console/shared/payload-formatters/edit.spec.js
  pkg/webui/components/code-editor/index.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
Labels: ui/web

all: Move webmiddleware peer test to test package
  pkg/webmiddleware/peer_test.go
Labels: none

dev: Remove dependabot config
  .github/dependabot.yml
Labels: none

all: Bump to version 3.11.2
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

as: Improve plumbing error reporting
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/distribution/subscription_set.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

console: Fix footer layout
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
Labels: ui/web

console: Update end device messaging downlink functionality
  cypress/integration/console/devices/messaging/edit.spec.js
  pkg/webui/console/components/downlink-form/connect.js
  pkg/webui/console/components/downlink-form/downlink-form.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/views/device/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

gcs: Set cups-package only if value exists
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server, c/cups

all: Upgrade Sentry dependency
  go.mod
  go.sum
  tools/go.sum
Labels: dependencies, tooling

all: Add Environment configuration to Sentry
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/root.go
  pkg/config/shared.go
Labels: compat/config

is,console: Fix webui struct tag
  pkg/webui/template.go
Labels: ui/web

gs: Disable UDP IP firewall by default
  CHANGELOG.md
  pkg/gatewayserver/io/udp/config.go
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server, compat/config

ci: Add CHANGELOG to S3 Releases
  .goreleaser.release.yml
Labels: none

all: Defer context cancellation in errors test
  pkg/errors/errors_test.go
Labels: none

as: Add metrics to Application Server webhooks
  pkg/applicationserver/io/web/observability.go
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

as: Add ABP end-devices support to session rebuilding
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/applicationserver.go
Labels: c/application server

util: Update CayenneLPP library to better handle floating point
  go.mod
  go.sum
  pkg/messageprocessors/cayennelpp/cayennelpp.go
  pkg/messageprocessors/cayennelpp/cayennelpp_test.go
  tools/go.sum
Labels: c/application server, dependencies, tooling

console: Add profile picture to header
  cypress/integration/account/overview.spec.js
  cypress/integration/account/profile-settings.spec.js
  cypress/integration/console/shared/header.spec.js
  pkg/webui/account/containers/profile-card/index.js
  pkg/webui/components/header/index.js
  pkg/webui/components/mobile-menu/index.js
  pkg/webui/components/mobile-menu/mobile-menu.styl
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-dropdown/profile-dropdown.styl
  pkg/webui/console/store/middleware/logics/init.js
Labels: ui/web

console: Add checkbox to validate email address
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

account: Fix import statement spaces
  pkg/webui/account/store/index.js
  pkg/webui/account/views/overview/index.js
Labels: ui/web

all: Deprecrate TR005 draft formats
  pkg/qrcode/lora_alliance_tr005d2.go
  pkg/qrcode/lora_alliance_tr005d3.go
Labels: none

all: Support TR005 format
  pkg/qrcode/lora_alliance_tr005.go
  pkg/qrcode/lora_alliance_tr005_test.go
Labels: none

dev: Update changelog
  CHANGELOG.md
Labels: none

console: Update LoRaCloud DAS form name
  pkg/webui/console/containers/lora-cloud-das-form/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Update application package store logic
  pkg/webui/console/store/actions/application-packages.js
  pkg/webui/console/store/middleware/logics/application-packages.js
  pkg/webui/console/store/reducers/application-packages.js
  pkg/webui/console/store/selectors/application-packages.js
Labels: ui/web

util: Extend application package service with delete function
  sdk/js/src/service/application-packages.js
Labels: none

console: Add deletion endpoint for default packages to API
  pkg/webui/console/api/index.js
Labels: ui/web

console: Delete association on token deletion for LoRaCloud DAS
  pkg/webui/console/containers/lora-cloud-das-form/index.js
Labels: ui/web

console: Extend user feature checks
  pkg/webui/console/lib/feature-checks.js
Labels: ui/web

console: Check for api keys rights in header
  CHANGELOG.md
  pkg/webui/console/containers/header/index.js
Labels: ui/web

all: Parse TR005 QR code
  pkg/qrcode/qrcode.go
Labels: none

all: Add checks for authenticated, admin and universal rights in context
  config/messages.json
  pkg/auth/rights/auth_info.go
  pkg/auth/rights/cache.go
  pkg/auth/rights/cache_test.go
  pkg/auth/rights/fetcher.go
  pkg/auth/rights/fetcher_test.go
  pkg/auth/rights/metrics.go
  pkg/auth/rights/mock_test.go
  pkg/auth/rights/require.go
  pkg/auth/rights/require_test.go
  pkg/auth/rights/rights.go
  pkg/identityserver/entity_access.go
Labels: c/identity server

gcs: Fix tests
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayconfigurationserver/v2/server_test.go
Labels: c/gateway conf server

gs: Fix test
  pkg/basicstation/cups/server_test.go
Labels: c/gateway conf server, c/cups

util: Fix stream listeners reset
  sdk/js/src/api/stream/shared.js
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
Labels: none

gs: Prevent UDP gateways log message floods
  CHANGELOG.md
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server

as: Add metrics to application packages
  pkg/applicationserver/io/packages/observability.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

util: Use async for application packages delete
  sdk/js/src/service/application-packages.js
Labels: none

as: Improve metrics usage of frontends
  pkg/applicationserver/io/packages/observability.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/observability.go
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

console: Fix nwk_key handling in end device general settings
  CHANGELOG.md
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
Labels: ui/web
