Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

oauth: Add profile picture container
  pkg/webui/account/containers/profile-picture/index.js
Labels: ui/web

console,oauth: Add profile picture component
  pkg/webui/assets/img/placeholder/missing-profile-picture.png
  pkg/webui/components/profile-picture/index.js
  pkg/webui/components/profile-picture/profile-picture.styl
  pkg/webui/components/profile-picture/story.js
Labels: ui/web

account: Make user store logic more consistent
  pkg/webui/account/store/actions/user.js
  pkg/webui/account/store/middleware/user.js
Labels: ui/web

oauth: Add profile card container
  pkg/webui/account/containers/profile-card/index.js
  pkg/webui/account/containers/profile-card/profile-card.styl
Labels: ui/web

oauth: Add modal container to account scaffold
  pkg/webui/account.js
Labels: ui/web

console,account: Fix handling of null values for fields
  pkg/webui/components/form/field/index.js
Labels: ui/web

oauth: Update redux primitives for updating users
  pkg/webui/account/store/actions/user.js
  pkg/webui/account/store/middleware/user.js
  pkg/webui/account/store/reducers/user.js
  pkg/webui/account/store/selectors/user.js
Labels: ui/web

is: Delete user session when deleting a user
  pkg/identityserver/user_registry.go
Labels: c/identity server

dev: Add cypress-file-upload package
  package.json
  yarn.lock
Labels: dependencies

console,account: Improve email validation message
  pkg/webui/lib/shared-messages.js
Labels: ui/web

dev: Change dev user email address
  tools/mage/dev.go
Labels: tooling

dev: Update end-to-end tests
  cypress/integration/account/change-password.spec.js
  cypress/integration/account/overview.spec.js
  cypress/integration/account/profile-settings.spec.js
  cypress/integration/smoke/forgot-password/index.js
  cypress/support/commands.js
Labels: none

console,account: Add test id to collapse component
  pkg/webui/components/collapse/index.js
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Add test image to cypress fixtures
  cypress/fixtures/test-image.png
Labels: none

account: Fix change password messages
  pkg/webui/account/containers/change-password-form/index.js
  pkg/webui/account/views/update-password/index.js
  pkg/webui/lib/shared-messages.js
Labels: ui/web

account: Add account deletion notification to login view
  pkg/webui/account/views/login/index.js
Labels: ui/web

gs: Set value in instantiation
  pkg/gatewayserver/io/io.go
Labels: c/gateway server

dev: Add UplinkToken to Redis codec util
  pkg/redis/codec/main.go
Labels: compat/db

gs: Lock scheduler state for writing in schedule routines
  pkg/gatewayserver/scheduling/scheduler.go
Labels: c/gateway server

dev: Update changelog
  CHANGELOG.md
Labels: none

console: Add RSSI value to message events
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/uplink-message.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console: Update footer link
  pkg/webui/components/footer/index.js
Labels: ui/web

console: Fix device repository form submission
  pkg/webui/console/views/device-add/repository/repository.js
Labels: ui/web

console: Clean up device repo validation schema
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
Labels: ui/web

dev: Fix profile picture filename assertion
  cypress/integration/account/profile-settings.spec.js
Labels: none

console: Update side navigation hover styling
  pkg/webui/components/navigation/side/item/item.styl
Labels: ui/web

console: Add highlight for frame counter
  pkg/webui/console/components/events/previews/shared/description-list/description-list.styl
  pkg/webui/console/components/events/previews/shared/description-list/item.js
  pkg/webui/console/components/events/previews/uplink-message.js
Labels: ui/web

all: Delete events/fs package
  go.mod
  pkg/events/fs/fs.go
  pkg/events/fs/fs_test.go
Labels: dependencies

all: Add Identifiers to events subscriptions
  pkg/events/basic/pubsub.go
  pkg/events/basic/subscription.go
  pkg/events/cloud/cloud.go
  pkg/events/cloud/cloud_test.go
  pkg/events/default.go
  pkg/events/definitions.go
  pkg/events/events_test.go
  pkg/events/grpc/grpc.go
  pkg/events/handler_test.go
  pkg/events/identifiers.go
  pkg/events/identifiers_test.go
  pkg/events/observability.go
  pkg/events/pubsub.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/util/test/events.go
Labels: compat/db

all: Use multiple channels for Redis events
  CHANGELOG.md
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/events/redis/subscription.go
Labels: compat/db

all: Use base64-encoded protobuf for Redis events
  CHANGELOG.md
  pkg/events/redis/redis.go
Labels: compat/db

all: Add common test suite for events backends
  pkg/events/basic/pubsub_test.go
  pkg/events/cloud/cloud_test.go
  pkg/events/internal/eventstest/events_backend.go
  pkg/events/redis/redis_test.go
Labels: compat/db

dev: Fix documentation of GoReleaser snapshots
  DEVELOPMENT.md
Labels: none

console: Fix possible token request duplication
  pkg/webui/lib/access-token.js
Labels: ui/web

console: Add dynamic style for byte input
  pkg/webui/components/input/index.js
  pkg/webui/components/input/input.styl
Labels: ui/web

all: Bump to version 3.11.1
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

gs: Change type of temp field to float32
  CHANGELOG.md
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation_test.go
Labels: none

dev: Create admin API key for dev stack
  DEVELOPMENT.md
  tools/mage/dev.go
Labels: tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
