Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

dev: Update smoke tests for new account app
  cypress/integration/smoke/authorization/index.js
  cypress/integration/smoke/contact-info-validation/index.js
  cypress/integration/smoke/forgot-password/index.js
  cypress/integration/smoke/index.js
  cypress/integration/smoke/registration/index.js
Labels: none

is,account: Add console url config option
  cmd/internal/shared/identityserver/config.go
  pkg/oauth/config.go
Labels: c/identity server, compat/config

account: Add online status logic to account app
  pkg/webui/account/store/middleware/index.js
  pkg/webui/account/store/reducers/index.js
  pkg/webui/account/views/app/index.js
  pkg/webui/account/views/front/index.js
  pkg/webui/account/views/landing/index.js
Labels: ui/web

console,account: Allow application specific online/offline messages
  pkg/webui/components/offline-status/index.js
  pkg/webui/lib/store/logics/create-request-logic.js
Labels: ui/web

dev: Add pg postgres package
  package.json
  yarn.lock
Labels: dependencies

console,account: Move online status store logic to global util
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/containers/footer/index.js
  pkg/webui/lib/components/with-request.js
  pkg/webui/lib/hooks/use-request.js
  pkg/webui/lib/store/actions/status.js
  pkg/webui/lib/store/logics/create-request-logic.js
  pkg/webui/lib/store/logics/status.js
  pkg/webui/lib/store/reducers/status.js
  pkg/webui/lib/store/selectors/status.js
Labels: ui/web

dev: Update overview end-to-end tests
  cypress/integration/account/overview.spec.js
Labels: none

account: Update logo
  pkg/webui/assets/static/account.svg
Labels: ui/web

dev: Update CONTRIBUTING.md with new `account` topic
  CONTRIBUTING.md
Labels: none

util: Add device repository service
  CHANGELOG.md
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/repository.js
Labels: none

api: Introduce Device Repository API
  api/api.md
  api/api.swagger.json
  api/devicerepository.proto
  api/end_device.proto
  api/enums.proto
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.gw.go
  pkg/ttnpb/devicerepository.pb.paths.fm.go
  pkg/ttnpb/devicerepository.pb.setters.fm.go
  pkg/ttnpb/devicerepository.pb.validate.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/enums.go
  pkg/ttnpb/enums.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

dev: Introduce dr commit topic
  tools/mage/git.go
Labels: tooling

dr: Introduce Device Repository component and config
  CODEOWNERS
  cmd/internal/shared/config.go
  cmd/internal/shared/devicerepository/config.go
  cmd/internal/shared/errors.go
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/start.go
  pkg/cluster/cluster.go
  pkg/cluster/config.go
  pkg/config/shared.go
  pkg/devicerepository/config.go
  pkg/devicerepository/devicerepository.go
  pkg/devicerepository/devicerepository_test.go
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/config.go
  pkg/devicerepository/store/interface.go
  pkg/devicerepository/store/noop.go
  pkg/devicerepository/util_test.go
  pkg/rpcmiddleware/discover/discover.go
Labels: compat/config

is: Add BandID field in EndDeviceVersionIdentifiers struct
  pkg/identityserver/store/end_device.go
  pkg/identityserver/store/fieldmask_paths.go
Labels: c/identity server, compat/db

dr: Implement Device Repository store and config
  .gitignore
  go.mod
  go.sum
  pkg/devicerepository/store/bleve/bleve.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/bleve_util_test.go
  pkg/devicerepository/store/bleve/config.go
  pkg/devicerepository/store/bleve/init.go
  pkg/devicerepository/store/bleve/store.go
  pkg/devicerepository/store/bleve/testdata/.gitkeep
  pkg/devicerepository/store/remote/enums.go
  pkg/devicerepository/store/remote/remote.go
  pkg/devicerepository/store/remote/remote_test.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/a.js
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/b.js
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/c.js
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/dev1.yaml
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/dev2.yaml
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/foo-codec.yaml
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/index.yaml
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/profile1.yaml
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/profile2.yaml
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/class-b-profile.yaml
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/class-c-profile.yaml
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/example-1.yaml
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/example-2.yaml
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/full-device.yaml
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/index.yaml
  pkg/devicerepository/store/remote/testdata/vendor/index.yaml
  tools/mage/header.yml
Labels: compat/config, dependencies, tooling

all: Bundle Device Repository index with Docker release images
  .github/workflows/e2e.yml
  Dockerfile
  cmd/ttn-lw-stack/commands/dr_db.go
  tools/go.sum
  tools/mage/dev.go
Labels: tooling

as,dr: Implement Device Repository message processor
  pkg/applicationserver/applicationserver.go
  pkg/messageprocessors/devicerepository/devicerepository.go
  pkg/messageprocessors/devicerepository/devicerepository_test.go
  pkg/messageprocessors/payload.go
Labels: c/application server

util: Regenerate messages.json
  config/messages.json
Labels: none

util: Update CHANGELOG
  CHANGELOG.md
Labels: none

dev: Fix Docker image build
  Dockerfile
Labels: none

console,oauth: Adjust form submit
  pkg/webui/components/form/submit/index.js
Labels: ui/web

console: Extend console api definitions
  pkg/webui/console/api/index.js
Labels: ui/web

dr: Overwrite old index files with dr-db init by default
  cmd/ttn-lw-stack/commands/dr_db.go
Labels: none

console,oauth: Refactor fetch-select component
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
Labels: ui/web

console: Refactor device wizard
  pkg/webui/console/views/device-add/device-add.js
  pkg/webui/console/views/device-add/device-add.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-add/manual/configuration-form/index.js
  pkg/webui/console/views/device-add/manual/configuration-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/configuration-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/connect.js
  pkg/webui/console/views/device-add/manual/index.js
  pkg/webui/console/views/device-add/manual/manual.js
  pkg/webui/console/views/device-add/manual/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/application-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/wizard/application-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/index.js
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/prompt/index.js
  pkg/webui/console/views/device-add/messages.js
Labels: ui/web

console: Add device repository redux primitives
  pkg/webui/console/store/actions/device-repository.js
  pkg/webui/console/store/middleware/logics/device-repository.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/device-repository.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/device-repository.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Fix device e2e tests
  cypress/integration/console/devices/create-manual.spec.js
  cypress/integration/console/devices/utils.js
Labels: none

console: Add device repository form
  pkg/webui/console/views/device-add/device-add.js
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/console/views/device-add/repository/connect.js
  pkg/webui/console/views/device-add/repository/context.js
  pkg/webui/console/views/device-add/repository/device-registration/freq-plans-select/index.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/device-selection/band-select/band-select.js
  pkg/webui/console/views/device-add/repository/device-selection/band-select/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/band-select/index.js
  pkg/webui/console/views/device-add/repository/device-selection/brand-select/brand-select.js
  pkg/webui/console/views/device-add/repository/device-selection/brand-select/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/brand-select/index.js
  pkg/webui/console/views/device-add/repository/device-selection/fw-version-select/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/fw-version-select/fw-version-select.js
  pkg/webui/console/views/device-add/repository/device-selection/fw-version-select/index.js
  pkg/webui/console/views/device-add/repository/device-selection/hw-version-select/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/hw-version-select/hw-version-select.js
  pkg/webui/console/views/device-add/repository/device-selection/hw-version-select/index.js
  pkg/webui/console/views/device-add/repository/device-selection/index.js
  pkg/webui/console/views/device-add/repository/device-selection/model-select/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/model-select/index.js
  pkg/webui/console/views/device-add/repository/device-selection/model-select/model-select.js
  pkg/webui/console/views/device-add/repository/hints/hints.styl
  pkg/webui/console/views/device-add/repository/hints/other-hint.js
  pkg/webui/console/views/device-add/repository/hints/progress-hint.js
  pkg/webui/console/views/device-add/repository/index.js
  pkg/webui/console/views/device-add/repository/reducer.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/repository.styl
  pkg/webui/console/views/device-add/repository/validation-schema.js
  pkg/webui/console/views/device-add/utils.js
Labels: ui/web

console,oauth: Add placeholder prop to select
  pkg/webui/components/select/index.js
Labels: ui/web

dev: Add base device repository e2e tests
  cypress/integration/console/devices/create-repository.spec.js
Labels: none

all: Bump to version 3.11.0-rc1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

as: Allow pub/sub providers to be disabled
  cmd/internal/shared/applicationserver/config.go
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/providers.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
Labels: c/application server, compat/config

as: Open pub/sub provider with enabled check
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/pubsub.go
Labels: c/application server

as: Connect explicitly to invalid server
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
Labels: c/application server

util: Remove enforcement of CSRF token for JS SDK initialization
  sdk/js/src/api/http.js
Labels: none

api: Increase maximum length of API key in Webhooks
  api/api.md
  api/applicationserver_web.proto
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

ci: Do not skip docker image push on any release build
  .goreleaser.release.yml
Labels: none

ci: Fix deprecated GoReleaser config
  .goreleaser.release.yml
Labels: none

console: Add application pub sub tests
  DEVELOPMENT.md
  cypress/integration/console/integrations/pub-subs/edit.spec.js
  cypress/support/commands.js
Labels: none
