Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

console: Fix device creation tab selection
  pkg/webui/console/views/device-add/device-add.js
Labels: ui/web

cli: Fail on errors
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
Labels: ui/cli

as: Use valid session during downlink decryption
  pkg/applicationserver/payload.go
Labels: c/application server

api: Add AS configuration
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

as: Add configuration endpoint
  pkg/applicationserver/config.go
  pkg/applicationserver/grpc.go
Labels: c/application server, compat/config

console: Fix device event stream reconnect
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/lib/selectors/id.js
Labels: ui/web

util: Add frequency plan test utilities
  pkg/util/test/frequencyplans.go
Labels: none

util: Add test defaults
  pkg/util/test/test.go
Labels: none

util: Add struct constructors
  pkg/util/test/constructors.go
  pkg/util/test/constructors_generated.go
  pkg/util/test/generate_constructors.go
Labels: none

util: Add Session constructor options
  pkg/util/test/constructors.go
Labels: none

util: Export option namespaces for embedding
  pkg/util/test/constructors.go
  pkg/util/test/constructors_generated.go
  pkg/util/test/generate_constructors.go
Labels: none

util: Fix import loop in crypto
  pkg/crypto/key_derivation_internal_test.go
Labels: security

util: Fix import loop in band
  pkg/band/band_internal_test.go
  pkg/band/band_test.go
Labels: none

api,as: Improve configuration marshalling
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  pkg/applicationserver/config.go
  pkg/ttnpb/applicationserver.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api.json
Labels: c/application server, compat/api, compat/config

console,account: Add sentry related error utilities
  pkg/webui/lib/errors/utils.js
Labels: ui/web

console,account: Update error logging to sentry
  pkg/webui/components/error-notification/index.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/store/logics/create-request-logic.js
Labels: ui/web

cli: Support parsing of DevAddrPrefix type
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

cli: Support generic text unmarshaler
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

ns,util: Lay groundwork for msgpack encoding fix
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
  pkg/types/aeskey.go
Labels: c/network server, compat/db

ns: Partially implement session msgpack encoding
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
  pkg/types/aeskey.go
Labels: c/network server, compat/db

console: Add gateway location tests
  cypress/integration/console/gateways/location/create.spec.js
  cypress/integration/console/gateways/location/edit.spec.js
  cypress/integration/console/organizations/create.spec.js
  cypress/support/commands.js
  pkg/webui/components/map/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
Labels: ui/web

ns,api,util: Implement session msgpack {en,de}-coding
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/keys.go
  pkg/types/aeskey.go
Labels: c/network server, compat/db

ns: Adapt to session format change in Lua
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/scripts.go
Labels: c/network server, compat/db

util: Add test defaults
  pkg/util/test/cluster_test.go
  pkg/util/test/test.go
Labels: none

ns: Fix FCnt check
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

ns: Export session types
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
Labels: c/network server, compat/db

util: Improve test log formatting
  pkg/util/test/assertions/events.go
  pkg/util/test/assertions/resemble.go
Labels: none

ns: Add missing join event assertion test
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
Labels: c/network server

dev: Regenerate messages
  config/messages.json
Labels: none

cli: Migrate 3.11 snapshot sessions to new format
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/redis.go
Labels: none

all: Bump to version 3.11.0-rc2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

console: Fix value types in overview data sheets
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateway-overview/gateway-overview.js
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

dev: Update cypress tests
  cypress/integration/console/shared/overview/overview.spec.js
Labels: none

dev: Update changelog
  CHANGELOG.md
Labels: none

console: Fix initial display of end device frame counts
  pkg/webui/console/store/reducers/devices.js
Labels: ui/web

console: Show unavailable message for unavailable frame counts
  pkg/webui/console/components/entity-title-section/content/messages-count/index.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
  pkg/webui/console/containers/device-title-section/device-title-section.styl
Labels: ui/web

dr: Do not panic on empty end device version identifiers
  config/messages.json
  pkg/messageprocessors/devicerepository/devicerepository.go
  pkg/messageprocessors/devicerepository/devicerepository_test.go
Labels: c/application server

ci: Upload screenshots for failed tests as artifacts
  .github/workflows/e2e.yml
Labels: none

ci: Add verbose flag to stack init step
  .github/workflows/e2e.yml
Labels: none

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
