Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

console,oauth: Move fetch-table container to common containers
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/views/admin-user-management/admin-user-management.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-integrations-pubsubs-list/index.js
  pkg/webui/console/views/application-integrations-webhooks-list/index.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-collaborators-list/organization-collaborators-list.js
  pkg/webui/console/views/organizations-list/index.js
  pkg/webui/constants/page-sizes.js
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/containers/fetch-table/index.js
Labels: ui/web

account: Refactor public views for new account app design
  pkg/webui/account/containers/header/index.js
  pkg/webui/account/containers/logo/index.js
  pkg/webui/account/views/app/index.js
  pkg/webui/account/views/authorize/authorize.styl
  pkg/webui/account/views/authorize/index.js
  pkg/webui/account/views/create-account/index.js
  pkg/webui/account/views/forgot-password/forgot-password.styl
  pkg/webui/account/views/forgot-password/index.js
  pkg/webui/account/views/front-not-found/index.js
  pkg/webui/account/views/front/front.styl
  pkg/webui/account/views/front/index.js
  pkg/webui/account/views/landing/index.js
  pkg/webui/account/views/login/index.js
  pkg/webui/account/views/login/login.styl
  pkg/webui/account/views/update-password/index.js
  pkg/webui/account/views/validate/index.js
  pkg/webui/account/views/validate/validate.styl
  pkg/webui/assets/img/layout/bg/login-visual.jpg
  pkg/webui/assets/static/account.svg
Labels: ui/web

util: Add contact info service to JS SDK
  sdk/js/src/index.js
  sdk/js/src/service/contact-info.js
Labels: none

account: Fix create account form
  pkg/webui/account/views/create-account/index.js
Labels: ui/web

console,oauth: Refactor logo component and containers
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/logo/index.js
Labels: ui/web

dev: Update cypress tests
  cypress/integration/account/login.spec.js
  cypress/integration/account/overview.spec.js
Labels: none

account: Handle root route redirect in frontend code
  pkg/account/middleware.go
  pkg/account/server.go
  pkg/account/server_test.go
Labels: none

dev: Update jsconfig with account renaming
  pkg/webui/jsconfig.json
Labels: ui/web

console,account: Fix full view error header prop
  pkg/webui/lib/components/full-view-error/error.js
Labels: ui/web

console,account: Add lib to create password validation schemas
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/lib/create-password-validation-schema.js
Labels: ui/web

console: Refactor logic middleware to globalutil
  pkg/webui/console/store/middleware/logics/api-keys.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/collaborators.js
  pkg/webui/console/store/middleware/logics/configuration.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/join-server.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/pubsubs.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/store/middleware/logics/webhooks.js
  pkg/webui/lib/store/logics/create-request-logic.js
Labels: ui/web

account: Use store as singleton module
  pkg/webui/account.js
  pkg/webui/account/store/index.js
Labels: ui/web

account: Update store logic for new account app
  pkg/webui/account/store/middleware/init.js
  pkg/webui/account/store/middleware/user.js
Labels: ui/web

account: Apply password validation rules to change password form
  pkg/webui/account/containers/change-password-form/index.js
Labels: ui/web

account: Add toast container to app scaffold
  pkg/webui/account/views/app/index.js
Labels: ui/web

account: Add store selectors to account app
  pkg/webui/account/store/selectors/user.js
Labels: ui/web

util: Add temporary password RPC to JS SDK
  sdk/js/src/service/users.js
Labels: none

dev: Rename oauth commit prefix to account
  tools/mage/git.go
Labels: tooling

oauth: Add request promise middleware
  pkg/webui/account/store/index.js
  pkg/webui/console/store/index.js
  pkg/webui/lib/store/middleware/request-promise-middleware.js
Labels: ui/web

account: Add CSRF retry interceptor to axios instance
  pkg/webui/account/api/index.js
Labels: ui/web

account: Convert views to functional components
  pkg/webui/account/views/app/index.js
  pkg/webui/account/views/authorize/authorize.styl
  pkg/webui/account/views/authorize/index.js
  pkg/webui/account/views/code/index.js
  pkg/webui/account/views/create-account/index.js
  pkg/webui/account/views/error/index.js
  pkg/webui/account/views/forgot-password/index.js
  pkg/webui/account/views/front-not-found/index.js
  pkg/webui/account/views/landing/index.js
  pkg/webui/account/views/login/index.js
  pkg/webui/account/views/validate/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console,account: Remove env prop requirement from locale provider
  pkg/webui/lib/components/with-locale.js
Labels: ui/web

account: Rename static assets
  pkg/webui/assets/static/account-favicon.ico
  pkg/webui/assets/static/account-favicon.svg
  pkg/webui/assets/static/account-og-image.png
  pkg/webui/assets/static/account-touch-icon.png
Labels: ui/web

account: Use SDK instance for contact info validation
  pkg/webui/account/api/index.js
  pkg/webui/account/views/validate/index.js
Labels: ui/web

account: Convert to arrow functions
  pkg/webui/account/store/index.js
  pkg/webui/account/store/reducers/init.js
  pkg/webui/account/store/reducers/user.js
  pkg/webui/account/store/selectors/user.js
Labels: ui/web

console,oauth: Update modal component for logo refactor
  pkg/webui/components/modal/index.js
  pkg/webui/components/modal/story.js
  pkg/webui/oauth/views/login/index.js
  pkg/webui/oauth/views/validate/index.js
Labels: ui/web

account: Retain query parameter when registering a new account
  pkg/webui/account/views/create-account/index.js
  pkg/webui/account/views/login/index.js
Labels: ui/web

account: Improve front mobile styles
  pkg/webui/account/views/front/front.styl
Labels: ui/web

dev: Update messages
  config/messages.json
Labels: none

account: Add is config redux primitives
  pkg/webui/account/store/actions/identity-server.js
  pkg/webui/account/store/middleware/identity-server.js
  pkg/webui/account/store/reducers/identity-server.js
  pkg/webui/account/store/reducers/index.js
  pkg/webui/account/store/selectors/identity-server.js
Labels: ui/web

dev: Update CODEOWNERS for account package
  CODEOWNERS
Labels: none

dev: Add cypress utility tasks for SQL and log access
  cypress/plugins/index.js
  cypress/plugins/tasks.js
Labels: none

dev: Use postgress connection to drop and seed database
  cypress/plugins/tasks.js
  cypress/support/commands.js
Labels: none

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

dev: Add account app integration tests
  cypress/integration/account/authorization.spec.js
  cypress/integration/account/change-password.spec.js
  cypress/integration/account/code.spec.js
  cypress/integration/account/forgot-password.spec.js
Labels: none

dev: Add more cypress utility commands
  cypress/support/commands.js
Labels: none

dev: Update changelog
  CHANGELOG.md
Labels: none

console,account: Remove env decorator from link component
  pkg/webui/components/link/index.js
Labels: ui/web

account: Add overview placeholder message with console link
  pkg/webui/account/lib/selectors/app-config.js
  pkg/webui/account/views/login/index.js
  pkg/webui/account/views/overview/index.js
  pkg/webui/account/views/overview/overview.styl
Labels: ui/web

dev: Rename cypress test oauth occurrences to account app
  cypress/integration/account/authorization.spec.js
  cypress/integration/account/change-password.spec.js
  cypress/integration/account/code.spec.js
  cypress/integration/account/forgot-password.spec.js
  cypress/integration/account/login.spec.js
  cypress/integration/account/overview.spec.js
  cypress/integration/account/user-registration.spec.js
  cypress/integration/console/login.spec.js
  cypress/integration/console/shared/header.spec.js
  cypress/integration/smoke/authorization/index.js
  cypress/integration/smoke/forgot-password/index.js
  cypress/integration/smoke/registration/index.js
  cypress/plugins/tasks.js
  cypress/support/commands.js
Labels: none

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
