Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

is: Make GenerateAPIKey exported
  pkg/identityserver/api_key_utils.go
  pkg/identityserver/application_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/user_access.go
Labels: c/identity server

is: Add create API key for admin is-db command
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
Labels: compat/config

cli: Make io shared between ttn-lw-stack and ttn-lw-cli
  cmd/internal/io/io.go
  cmd/ttn-lw-cli/commands/access.go
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
  cmd/ttn-lw-cli/commands/applications_downlink.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_subscribe.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/events.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-cli/commands/storage_integration.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  cmd/ttn-lw-stack/commands/config.go
Labels: compat/config, ui/cli

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

dev: Add pre-push git hook
  tools/mage/git.go
Labels: tooling

console: Show relevant errors of default package request
  pkg/webui/console/containers/lora-cloud-form/index.js
Labels: ui/web

console: Add documentation and support links
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

api: Add home_network_cluster_id to Packet Broker metadata
  api/api.md
  api/api.swagger.json
  api/metadata.proto
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/metadata.pb.paths.fm.go
  pkg/ttnpb/metadata.pb.setters.fm.go
  pkg/ttnpb/metadata.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

pba: Update to routing/v1 API and OAuth 2.0 authentication
  cmd/internal/shared/packetbrokeragent/config.go
  go.mod
  go.sum
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/link_check_test.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/config.go
  pkg/packetbrokeragent/mock/pbdataplane.go
  pkg/packetbrokeragent/translation.go
  pkg/rpcclient/oauth2_client.go
  tools/go.sum
Labels: c/network server, c/packet broker agent, compat/config, dependencies, tooling

pba: Add configuration for a specific Home Network Cluster ID
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/config.go
Labels: c/packet broker agent, compat/config

pba: Set coding rate
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
Labels: c/packet broker agent

pba: Use explicit Insecure configuration setting
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/config.go
Labels: c/packet broker agent, compat/config

dev: Update changelog
  CHANGELOG.md
Labels: none

pba: Fetch tenant from context
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/grpc.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_nspba.go
Labels: c/packet broker agent

util: Fix typo
  pkg/errors/std_test.go
Labels: none

pba: Use component TLS configuration
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent

dev: Regenerate messages
  config/messages.json
Labels: none

dev: Fix dependencies
  go.mod
  go.sum
  tools/go.sum
Labels: dependencies, tooling

pba: Format DevAddr prefix filter
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent

pba: Include originating identifiers in testing
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/mock/pbdataplane.go
Labels: c/packet broker agent

ns: Improve test log output
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

is: Make contact info validation TTL configurable
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/config.go
  pkg/identityserver/contact_info_registry.go
Labels: c/identity server, compat/config

is: Add friendly link expiry info to emails
  CHANGELOG.md
  go.mod
  go.sum
  pkg/identityserver/emails/invitation.go
  pkg/identityserver/emails/temporary_password.go
  pkg/identityserver/emails/ttl.go
  pkg/identityserver/emails/validate.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/user_registry.go
Labels: c/identity server, dependencies

is: Return error when creating validation while old one still valid
  config/messages.json
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/contact_info_store_test.go
Labels: c/identity server, compat/db

pba: Configure dial options when dialing
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent

is: Skip pending validations and error if nothing to validate
  CHANGELOG.md
  config/messages.json
  pkg/identityserver/contact_info_registry.go
Labels: c/identity server

as: Skip payload encryption using link level overrides in RPCs
  pkg/applicationserver/grpc_deviceregistry.go
Labels: c/application server

as: Simulate linked applications in device registry tests
  pkg/applicationserver/applicationserver_util_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
Labels: c/application server

as: Remove linking from device registry tests
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
Labels: c/application server

dev: Update changelog
  CHANGELOG.md
Labels: none

dev: Adapt git hooks to WSL
  tools/mage/git.go
Labels: tooling

ns: Fix legacy code artifact
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

api: Add FieldIsZero on EndDevice and related messages
  pkg/ttnpb/end_device.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/join.go
  pkg/ttnpb/keys.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/messages.go
  pkg/ttnpb/picture.go
  pkg/ttnpb/zero.go
  pkg/ttnpb/zero_test.go
Labels: none

api: Fix ApplicationUpStorage field paths
  pkg/ttnpb/field_mask_validation.go
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

dev: Regenerate messages
  config/messages.json
Labels: none

util: Validate that disallowed fields are zero
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcmiddleware/validator/validator_test.go
  pkg/rpcserver/rpcserver.go
  pkg/ttnpb/field_mask_validation.go
Labels: none

all: Record SET RPCs
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcmiddleware/validator/validator_test.go
  pkg/rpcserver/rpcserver.go
  pkg/ttnpb/field_mask_validation.go
Labels: none

dev: Regenerate JS SDK definitions
  sdk/js/generated/api-definition.json
Labels: none

all: Adapt to ttnpb.AllowedFieldMaskPathsForRPC changes
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  cmd/ttn-lw-cli/commands/users.go
  tools/generate_allowed_field_mask_paths.go
Labels: ui/cli, tooling
