Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

ns: Implement Reset RPC
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

ns: Unwrap selected keys in Reset
  pkg/networkserver/grpc_deviceregistry.go
Labels: c/network server

ns: Add Reset RPC fieldmask validation
  pkg/ttnpb/field_mask_validation.go
Labels: none

util: Print attributes as part of test.FormatError
  pkg/util/test/util.go
Labels: none

cli: Add `devices reset`
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

api: Improve Reset RPC clarity
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/networkserver.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  sdk/js/generated/api.json
Labels: compat/api

cli: Adapt to API changes
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

ns: Adapt to API changes
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

api: Regenerate
  sdk/js/generated/api-definition.json
Labels: none

api: Adapt to RPC name change
  pkg/ttnpb/field_mask_validation.go
Labels: none

as: Avoid using request context in asynchronous processing
  pkg/applicationserver/applicationserver.go
  pkg/component/component.go
Labels: c/application server

as: Do not fill non-request context
  pkg/applicationserver/io/pubsub/pubsub.go
Labels: c/application server

gs: Avoid using connection context on disconnect
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server

gs: Fix tests
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server

console: Fix CI
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/users-table/index.js
Labels: ui/web

console: Remove unnecessary props
  pkg/webui/console/containers/users-table/index.js
Labels: ui/web

all: Add support for standard library error wrapping
  pkg/errors/std.go
  pkg/errors/std_test.go
Labels: none

util: Avoid implicit Init in Run
  pkg/redis/redis.go
Labels: compat/db

ns,util: Refactor Redis task queue
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_test.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/internal/test/shared/downlink_task_queue.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/internal/test/shared/shared.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_internal_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/application_uplink_queue_test.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/redis/downlink_task_queue_test.go
  pkg/networkserver/redis/redis.go
  pkg/networkserver/redis/registry_test.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
Labels: c/network server, compat/db

util: Further Redis improvements and optimizations
  pkg/redis/lua/popTask.lua
  pkg/redis/redis.go
  pkg/redis/redis_internal_test.go
  pkg/redis/redis_test.go
  pkg/redis/scripts.go
Labels: compat/db

util: Move Lua script generator
  pkg/networkserver/redis/redis.go
  pkg/redis/generate_scripts.go
Labels: c/network server, compat/db

util: Make Redis task dispatch lazy, simplify scaling
  pkg/redis/lua/popTask.lua
  pkg/redis/redis.go
  pkg/redis/scripts.go
Labels: compat/db

all: Update Redis library to v8
  cmd/ttn-lw-stack/commands/redis.go
  cmd/ttn-lw-stack/commands/start.go
  go.mod
  go.sum
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/pubsub/redis/registry.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking_test.go
  pkg/applicationserver/redis/registry.go
  pkg/applicationserver/registry_test.go
  pkg/events/redis/redis.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/redis/registry_test.go
  pkg/identityserver/store/membership_cache.go
  pkg/identityserver/store/membership_store_test.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
  pkg/joinserver/joinserver_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
  pkg/redis/errors.go
  pkg/redis/generate_scripts.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  pkg/redis/scripts.go
  pkg/util/test/redis.go
  tools/go.sum
Labels: c/identity server, c/gateway server, c/network server, c/application server, c/join server, compat/db, dependencies, tooling

util: Allow testing.TB in componenttest
  pkg/component/test/component.go
Labels: none

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

util: Ensure ready task stream size is bound
  pkg/redis/lua/popTask.lua
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  pkg/redis/scripts.go
Labels: compat/db

util: Avoid truncating small timeouts
  pkg/redis/redis.go
Labels: compat/db

ns: Refactor Redis testing
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/internal/test/shared/redis.go
Labels: c/network server

all: Fix Network Server field mask validation
  pkg/ttnpb/field_mask_validation.go
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/views/device/index.js
  sdk/js/generated/api-definition.json
Labels: ui/web

util: Fix globalconf response handling
  sdk/js/src/service/gateways.js
Labels: none

dev: Add DeviceFieldMasks target for js sdk
  tools/mage/js_sdk.go
Labels: tooling

dev: Use allowedFieldMaskPaths and deviceFieldMasks to js workflow
  .github/workflows/js.yml
Labels: none

as: Allow setting websocket read and write buffer sizes
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
Labels: c/application server

dev: Improve e2e documentation
  DEVELOPMENT.md
Labels: none

util: Remove cookie depedency on Echo
  pkg/web/cookie/cookie.go
  pkg/web/cookie/cookie_test.go
  pkg/web/web.go
  pkg/webmiddleware/cookie.go
Labels: none

all: Migrate cookie package usage from Echo
  pkg/oauth/user.go
  pkg/web/oauthclient/cookie_auth.go
  pkg/web/oauthclient/cookie_state.go
Labels: c/identity server, ui/web

console: Add glossary id constant module
  pkg/webui/console/constants/glossary-ids.js
Labels: ui/web

console,oauth: Add glossary link component
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
Labels: ui/web

console,oauth: Add glossary link props to field component
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
Labels: ui/web

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
