Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*

dev: Update grpc-gateway
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

dev: Update protoc image version
  tools/mage/proto.go
Labels: tooling

api: Regenerate
  api/api.swagger.json
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.gw.go
  pkg/ttnpb/applicationserver_packages.pb.gw.go
  pkg/ttnpb/applicationserver_pubsub.pb.gw.go
  pkg/ttnpb/applicationserver_web.pb.gw.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/contact_info.pb.gw.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/end_device_services.pb.gw.go
  pkg/ttnpb/events.pb.gw.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/identityserver.pb.gw.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/oauth_services.pb.gw.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/search_services.pb.gw.go
  pkg/ttnpb/user_services.pb.gw.go
Labels: none

api: Add downlink queue invalidated message
  api/api.md
  api/api.swagger.json
  api/applicationserver_pubsub.proto
  api/applicationserver_web.proto
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.paths.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

as: Send downlink queue invalidated messages upstream
  CHANGELOG.md
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/topics/layout.go
  pkg/applicationserver/io/mqtt/topics/v3.go
  pkg/applicationserver/io/mqtt/topics/v3_test.go
  pkg/applicationserver/io/pubsub/provider/connection.go
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/templates.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
Labels: c/application server

as: Set LastAFCntDown when skipping application payload crypto
  pkg/applicationserver/applicationserver.go
Labels: c/application server

console: Support configuring downlink queue invalidated messages
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/connect.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

is: Block new registrations of product names
  pkg/identityserver/blacklist/builtin.go
Labels: c/identity server

console: Fix join settings step description
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

console,oauth: Use step id instead of step index in wizard
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/form/prev-button.js
  pkg/webui/components/wizard/step.js
  pkg/webui/components/wizard/stepper.js
  pkg/webui/components/wizard/steps.js
  pkg/webui/components/wizard/wizard.js
Labels: ui/web

console,util: Export stack components constants
  pkg/webui/console/api/index.js
  pkg/webui/console/constants/stack-components.js
  sdk/js/src/api/http.js
  sdk/js/src/index.js
Labels: ui/web

console: Add navigation to errored step in wizard
  CHANGELOG.md
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/step.js
  pkg/webui/components/wizard/stepper.js
  pkg/webui/components/wizard/wizard.js
  pkg/webui/console/views/device-add/wizard/index.js
Labels: ui/web

util: Fix wizard storybook
  pkg/webui/components/wizard/story.js
Labels: ui/web

console: Fix submit bar display for small screens
  pkg/webui/components/wizard/form/form.styl
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/form/prev-button.js
  pkg/webui/components/wizard/wizard.js
Labels: ui/web

util: Fix device creation rollback
  sdk/js/src/service/devices/index.js
Labels: none

util: Remove hardcoded component abbreviations
  sdk/js/src/api/http.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/stack-configuration.js
Labels: none

ns: Avoid using EndDevice.RecentDownlinks
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

api: Deprecate top-level recent_* fields
  api/end_device.proto
Labels: compat/api

ns: Avoid using EndDevice.RecentUplinks
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

api: Regenerate
  api/api.md
  api/api.swagger.json
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: none

api: Remove custom EndDevice populator
  api/end_device.proto
  pkg/ttnpb/end_device_populate.go
Labels: compat/api

ns: Avoid using EndDevice.RecentADRUplinks
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_internal_test.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
Labels: c/network server

api: Add MACState.LastADRChangeFCntUp
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: compat/api

ns: Optimize device storage
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

dev: Update CHANGELOG
  CHANGELOG.md
Labels: none

util: Adapt to API changes
  pkg/gogoproto/fields_test.go
  pkg/goproto/fields_test.go
Labels: none

all: Bump to version 3.10.0
  CHANGELOG.md
  SECURITY.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: none

console,oauth: Fix wizard next button title
  pkg/webui/components/wizard/form/next-button.js
Labels: ui/web

dev: Update changelog
  CHANGELOG.md
Labels: none

util: Add identity-server service
  sdk/js/src/index.js
  sdk/js/src/service/identity-server.js
Labels: none

console: Add is redux primitives
  pkg/webui/console/store/actions/identity-server.js
  pkg/webui/console/store/middleware/logics/identity-server.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/identity-server.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/identity-server.js
Labels: ui/web

console: Add is configuration to api
  pkg/webui/console/api/index.js
Labels: ui/web

console: Add password validation to user management
  CHANGELOG.md
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/views/admin-user-management-add/index.js
  pkg/webui/lib/prop-types.js
Labels: ui/web

js: Fix unsetting KEKs and validation
  config/messages.json
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
Labels: c/join server

Revert "dev: Update formik dependency"
  package.json
  yarn.lock
Labels: dependencies

console: Added hint to user entries
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/containers/users-table/users-table.styl
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

api: Add Reset RPC to NS device registry
  api/api.md
  api/api.swagger.json
  api/networkserver.proto
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  sdk/js/generated/api.json
Labels: compat/api

util: Support nil in test.FormatError
  pkg/util/test/util.go
Labels: none

api: Add fieldmask support to Reset RPC
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/networkserver.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  sdk/js/generated/api.json
Labels: compat/api

ns: Avoid setting deprecated fields on GET
  pkg/networkserver/registry.go
Labels: c/network server
