Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/cups, c/network server, c/device converter, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, security, dependencies, ui/cli, ui/web, tooling

dev: Update submodules as part of release process
  .github/ISSUE_TEMPLATE/release.md
  CONTRIBUTING.md
  tools/mage/git.go
Labels: tooling

all: Check directory presence in source detection mechanism
  pkg/applicationserver/io/web/config.go
  pkg/config/shared.go
  pkg/identityserver/config.go
Labels: c/identity server, c/application server, compat/config

all: Set defaults for external repository directories
  CHANGELOG.md
  cmd/internal/shared/applicationserver/config.go
  cmd/internal/shared/config.go
Labels: compat/config

pba: Increase test timeout
  pkg/packetbrokeragent/agent_test.go
Labels: c/packet broker agent

api: Document services
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  api/joinserver.proto
  api/qrcodegenerator.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/qrcodegenerator.pb.go
  sdk/js/generated/api.json
Labels: compat/api

console: Refactor error view into global utility component
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/sub-view-error/index.js
  pkg/webui/console/views/sub-view-error/sub-view.styl
  pkg/webui/console/views/user-api-keys-list/user-api-keys-list.js
  pkg/webui/console/views/user-api-keys/index.js
  pkg/webui/lib/components/full-view-error/connect.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/lib/components/full-view-error/index.js
Labels: ui/web

console,account: Allow form info and error titles
  pkg/webui/components/form/index.js
Labels: ui/web

account: Use new change password form
  pkg/webui/account/views/update-password/index.js
Labels: ui/web

console: Refactor access-token module to global utility
  pkg/webui/console/api/index.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/lib/access-token.js
  pkg/webui/lib/cache.js
  pkg/webui/lib/store/logics/create-request-logic.js
Labels: ui/web

console,account: Remove env prop requirement from erro view util
  pkg/webui/lib/components/full-view-error/error.js
Labels: ui/web

account: Update api tree
  pkg/webui/account/api/index.js
Labels: ui/web

dev: Update locales
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

util: Add invitation token parameter to user create function
  sdk/js/src/service/users.js
Labels: none

account: Fix state update on unmounted component
  pkg/webui/account/containers/change-password-form/index.js
Labels: ui/web

dev: Update e2e tests
  cypress/integration/account/change-password.spec.js
  cypress/integration/account/login.spec.js
  cypress/integration/account/overview.spec.js
  cypress/integration/account/user-registration.spec.js
  cypress/integration/console/login.spec.js
  cypress/integration/smoke/registration/index.js
Labels: none

account: Fix login form
  pkg/webui/account/views/login/index.js
Labels: ui/web

account: Add sdk client singleton module
  pkg/webui/account/api/tts.js
Labels: ui/web

account: Remove password update from api tree
  pkg/webui/account/api/index.js
Labels: ui/web

account: Replace temporary password API with SDK instance
  pkg/webui/account/api/index.js
  pkg/webui/account/views/forgot-password/index.js
Labels: ui/web

account: Use constant module for authenticated paths
  pkg/webui/account/constants/auth-routes.js
  pkg/webui/account/views/front/index.js
  pkg/webui/account/views/landing/index.js
Labels: ui/web

account: Fix root routing
  pkg/webui/account/views/app/index.js
  pkg/webui/account/views/front/index.js
  pkg/webui/account/views/landing/index.js
  pkg/webui/account/views/landing/landing.styl
  pkg/webui/account/views/overview/index.js
Labels: ui/web

account: Use SDK instance for user creation
  pkg/webui/account/api/index.js
  pkg/webui/account/views/create-account/index.js
Labels: ui/web

account: Retain query parameter during forgot password flow
  pkg/webui/account/views/forgot-password/index.js
  pkg/webui/account/views/login/index.js
Labels: ui/web

console,oauth: Move collapse component to global components
  pkg/webui/components/collapse/collapse.styl
  pkg/webui/components/collapse/index.js
Labels: ui/web

util: Add change password rpc to user service
  sdk/js/src/service/users.js
Labels: none

console,account: Extend error http status utility for axios responses
  pkg/webui/lib/errors/utils.js
Labels: ui/web

oauth,dev: Split up oauth app
  cmd/internal/shared/config.go
  cmd/internal/shared/identityserver/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/webpack.config.babel.js
  pkg/account/middleware.go
  pkg/account/observability.go
  pkg/account/server.go
  pkg/account/server_test.go
  pkg/account/session/observability.go
  pkg/account/session/session.go
  pkg/account/store_utils_test.go
  pkg/account/user.go
  pkg/identityserver/identityserver.go
  pkg/oauth/config.go
  pkg/oauth/oauth.go
  pkg/oauth/observability.go
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/oauth/store_utils_test.go
  pkg/oauth/user.go
Labels: c/identity server, compat/config

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

account: Update initialization logic
  pkg/webui/account/store/middleware/init.js
  pkg/webui/account/store/middleware/user.js
Labels: ui/web

account: Optimize forgot password flow
  pkg/webui/account/views/forgot-password/index.js
Labels: ui/web

account: Confrom entrypoint to latest styleguide
  pkg/webui/account.js
Labels: ui/web

account: Use dynamic password validation in registration form
  pkg/webui/account/views/create-account/index.js
Labels: ui/web

console,oauth: Refactor action utilities to global utility
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/containers/gateway-location-form/connect.js
  pkg/webui/console/store/actions/api-keys.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/collaborators.js
  pkg/webui/console/store/actions/configuration.js
  pkg/webui/console/store/actions/device-template-formats.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/init.js
  pkg/webui/console/store/actions/join-server.js
  pkg/webui/console/store/actions/link.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/actions/pagination.js
  pkg/webui/console/store/actions/pubsub-formats.js
  pkg/webui/console/store/actions/pubsubs.js
  pkg/webui/console/store/actions/rights.js
  pkg/webui/console/store/actions/status.js
  pkg/webui/console/store/actions/user.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/actions/webhook-formats.js
  pkg/webui/console/store/actions/webhook-templates.js
  pkg/webui/console/store/actions/webhooks.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/store/reducers/rights.js
  pkg/webui/console/views/admin-user-management-edit/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/connect.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/organization-add/connect.js
  pkg/webui/console/views/organization-general-settings/connect.js
  pkg/webui/lib/store/actions/attach-promise.js
  pkg/webui/lib/store/actions/create-request-actions.js
  pkg/webui/oauth/store/actions/user.js
Labels: ui/web

account: Convert api tree to arrow functions
  pkg/webui/account/api/index.js
Labels: ui/web

console,account: Allow custom titles in error notifications
  pkg/webui/components/error-notification/index.js
  pkg/webui/components/notification/index.js
  pkg/webui/components/notification/notification.styl
Labels: ui/web

account: Convert header container to functional component
  pkg/webui/account/containers/header/index.js
Labels: ui/web

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

oauth: Update user reducer
  pkg/webui/account/store/reducers/user.js
Labels: ui/web

account: Use request logic util for user logic
  pkg/webui/account/store/middleware/user.js
  pkg/webui/account/store/reducers/user.js
Labels: ui/web

account: Streamline user action names
  pkg/webui/account/store/actions/user.js
  pkg/webui/account/store/reducers/user.js
Labels: ui/web

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*
- pkg/basicstation/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*
- pkg/basicstation/*
- pkg/basicstation/cups/*
- pkg/pfconfig/*
- pkg/pfconfig/**/*

c/cups:
- pkg/basicstation/*
- pkg/basicstation/cups/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/device converter:
- pkg/devicetemplateconverter/*
- pkg/devicetemplates/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*
- pkg/messageprocessors/*
- pkg/messageprocessors/**/*
- pkg/scripting/*
- pkg/scripting/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go
- pkg/config/**/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

security:
- pkg/crypto/*
- pkg/crypto/**/*

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*
- pkg/web/oauthclient/*

tooling:
- tools/*
- tools/**/*
