Repository rvolosatovs/lorawan-stack, changes with the labels that .github/labeler.yml gives for each.
All labels: c/identity server, c/gateway server, c/gateway conf server, c/network server, c/application server, c/join server, c/console, c/packet broker agent, compat/api, compat/config, compat/db, dependencies, documentation, ui/cli, ui/web

.github/labeler.yml:

c/identity server:
- pkg/identityserver/*
- pkg/identityserver/**/*
- pkg/oauth/*
- pkg/oauth/**/*

c/gateway server:
- pkg/gatewayserver/*
- pkg/gatewayserver/**/*

c/gateway conf server:
- pkg/gatewayconfigurationserver/*
- pkg/gatewayconfigurationserver/**/*

c/network server:
- pkg/networkserver/*
- pkg/networkserver/**/*

c/application server:
- pkg/applicationserver/*
- pkg/applicationserver/**/*

c/join server:
- pkg/joinserver/*
- pkg/joinserver/**/*

c/console:
- pkg/console/*
- pkg/console/**/*

c/packet broker agent:
- pkg/packetbrokeragent/*
- pkg/packetbrokeragent/**/*

compat/api:
- api/*.proto

compat/config:
- cmd/**/config.go
- cmd/**/config.*.go
- pkg/**/config.go
- pkg/**/config.*.go
- pkg/config/*.go

compat/db:
- pkg/identityserver/store/*.go
- pkg/identityserver/store/**/*.go
- pkg/**/redis/*.go
- pkg/**/redis/**/*.go

# NOTE: We're not assigning bump/minor because that is a choice for the maintainer.

dependencies:
- go.mod
- go.sum
- yarn.lock
- sdk/js/yarn.lock

documentation:
- '*.md'
- '**/*.md'
- doc/content/*
- doc/content/**/*

ui/cli:
- cmd/ttn-lw-cli/*
- cmd/ttn-lw-cli/**/*

ui/web:
- pkg/webui/*
- pkg/webui/**/*

doc: Document application packages improvements
  doc/content/integrations/application-packages/_index.md
  doc/content/integrations/application-packages/lora-cloud-device-and-application-services.md
  doc/content/integrations/application-packages/lora-cloud-device-management.md
  sdk/js/generated/api-definition.json
Labels: documentation

as: Convert Redis errors consistently
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/redis/registry.go
Labels: c/application server, compat/db

cli: Add application packages default associations support
  cmd/ttn-lw-cli/commands/applications_packages.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
Labels: ui/cli

api: Add application uplink service data
  api/api.md
  api/api.swagger.json
  api/applicationserver_pubsub.proto
  api/applicationserver_web.proto
  api/messages.proto
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.paths.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

as, ns: Add application service data support
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/topics/layout.go
  pkg/applicationserver/io/mqtt/topics/v3.go
  pkg/applicationserver/io/mqtt/topics/v3_test.go
  pkg/applicationserver/io/pubsub/provider/connection.go
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/templates.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/networkserver/grpc_asns_test.go
Labels: c/network server, c/application server

as: Provide LoRaCloud DAS responses as service data
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  sdk/js/generated/api-definition.json
Labels: c/application server

doc: Mention service data MQTT topic
  doc/content/integrations/mqtt/_index.md
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server, documentation

as: Fix service data webhooks messages
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
Labels: c/application server

doc: Process feedback
  doc/content/getting-started/migrating-from-v2/configure-ttnctl.md
  doc/content/getting-started/migrating-from-v2/export-v2-devices.md
  doc/content/getting-started/migrating-from-v2/major-changes.md
Labels: documentation

util,ns: Move downlink partition utilities to ttnpb
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/utils.go
  pkg/ttnpb/messages.go
Labels: c/network server

as: Recalculate both downlink queues on invalidation
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/util_test.go
Labels: c/application server

as: Clarify downlink queue error messages
  pkg/applicationserver/applicationserver.go
Labels: c/application server

as: Clarify the usage of downlink queue transactions
  pkg/applicationserver/applicationserver.go
Labels: c/application server

as: Ensure session is available before recalculation
  pkg/applicationserver/applicationserver.go
Labels: c/application server

as: Use imperative tense in warnings
  pkg/applicationserver/applicationserver.go
Labels: c/application server

as: Fix LoRaCloud DAS package data merge logic
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server

oauth: Use proper cookie path for CSRF cookie
  pkg/oauth/server.go
Labels: c/identity server

oauth: Rename csrf cookie
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/webui/oauth/api/index.js
  pkg/webui/oauth/views/authorize/index.js
Labels: c/identity server, ui/web

console: Remove unnecessary csrf header from console api requests
  pkg/webui/console/api/index.js
Labels: ui/web

doc: Update changelog
  CHANGELOG.md
Labels: documentation

dev: Include testing considerations in issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

util: Add redis codec
  pkg/redis/codec/main.go
Labels: compat/db

doc: Fixed typo
  doc/content/getting-started/migrating-from-v2/major-changes.md
Labels: documentation

gs: Try to fix flaky test
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server

doc: Add consistent wording to cli command
  doc/content/devices/end-device-templates/creating.md
Labels: documentation

doc: Add Pub/Sub guide
  CHANGELOG.md
  doc/content/integrations/pubsub/_index.md
  doc/content/integrations/pubsub/message-types/_index.md
  doc/content/integrations/pubsub/message-types/topics.png
  doc/content/integrations/pubsub/mqtt-client/_index.md
  doc/content/integrations/pubsub/mqtt-client/mqtt-config.png
  doc/content/integrations/pubsub/mqtt-client/mqtt.png
  doc/content/integrations/pubsub/nats-client/_index.md
  doc/content/integrations/pubsub/nats-client/nats-config.png
  doc/content/integrations/pubsub/nats-client/nats.png
Labels: documentation

doc: Fix typo in application server configuration doc
  CHANGELOG.md
  doc/content/reference/configuration/application-server.md
Labels: documentation

gcs: Use vanilla handlers and refactor tests
  config/messages.json
  pkg/gatewayconfigurationserver/config.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayconfigurationserver/gcsv2/handlers_test.go
  pkg/gatewayconfigurationserver/gcsv2/middleware.go
  pkg/gatewayconfigurationserver/middleware.go
  pkg/gatewayconfigurationserver/server.go
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayconfigurationserver/v2/config.go
  pkg/gatewayconfigurationserver/v2/http_frequency_plan.go
  pkg/gatewayconfigurationserver/v2/http_gateway.go
  pkg/gatewayconfigurationserver/v2/middleware.go
  pkg/gatewayconfigurationserver/v2/server.go
  pkg/gatewayconfigurationserver/v2/server_test.go
  pkg/gatewayconfigurationserver/v2/utils_test.go
Labels: c/gateway conf server, compat/config

as: Use vanilla HTTP handlers
  config/messages.json
  pkg/applicationserver/io/web/middleware.go
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

all: Add web middleware for log namespace
  pkg/webmiddleware/namespace.go
  pkg/webmiddleware/namespace_test.go
Labels: none

gcs: Fix rewriting Authorization header for V2 authentication
  pkg/gatewayconfigurationserver/v2/middleware.go
Labels: c/gateway conf server

gcs: Validate and fill gateway ID in middleware
  pkg/gatewayconfigurationserver/v2/http_gateway.go
  pkg/gatewayconfigurationserver/v2/middleware.go
  pkg/gatewayconfigurationserver/v2/server.go
Labels: c/gateway conf server

all: Add chaining for middleware
  pkg/webmiddleware/webmiddleware.go
  pkg/webmiddleware/webmiddleware_test.go
Labels: none

gcs: Use explicit /api/v2 routes
  pkg/gatewayconfigurationserver/v2/server.go
  pkg/gatewayconfigurationserver/v2/server_test.go
Labels: c/gateway conf server
