Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

gs: Add upstream interface
  pkg/gatewayserver/upstream/upstream.go
Owners: @johanstokking, @KrishnaIyer

gs: Add NS upstream tests
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/ns/ns_util_test.go
Owners: @johanstokking, @KrishnaIyer

gs: Remove claiming logic from frontends
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/upstream.go
Owners: @johanstokking, @KrishnaIyer

gs: Add V3 NS upstream
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
Owners: @johanstokking, @KrishnaIyer

gs: Create scheduler inside connections
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/upstream.go
Owners: @johanstokking, @KrishnaIyer

gs: Fix context cancellation on connections
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
Owners: @johanstokking, @KrishnaIyer

gs: Move SupportsStatusMessages to frontend
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
Owners: @johanstokking, @KrishnaIyer

gs: Adapt GS to new upstream handler
  go.mod
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/upstream/ns/ns.go
Owners: @johanstokking, @htdvisser, @KrishnaIyer

gs: Add mock NS
  pkg/gatewayserver/upstream/mock/network_server.go
Owners: @johanstokking, @KrishnaIyer

gs: Use frontend interface in connection
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/upstream/ns/ns.go
Owners: @johanstokking, @KrishnaIyer

gs: Harmonize NS test mocking
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/upstream/mock/network_server.go
  pkg/gatewayserver/upstream/ns/ns_test.go
Owners: @johanstokking, @KrishnaIyer

gs: Use io.Conn context in upstream
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
Owners: @johanstokking, @KrishnaIyer

gs: Create new logger per routine in BS
  config/messages.json
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Owners: @johanstokking, @KrishnaIyer

gs: Send Basic Station version upstream
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
Owners: @johanstokking, @KrishnaIyer

gs: Error on invalid config
  pkg/gatewayserver/gatewayserver.go
Owners: @johanstokking, @KrishnaIyer

gs: Use hostname instead of name
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/upstream.go
Owners: @johanstokking, @KrishnaIyer

gs: Remove SupportsStatusMessage interface
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
Owners: @johanstokking, @KrishnaIyer

dev: Update protoc image version
  .mage/proto.go
Owners: @htdvisser, @rvolosatovs

api: Regenerate
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

dev: Update grpc-gateway to v1.11.2
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

console: Reset gateway stats on new gateway selection
  pkg/webui/console/store/reducers/gateways.js
Owners: @bafonins, @kschiffer

console: Move last seen handling for gateway stats to logic
  pkg/webui/console/containers/gateway-statistics/index.js
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @bafonins, @kschiffer

console: Extend gateway stats prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Extend error prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Split gateway-connection view and logic
  pkg/webui/console/containers/gateway-connection/connect.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/containers/gateway-connection/index.js
Owners: @bafonins, @kschiffer

console: Rename gateway-statistics to gateway-connection
  pkg/webui/console/containers/gateway-connection/gateway-connection.styl
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/views/gateway-overview/index.js
Owners: @bafonins, @kschiffer

console: Extend events selectors add selector to get the latest event
  pkg/webui/console/store/selectors/events.js
Owners: @bafonins, @kschiffer

console: Add gateway connection reactor
  pkg/webui/console/containers/gateway-connection/connect.js
  pkg/webui/console/containers/gateway-connection/gateway-connection-reactor.js
  pkg/webui/console/store/selectors/gateways.js
Owners: @bafonins, @kschiffer

console: Add gateway statistics number formatting
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
Owners: @bafonins, @kschiffer

console: Add general event type selectors
  pkg/webui/lib/selectors/event.js
Owners: @bafonins, @kschiffer

console: Refactor gateway connection reactor use event type selectors
  pkg/webui/console/containers/gateway-connection/gateway-connection-reactor.js
Owners: @bafonins, @kschiffer

console: Remove last seen update in gtw stats logic
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @bafonins, @kschiffer

console: Add tests for gateway connection reactor
  pkg/webui/console/containers/gateway-connection/tests/__snapshots__/gateway-connection-reactor_test.js.snap
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_driver.js
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_test.js
Owners: @bafonins, @kschiffer

console: Increase gateway stats update timeout
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @bafonins, @kschiffer

console: Add gateway status redux primitives
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/reducers/gateway-status.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/tests/gateway-status_test.js
  pkg/webui/console/store/selectors/gateway-status.js
Owners: @bafonins, @kschiffer

console: Refactor gateway connection component add lastSeen prop and last seen status handling
  pkg/webui/console/containers/gateway-connection/connect.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Adjust gateway stats prop-types last_status_received_at is not required since it can be missing
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Fix console title
  pkg/webui/console/views/app/index.js
Owners: @bafonins, @kschiffer

console: Refactor webhook format selector
  pkg/webui/console/containers/webhook-formats-select/index.js
Owners: @bafonins, @kschiffer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
