Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

console: Improve error view styling
  pkg/webui/console/views/error/error.styl
  pkg/webui/console/views/error/index.js
Owners: @bafonins, @kschiffer

console: Set default value for owner_id
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/gateway-add/index.js
Owners: @bafonins, @kschiffer

console: Rename remaining universal rights to pseudo rights
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Remove owner field from gateway edit form
  pkg/webui/console/components/gateway-data-form/index.js
Owners: @bafonins, @kschiffer

ns: Adjust downlink-related durations
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

console: Add Require component
  pkg/webui/console/lib/components/require.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for auth info
  pkg/webui/console/store/actions/user.js
  pkg/webui/console/store/reducers/user.js
  pkg/webui/console/store/selectors/user.js
Owners: @bafonins, @kschiffer

console: Adapt init logic to store auth info
  pkg/webui/console/store/middleware/logics/init.js
Owners: @bafonins, @kschiffer

console: Add withFeatureRequirement HOC
  pkg/webui/console/lib/components/with-feature-requirement.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to organization sidebar items
  pkg/webui/console/views/organization/connect.js
  pkg/webui/console/views/organization/organization.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to gateway sidebar navigation
  pkg/webui/console/views/gateway/index.js
Owners: @bafonins, @kschiffer

console: Remove needless right fetching in organization views
  pkg/webui/console/views/organization-api-key-add/connect.js
  pkg/webui/console/views/organization-api-key-edit/connect.js
  pkg/webui/console/views/organization-collaborator-add/connect.js
  pkg/webui/console/views/organization-collaborator-edit/connect.js
Owners: @bafonins, @kschiffer

console: Add feature toggles for application views
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-overview/index.js
Owners: @bafonins, @kschiffer

console: Add initial feature check utility with application checks
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to organization views
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/console/views/organization-overview/organization-overview.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to application sidebar entries
  pkg/webui/console/views/application/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggle to app delete button
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggle to application events container
  pkg/webui/console/containers/application-events/index.js
Owners: @bafonins, @kschiffer

console: Add organization feature checks
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to gateway views
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway-overview/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggle to devices view
  pkg/webui/console/views/devices/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggle to device list container
  pkg/webui/console/containers/devices-table/index.js
Owners: @bafonins, @kschiffer

console,oauth: Add hidden flag prop to navigation sidebar items
  pkg/webui/components/navigation/side/list/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggle to gateway delete button
  pkg/webui/console/views/gateway-general-settings/index.js
Owners: @bafonins, @kschiffer

console: Add gateway feature checks
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer

console: Add user feature checks
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer

console: Remove needless right fetching in gateway views
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
Owners: @bafonins, @kschiffer

console: Remove needless rights fetching in app views
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
Owners: @bafonins, @kschiffer

console: Add user related feature toggles to views
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/organization-add/organization-add.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to entity table add buttons
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
Owners: @bafonins, @kschiffer

console: Add utility function to feature check module
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to overview view
  pkg/webui/console/views/overview/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggle to organization delete button
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
Owners: @bafonins, @kschiffer

console: Enable toggling of fetch table add button
  pkg/webui/console/containers/fetch-table/index.js
Owners: @bafonins, @kschiffer

console: Fix table prop-types
  pkg/webui/components/table/index.js
Owners: @bafonins, @kschiffer

ns: Process MAC requests in retransmissions
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Owners: @johanstokking, @rvolosatovs

console: Add feature toggles to overview view
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/views/overview/index.js
Owners: @bafonins, @kschiffer

console: Add feature toggles to top level entity views
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/organizations/index.js
Owners: @bafonins, @kschiffer

console: Add functionality to hide navbar entries
  pkg/webui/components/navigation/bar/index.js
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
