Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

console,oauth: Add withComputedProps hoc
  pkg/webui/lib/components/with-computed-props.js
Owners: @bafonins, @kschiffer

console: Update prop-type library
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Renew rights group ui logic
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/rights-group/rights-group.styl
Owners: @bafonins, @kschiffer

console: Fix notification logic for right forms
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/collaborator-form/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Fix initial value for right forms
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/collaborator-form/index.js
Owners: @bafonins, @kschiffer

console: Rename universal rights to pseudo rights
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/rights.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
Owners: @bafonins, @kschiffer

console: Fix add collaborator message
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

console,oauth: Update shared messages
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

gs: Add separate interface for status messages
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/upstream.go
Owners: @johanstokking, @KrishnaIyer

api: Change documented expected error code for unexposed root keys
  api/api.md
  api/joinserver.proto
  pkg/ttnpb/joinserver.pb.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

js: Support nil root keys from crypto service
  pkg/crypto/cryptoservices/cryptoservices.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/crypto/cryptoservices/mem.go
  pkg/joinserver/grpc_deviceregistry.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

console: Add support button to console footer
  pkg/webui/console/views/app/index.js
Owners: @bafonins, @kschiffer

console,oauth: Update env selectors
  pkg/webui/lib/selectors/env.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add prop-types to app view
  pkg/webui/console/views/app/index.js
Owners: @bafonins, @kschiffer

console,oauth: Extend env lib
  pkg/webui/lib/env.js
Owners: @bafonins, @kschiffer

console: Update prop-type library
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console,oauth: Add optional support button to footer
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
Owners: @bafonins, @kschiffer

console: Add support link config
  pkg/console/console.go
Owners: @bafonins, @kschiffer

ci: Release only on tagged releases
  .travis.yml
Owners: none

util: Add default JoinEUI to device template
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Owners: none

util: Support ATECC608A-TNGLORA
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Owners: none

util: Reorder ATECC608A types
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Owners: none

console,oauth: Refactor app config json structure
  cmd/internal/shared/console/config.go
  cmd/internal/shared/identityserver/config.go
  pkg/console/console.go
  pkg/oauth/server.go
Owners: @johanstokking, @htdvisser, @bafonins, @kschiffer

console,oauth: Update env structure
  pkg/webui/console/api/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/env.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/selectors/env.js
  pkg/webui/oauth/api/index.js
Owners: @bafonins, @kschiffer

all: Fix reading config from files in order
  pkg/config/path.go
  pkg/config/path_test.go
Owners: none

all: Use OS working, home and user config directory for config lookup
  pkg/config/path.go
  pkg/config/path_test.go
Owners: none

api: Add optional file extensions to device template formats
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

all: Indicate .json file extension for Microchip manifests
  pkg/devicetemplates/microchip.go
Owners: none

oauth: Use config from request context
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/oauthclient.go
Owners: none

doc: Update list of supported versions
  SECURITY.md
Owners: none

dev: Update release steps
  DEVELOPMENT.md
Owners: none

as: Test frontend formatters
  pkg/applicationserver/io/formatters/protobuf_test.go
Owners: @johanstokking, @adriansmares

as: Test getting MQTT connection info
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
Owners: @johanstokking, @adriansmares

all: Test invalid data and signature of Microchip manifests
  pkg/devicetemplates/microchip_test.go
Owners: none

as: Test MQTT topic structure
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/mqtt/topics/v3_test.go
Owners: @johanstokking, @adriansmares

gs: Improve test coverage
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/mock/entity_registry.go
Owners: @johanstokking, @KrishnaIyer

all: Cleanup and test password checks
  pkg/auth/password.go
  pkg/auth/password_test.go
Owners: @johanstokking, @htdvisser

all: Add initial template funcs for emails
  pkg/email/funcs.go
  pkg/email/registry.go
Owners: none
