Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

is: Extend check for user authentication presence consider users to be unauthenticated with any state except for STATE_APPROVED and STATE_FLAGGED
  pkg/identityserver/entity_access.go
Owners: @htdvisser, @bafonins

dev: Generate backend messages
  config/messages.json
Owners: none

all: Bump to version 3.2.1
  doc/config.toml
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer

console: Remove component whitelist from bulk device creation
  pkg/webui/console/containers/device-bulk-creator/index.js
Owners: @bafonins, @kschiffer

doc: Bump CHANGELOG.md
  CHANGELOG.md
Owners: none

doc: Fix links in CHANGELOG.md [Skip CI]
  CHANGELOG.md
Owners: none

dev,doc: Fix release documentation
  DEVELOPMENT.md
Owners: none

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Fix appId retrieval
  pkg/webui/console/views/device-add-bulk/index.js
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Refactor device add views
  pkg/webui/console/views/device-add-single/device-add-single.styl
  pkg/webui/console/views/device-add-single/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/devices/index.js
Owners: @bafonins, @kschiffer

console: Apply styling and display fixes
  pkg/webui/console/components/device-bulk-create-form/index.js
  pkg/webui/console/containers/device-template-format-select/index.js
  pkg/webui/console/views/device-add-bulk/device-add-bulk.styl
  pkg/webui/console/views/device-add-bulk/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

gs: Use existing DataRate comparator
  config/messages.json
  pkg/gatewayserver/io/basicstationlns/messages/util.go
Owners: @johanstokking, @KrishnaIyer

api, util: Make naming idiomatic
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
  pkg/util/datarate/data_rate.go
  pkg/util/datarate/data_rate_test.go
Owners: @johanstokking, @KrishnaIyer, @htdvisser, @rvolosatovs

all: Remove release-notes dependency
  go.mod
  go.sum
  tools.go
Owners: @johanstokking, @htdvisser

all: Update Go dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

util: Support padding in Microchip device certificate data
  pkg/devicetemplates/microchip.go
Owners: none

all: Use Go's Let's Encrypt URL for ACME
  cmd/internal/shared/config.go
Owners: @johanstokking, @htdvisser

doc: Update instructions to use tls.source instead of tls.acme.enable
  doc/content/guides/getting-started/configuration.md
  docker-compose.yml
Owners: none

all: Restore priority of ACME TLS config
  CHANGELOG.md
  pkg/component/tls.go
Owners: @johanstokking, @htdvisser

all: Mark tls.acme.enable as deprecated
  CHANGELOG.md
  pkg/config/tls.go
Owners: none

all: Remove invalid gitea dep
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

api: Regenerate
  pkg/ttnpb/applicationserver_packages.pb.gw.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

doc: Rename repo-file shortcode
  doc/content/guides/getting-started/installation.md
  doc/layouts/shortcodes/repo-file-url.html
Owners: none

doc: Remove Getting Started from main menu
  doc/content/guides/getting-started/_index.md
Owners: none

doc: Remove custom CSS from console content
  doc/content/guides/getting-started/console/_index.md
Owners: none

doc: Add index and download page from landing
  doc/content/_index.html
  doc/content/_index.md
  doc/content/components/overview.svg
  doc/content/download.html
Owners: none

doc: Remove extra concepts list from overview page
  doc/content/concepts/_index.md
Owners: none

doc: Fix content of summaries
  doc/content/concepts/email-templates.md
  doc/content/concepts/end-device-templates.md
  doc/content/guides/class-c-multicast/_index.md
  doc/content/guides/downlink-queue-ops/_index.md
  doc/content/guides/events/_index.md
  doc/content/reference/email-templates/_index.md
  doc/content/reference/end-device-templates/_index.md
Owners: none

doc: Render summaries as HTML
  doc/themes/the-things-stack/layouts/partials/pages-cards.html
Owners: none

doc: Split components section into pages
  doc/content/components/_index.md
  doc/content/components/application-server.md
  doc/content/components/cli.md
  doc/content/components/console.md
  doc/content/components/crypto-server.md
  doc/content/components/device-claiming-server.md
  doc/content/components/device-template-converter.md
  doc/content/components/gateway-configuration-server.md
  doc/content/components/gateway-server.md
  doc/content/components/identity-server.md
  doc/content/components/join-server.md
  doc/content/components/network-server.md
Owners: none

doc: Move authentication.md to API reference
  doc/content/reference/api/_index.md
  doc/content/reference/api/authentication.md
  doc/content/reference/email-templates/_index.md
  doc/content/reference/end-device-templates/_index.md
Owners: none

doc: Restore page information and edit link
  doc/config.toml
  doc/config.toml.tmpl
  doc/layouts/partials/edit-page.html
  doc/themes/the-things-stack/layouts/partials/file-info.html
  doc/themes/the-things-stack/layouts/partials/footer.html
Owners: none

doc: Move contents of gatewayserver.md to components section
  doc/content/components/gateway-server.md
  doc/gatewayserver.md
Owners: none

doc: Add first generated API reference
  doc/content/reference/api/application.md
  doc/content/reference/api/application_pub_sub.md
  doc/content/reference/api/application_server.md
  doc/content/reference/api/application_webhooks.md
  doc/content/reference/api/authentication.md
  doc/content/reference/api/end_device.md
  doc/content/reference/api/gateway_server.md
  doc/content/reference/api/gateways.md
  doc/data/api/ttn.lorawan.v3/enums.yml
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  doc/themes/the-things-stack/layouts/partials/proto/field-type.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/enum.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/message.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/method.html
Owners: none

ci: Publish builds to S3
  .goreleaser.yml
Owners: none

ci: Fix quotation of S3 config
  .goreleaser.yml
Owners: none

ci: Move s3 config for goreleaser to blob
  .goreleaser.yml
Owners: none

doc: Remove sidebar from download page
  doc/themes/the-things-stack/layouts/_default/baseof.html
Owners: none

all: Fix ACME initialization in absence of tls.acme.enable
  pkg/component/acme.go
Owners: @johanstokking, @htdvisser

all: Bump to version 3.2.2
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer
