Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

console: Add prop-types to app api keys list
  pkg/webui/console/views/application-api-keys-list/index.js
Owners: @bafonins, @kschiffer

console: Add prop-types to gtw api keys list
  pkg/webui/console/views/gateway-api-keys-list/index.js
Owners: @bafonins, @kschiffer

console: Fix gtw api keys table fetching state
  pkg/webui/console/views/gateway-api-keys-list/index.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in gtw api keys list
  pkg/webui/console/views/gateway-api-keys-list/index.js
Owners: @bafonins, @kschiffer

doc: Add Network Server to H1 title on download page
  doc/content/download.html
Owners: none

gs: Use server context BS write error function
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Owners: @johanstokking, @KrishnaIyer

gs: Add option to force WSS in traffic endpoint
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
Owners: @johanstokking, @KrishnaIyer

gs: Make config consistent
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Owners: @johanstokking, @KrishnaIyer

ns: Rename handleUplinkGetPaths -> handleDataUplinkGetPaths
  pkg/networkserver/grpc_gsns.go
Owners: @johanstokking, @rvolosatovs

ns: Optimize downlink task starting times
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_beacon_freq_test.go
  pkg/networkserver/mac_beacon_timing.go
  pkg/networkserver/mac_beacon_timing_test.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dev_status_test.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_duty_cycle_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_new_channel_test.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_ping_slot_channel_test.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rejoin_param_setup_test.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_param_setup_test.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_rx_timing_setup_test.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs

ns: Move nextConfirmedClassCDownlinkAt to utils.go
  pkg/networkserver/downlink.go
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs

ns: Allow confirmed class C downlinks after uplinks
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

doc: Update changelog
  CHANGELOG.md
Owners: none

util: Fix device template formats marshaling
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

util: Fix device update
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

all: Allow read-only fields in update mask if they don't change
  config/messages.json
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/pubsub/redis/registry.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/redis/registry.go
Owners: @johanstokking, @adriansmares, @rvolosatovs

ns: Fix NewChannelReq scheduling condition
  pkg/networkserver/mac_new_channel.go
Owners: @johanstokking, @rvolosatovs

ns: Prefix needs.*Req with device
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_beacon_freq_test.go
  pkg/networkserver/mac_beacon_timing.go
  pkg/networkserver/mac_beacon_timing_test.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dev_status_test.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_duty_cycle_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_new_channel_test.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_ping_slot_channel_test.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rejoin_param_setup_test.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_param_setup_test.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_rx_timing_setup_test.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs

ns: Fix MAC event scheduling
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_new_channel.go
Owners: @johanstokking, @rvolosatovs

ns: Only set required fields on downlinks
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Owners: @johanstokking, @rvolosatovs

ns: Refactor ADRParamSetupReq utilities
  pkg/networkserver/mac_adr_param_setup.go
Owners: @johanstokking, @rvolosatovs

cli: Add qrg to stack start use command
  cmd/ttn-lw-stack/commands/start.go
Owners: @johanstokking, @htdvisser

console: Fix loading template converters
  pkg/webui/console/store/middleware/logics/devices.js
Owners: @bafonins, @kschiffer

all: Bump to version 3.2.3
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer

console: Add onKeyDown listener to table rows
  pkg/webui/components/table/row/index.js
Owners: @bafonins, @kschiffer

ns: Support channel deletion
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_new_channel_test.go
Owners: @johanstokking, @rvolosatovs

doc: Document interop repository in docker-compose.yml
  docker-compose.yml
Owners: none

doc: Document Join Server interoperability
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/network-server.md
  doc/content/reference/interop-repository/_index.md
Owners: none

all: Use .yml extension in interop configuration
  pkg/interop/client.go
  pkg/interop/client_test.go
Owners: @johanstokking, @rvolosatovs

console,oauth: Update shared messages
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

console: Add mqtt connection info to api tree
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

util: Add mqtt connection info to application service
  sdk/js/src/service/applications.js
Owners: @bafonins, @kschiffer

console: Add mqtt integrations view
  pkg/webui/console/views/application-integrations-mqtt/application-integrations-mqtt.styl
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add mqtt integrations route
  pkg/webui/console/views/application/index.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Extend collaborators selectors
  pkg/webui/console/store/selectors/collaborators.js
Owners: @bafonins, @kschiffer

console: Extend organization selectors add collaborators selectors
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

console: Extend application selectors add collaborators selectors
  pkg/webui/console/store/selectors/applications.js
Owners: @bafonins, @kschiffer

console: Fix org collaborators table fetching state
  pkg/webui/console/views/organization-collaborators-list/connect.js
  pkg/webui/console/views/organization-collaborators-list/organization-collaborators-list.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in app collaborators list
  pkg/webui/console/views/application-collaborators-list/index.js
Owners: @bafonins, @kschiffer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
