Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

gs: Ensure Settings are set in grpc tests
  pkg/gatewayserver/io/grpc/grpc_test.go
Owners: @johanstokking, @KrishnaIyer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Disable tls when ns address not present
  pkg/webui/console/views/application-link/index.js
Owners: @bafonins, @kschiffer

util: Improve logic for handling errors in makeRequest util
  sdk/js/src/service/devices/split.js
Owners: @bafonins, @kschiffer

util: Only rollback device entries that have actually been created
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

doc: Document CLI component and configuration
  doc/content/components/cli.md
  doc/content/reference/configuration/cli.md
  doc/content/reference/configuration/gateway-configuration-server.md
Owners: none

doc: Add high level IS component documentation
  doc/content/components/identity-server.md
  doc/content/reference/api/gateway.md
Owners: none

all: Update tag casing
  pkg/config/shared.go
Owners: none

cli,doc: Align descriptions
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/network-server.md
  pkg/config/shared.go
Owners: none

dev: Build docs into public/doc
  .mage/docs.go
Owners: @htdvisser, @rvolosatovs

doc: Omit canonical link on root-relative builds
  doc/themes/the-things-stack/layouts/partials/head.html
Owners: none

all: Don't apply redirect middleware to global server
  pkg/web/web.go
Owners: none

doc: Mention embedded documentation in changelog
  CHANGELOG.md
Owners: none

doc: Document Network Server options
  doc/content/reference/configuration/network-server.md
Owners: none

doc: Fix AS documentation typo
  doc/content/reference/configuration/application-server.md
Owners: none

doc: Document Join Server options
  doc/content/reference/configuration/join-server.md
Owners: none

console: Extend validation schema to handle unexposed root keys
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Extend placeholder and disabled state for root key fields
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

ci: Move docs build to after_success
  .travis.yml
Owners: none

as: Provide credentials using discover package
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/linking.go
Owners: @johanstokking, @adriansmares

all: Bump to version 3.2.4
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer

util: Extend create method in applications service allow creating applications with organization as initial owner
  sdk/js/src/service/applications.js
Owners: @bafonins, @kschiffer

console,oauth: Extend id selectors add function to select id from a user object
  pkg/webui/lib/selectors/id.js
Owners: @bafonins, @kschiffer

ns: Set real LastFCntDown in DownlinkQueueInvalidated
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

console: Fix event error selector
  pkg/webui/console/store/selectors/events.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add owners-select component
  pkg/webui/console/containers/owners-select/connect.js
  pkg/webui/console/containers/owners-select/index.js
  pkg/webui/console/containers/owners-select/owners-select.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in application add component
  pkg/webui/console/views/application-add/index.js
Owners: @bafonins, @kschiffer

console: Extend add application form add owner_id select
  pkg/webui/console/views/application-add/index.js
Owners: @bafonins, @kschiffer

util: Extend create method in gateways service allow creating gateways with organization as initial owner
  sdk/js/src/service/gateways.js
Owners: @bafonins, @kschiffer

console: Extend add gateway form add owner_id select
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/gateway-add/index.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Extend add gateway add component prop-types
  pkg/webui/console/views/gateway-add/index.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in gateway add component
  pkg/webui/console/views/gateway-add/index.js
Owners: @bafonins, @kschiffer

ns: Queue application uplinks
  cmd/ttn-lw-stack/commands/start.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/application_uplink_queue_test.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/registry_test.go
  pkg/redis/redis.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

dev: Regenerate messages
  config/messages.json
Owners: none

console: Fix error message prop composition
  pkg/webui/lib/components/error-message/index.js
Owners: @bafonins, @kschiffer

oauth: Improve error view styling
  pkg/webui/oauth/views/error/full-view.styl
  pkg/webui/oauth/views/error/index.js
Owners: @bafonins, @kschiffer
