Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

console: Add join eui prefix input component
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.styl
Owners: @bafonins, @kschiffer

console: Fix js api definitions entry
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

dev: Update messages
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add select name in onBlur handler
  pkg/webui/components/select/index.js
Owners: @bafonins, @kschiffer

console: Use react-intl v3 ref forwarding
  pkg/webui/components/form/field/index.js
  pkg/webui/components/input/index.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
Owners: @bafonins, @kschiffer

console: Extend byte input add functionality to deal with separate characters, not only with full bytes
  pkg/webui/components/input/byte.js
Owners: @bafonins, @kschiffer

all: Add option to redirect requests to a single host
  pkg/component/web.go
  pkg/config/shared.go
  pkg/web/middleware/redirect.go
  pkg/web/middleware/redirect_test.go
  pkg/web/web.go
Owners: @johanstokking, @htdvisser

ns,as,js: Use test context for unique ID derivation
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @johanstokking, @adriansmares, @rvolosatovs

console: Refactor shared messages
  pkg/webui/console/views/application-link/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

oauth: Fix callback regression
  pkg/oauth/server.go
Owners: none

console: Move AppKey above NwkKey
  pkg/webui/console/components/device-data-form/index.js
Owners: @bafonins, @kschiffer

console: Adjust device activation settings form descriptions
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

dev: Switch to go 1.13, fix dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

ci: Use Go 1.13
  .travis.yml
Owners: none

dev: Add a go file to the root of the project to satisfy go mod
  lorawan-stack.go
Owners: none

dev: Fix misspell mage target
  .mage/dev.go
  .mage/go.go
  .travis.yml
  DEVELOPMENT.md
  doc/content/reference/email-templates/overriding.md
  sdk/js/src/service/devices/split.js
Owners: @htdvisser, @rvolosatovs, @bafonins, @kschiffer

dev: Update dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

console: Add automatic linking to add device form
  pkg/webui/console/views/application-add/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

all: Bump to version 3.1.2
  doc/config.toml
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer

ns: Fix LinkADR event payloads
  config/messages.json
  pkg/networkserver/mac_link_adr.go
Owners: @johanstokking, @rvolosatovs

gs: Add timeout to wait for gateway disconnection
  pkg/gatewayserver/gatewayserver_test.go
Owners: @johanstokking, @KrishnaIyer

dev: Fix broken dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

oauth: Replace hard coded site name references
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/login/index.js
Owners: @bafonins, @kschiffer

console: Update prop types
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Replace hardcoded site name references
  pkg/webui/console/views/login/index.js
  pkg/webui/console/views/login/login.styl
Owners: @bafonins, @kschiffer

dev: Update messages
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console,oauth: Refine grid container sizes
  pkg/webui/lib/components/init.js
  pkg/webui/styles/variables/generic.styl
Owners: @bafonins, @kschiffer

console,oauth: Improve responsiveness of form fields
  pkg/webui/components/form/field/field.styl
Owners: @bafonins, @kschiffer

console,oauth: Streamline grid column setups
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integration-add/index.js
  pkg/webui/console/views/application-integration-edit/index.js
  pkg/webui/console/views/application-integrations-list/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/device-add/device-add.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-add/gateway-add.styl
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/console/views/organization-add/organization-add.js
  pkg/webui/console/views/organization-add/organization-add.styl
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/console/views/organizations-list/index.js
  pkg/webui/oauth/views/code/index.js
Owners: @bafonins, @kschiffer

console,oauth: Adapt responsive styles of toggled input
  pkg/webui/components/input/toggled.js
  pkg/webui/components/input/toggled.styl
Owners: @bafonins, @kschiffer

console,oauth: Adapt responsive styles of key value map
  pkg/webui/components/key-value-map/index.js
  pkg/webui/components/key-value-map/key-value-map.styl
Owners: @bafonins, @kschiffer

console,oauth: Fix input max height
  pkg/webui/components/input/index.js
  pkg/webui/components/input/input.styl
Owners: @bafonins, @kschiffer

console,oauth: Adapt responsive styles of form fields
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
Owners: @bafonins, @kschiffer

console,oauth: Fix select styling
  pkg/webui/components/select/select.styl
Owners: @bafonins, @kschiffer

as: Fix naming of metrics
  pkg/applicationserver/observability.go
Owners: @johanstokking, @adriansmares

oauth: Add back missing messages
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/create-account/index.js
Owners: @bafonins, @kschiffer

oauth: Define location propTypes
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

oauth: Update propTypes in update password view
  pkg/webui/oauth/views/update-password/index.js
Owners: @bafonins, @kschiffer

console: Show application id when app name missing
  pkg/webui/console/views/application-general-settings/index.js
Owners: @bafonins, @kschiffer
