Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

all: Improve test coverage of pkg/email
  pkg/email/email_test.go
  pkg/email/testdata/footer.html
  pkg/email/testdata/footer.txt
  pkg/email/testdata/header.html
  pkg/email/testdata/header.txt
Owners: none

all: Test pkg/email/smtp with local smtp server
  go.mod
  go.sum
  pkg/email/smtp/smtp_test.go
Owners: @johanstokking, @htdvisser

all: Remove unused log.Must
  pkg/log/context_test.go
  pkg/log/must.go
Owners: none

all: Improve test coverage of pkg/log
  pkg/log/log_test.go
Owners: none

all: Remove unused pkg/log/middleware/filter
  pkg/log/middleware/filter/builder.go
  pkg/log/middleware/filter/builder_test.go
  pkg/log/middleware/filter/filter.go
  pkg/log/middleware/filter/filter_test.go
Owners: none

console: Fix add collaborator message
  pkg/webui/console/containers/collaborators-table/index.js
Owners: @bafonins, @kschiffer

util: Improve encoding/lorawan package test coverage
  pkg/encoding/lorawan/lorawan_test.go
Owners: none

util: Improve crypto package test coverage
  pkg/crypto/join_messages_test.go
Owners: @johanstokking, @htdvisser

util: Fix crypto package test organization
  pkg/crypto/data_messages_test.go
  pkg/crypto/key_derivation_internal_test.go
  pkg/crypto/key_derivation_test.go
  pkg/crypto/keywrap.go
  pkg/crypto/keywrap_test.go
Owners: @johanstokking, @htdvisser

all: Enable GS MQTT V2 listener by default and assign port
  cmd/internal/shared/gatewayserver/config.go
  doc/networking.md
Owners: @johanstokking, @htdvisser

gcs: Use MQTT V2 for TTKG
  cmd/internal/shared/gatewayconfigurationserver/config.go
Owners: @johanstokking, @htdvisser

cli: Add command to claim end devices
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
Owners: @johanstokking, @htdvisser

cli: Add application claim (un)authorize commands
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
Owners: @johanstokking, @htdvisser

all: Add RPC middleware to fallback to default port
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/discover/discover_internal_test.go
Owners: none

all: Interpret TR005 QR code DevVCode as string
  pkg/qrcode/lora_alliance_tr005.go
  pkg/qrcode/lora_alliance_tr005_test.go
  pkg/qrcode/qrcode.go
  pkg/qrcode/qrcode_test.go
Owners: none

cli: Consistent casing in log warnings
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
Owners: @johanstokking, @htdvisser

api: Fix validation for QR code
  api/api.md
  api/deviceclaimingserver.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

api: Change authentication code value to string
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  api/end_device.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

ns: Remove nil-checks on specified field masks
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @johanstokking, @rvolosatovs

util: Validate QR TR005 draft 2 DevVCode
  pkg/qrcode/lora_alliance_tr005.go
Owners: none

all: Regenerate messages
  config/messages.json
Owners: none

util: Support encoding end device data in QR codes
  pkg/qrcode/lora_alliance_tr005.go
  pkg/qrcode/lora_alliance_tr005_test.go
  pkg/qrcode/qrcode.go
Owners: none

util: Support escaped percentage sign
  pkg/qrcode/lora_alliance_tr005.go
  pkg/qrcode/lora_alliance_tr005_test.go
Owners: none

cli: Add generating QR codes for end devices
  cmd/ttn-lw-cli/commands/end_devices.go
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

api: Promote Picture to its own file
  api/api.md
  api/api.swagger.json
  api/picture.proto
  api/user.proto
  pkg/ttnpb/picture.pb.go
  pkg/ttnpb/picture.pb.paths.fm.go
  pkg/ttnpb/picture.pb.setters.fm.go
  pkg/ttnpb/picture.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

dev: Add qrg commit topic
  .mage/git.go
Owners: @htdvisser, @rvolosatovs

all: Register LoRa Alliance TR005 draft 2 QR code format
  pkg/qrcode/lora_alliance_tr005.go
Owners: none

cli: Use QR Code Generator service to generate QR codes
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
Owners: @johanstokking, @htdvisser

qrg: Add QR code generator component
  pkg/qrcodegenerator/grpc.go
  pkg/qrcodegenerator/grpc_test.go
  pkg/qrcodegenerator/qrcodegenerator.go
  pkg/qrcodegenerator/qrcodegenerator_test.go
  pkg/qrcodegenerator/util_test.go
Owners: none

all: Regenerate messages
  config/messages.json
Owners: none

qrg: Start QR Code Generator component
  cmd/internal/shared/errors.go
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/start.go
Owners: @johanstokking, @htdvisser

api: Add end device QR code generator
  api/api.md
  api/api.swagger.json
  api/enums.proto
  api/qrcodegenerator.proto
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/enums.pb.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.setters.fm.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

all: Add QR code formats and registry
  pkg/qrcode/qrcode.go
  pkg/qrcode/qrcode_test.go
Owners: none

cli: Harmonize list format aliases
  cmd/ttn-lw-cli/commands/end_device_templates.go
Owners: @johanstokking, @htdvisser

cli: Read JSON array input as separate objects
  cmd/ttn-lw-cli/internal/io/io.go
Owners: @johanstokking, @htdvisser

console,oauth: Add progress bar component
  pkg/webui/components/progress-bar/index.js
  pkg/webui/components/progress-bar/progress-bar.styl
  pkg/webui/components/progress-bar/story.js
Owners: @bafonins, @kschiffer

api: Add applications packages registry
  api/api.md
  api/api.swagger.json
  api/applicationserver_packages.proto
  pkg/ttnpb/applicationserver_packages.pb.go
  pkg/ttnpb/applicationserver_packages.pb.gw.go
  pkg/ttnpb/applicationserver_packages.pb.paths.fm.go
  pkg/ttnpb/applicationserver_packages.pb.setters.fm.go
  pkg/ttnpb/applicationserver_packages.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

as: Add application packages registry Redis implementation
  pkg/applicationserver/io/applicationpackages/redis/registry.go
  pkg/applicationserver/io/applicationpackages/registry.go
Owners: @johanstokking, @adriansmares

as: Add application packages RPC implementation
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/applicationpackages/applicationpackages.go
  pkg/applicationserver/io/applicationpackages/grpc.go
  pkg/applicationserver/io/applicationpackages/packages.go
  pkg/applicationserver/io/applicationpackages/registry.go
Owners: @johanstokking, @adriansmares

as: Simplify registry configuration
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
Owners: @johanstokking, @adriansmares

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
