Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsIndustries/stack, @bafonis, @kschiffer

ns: Fix cluster auth tests
  pkg/applicationserver/applicationserver_test.go
  pkg/networkserver/grpc_asns_test.go
Owners: @johanstokking, @rvolosatovs

as: Enable MQTT listening by default
  cmd/internal/shared/applicationserver/config.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

as: Fix correlation IDs tests
  pkg/applicationserver/applicationserver_test.go
Owners: @johanstokking

gs: Append correlation IDs to the messages
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/grpc_nsgs.go
Owners: @johanstokking

ns: Use cluster auth in LinkApplication
  pkg/networkserver/grpc_asns.go
Owners: @rvolosatovs

as: Append correlation IDs to the messages
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/linking.go
Owners: @johanstokking

ns: Remove unused hook
  pkg/networkserver/networkserver.go
Owners: @rvolosatovs

ns: Check the cluster auth before the rights
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/networkserver.go
Owners: @rvolosatovs

gs: Log message harmonization
  pkg/gatewayserver/gatewayserver.go
Owners: @johanstokking

CODEOWNERS:

* @johanstokking

.make @htdvisser @rvolosatovs
api @johanstokking @htdvisser @rvolosatovs
cmd @johanstokking @htdvisser @rvolosatovs
doc @TheThingsIndustries/stack
config @TheThingsIndustries/stack

pkg @TheThingsIndustries/stack
pkg/auth @johanstokking @htdvisser
pkg/crypto @johanstokking @htdvisser
pkg/webui @bafonis @kschiffer

pkg/applicationserver @johanstokking
pkg/console @bafonis @kschiffer
pkg/gatewayserver @johanstokking
pkg/networkserver @rvolosatovs
pkg/identityserver @htdvisser
pkg/joinserver @johanstokking @rvolosatovs

sdk/js @bafonis @kschiffer
