Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

console: Add prop-types to app collaborators list
  pkg/webui/console/views/application-collaborators-list/index.js
Owners: @bafonins, @kschiffer

console: Fix app collaborators table fetching state
  pkg/webui/console/views/application-collaborators-list/index.js
Owners: @bafonins, @kschiffer

console: Extend gateway selectors add collaborators selectors
  pkg/webui/console/store/selectors/gateways.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in gtw collaborators list
  pkg/webui/console/views/gateway-collaborators-list/index.js
Owners: @bafonins, @kschiffer

console: Fix gtw collaborators table fetching state
  pkg/webui/console/views/gateway-collaborators-list/index.js
Owners: @bafonins, @kschiffer

console: Add prop-types to gtw collaborators list
  pkg/webui/console/views/gateway-collaborators-list/index.js
Owners: @bafonins, @kschiffer

util: Improve determination of join server availability
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

util: Refactor route param resposibility for device creation
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
Owners: @bafonins, @kschiffer

util: Ignore not found registries in join and dev eui retrieval
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

console: Ensure prefilled component addresses
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in gateways table
  pkg/webui/console/containers/gateways-table/index.js
Owners: @bafonins, @kschiffer

console: Adjust styling for status component
  pkg/webui/components/status/status.styl
Owners: @bafonins, @kschiffer

console: Extend gateways list logic add fetching stats
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Extend gateways table show gateway status
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

console: Make stats fetching optional
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/store/actions/pagination.js
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @bafonins, @kschiffer

console: Add edtc stack component config to console
  cmd/internal/shared/console/config.go
  pkg/console/console.go
Owners: @johanstokking, @htdvisser, @bafonins, @kschiffer

console: Pass edtc config to sdk
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

util: Add edtc component to stack component stack constants
  sdk/js/src/util/constants.js
Owners: @bafonins, @kschiffer

all: Support TR005 draft 3 QR code format
  CHANGELOG.md
  pkg/qrcode/lora_alliance_tr005d3.go
  pkg/qrcode/lora_alliance_tr005d3_test.go
  pkg/qrcode/qrcode.go
  pkg/qrcode/qrcode_test.go
Owners: none

all: Reorganize TR005 draft 2 QR code files
  pkg/qrcode/lora_alliance_tr005d2.go
  pkg/qrcode/lora_alliance_tr005d2_test.go
  pkg/qrcode/qrcode_test.go
Owners: none

console: Add qrg stack component to config
  cmd/internal/shared/console/config.go
  pkg/console/console.go
Owners: @johanstokking, @htdvisser, @bafonins, @kschiffer

console: Pass qrg config to sdk
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Add qrg to component constants
  pkg/webui/constants/components.js
Owners: @bafonins, @kschiffer

util: Add qrg component to stack component constants
  sdk/js/src/util/constants.js
Owners: @bafonins, @kschiffer

console: Add ErrorNotification component
  pkg/webui/components/error-notification/index.js
  pkg/webui/components/error-notification/story.js
Owners: @bafonins, @kschiffer

console: Adapt Notification component
  pkg/webui/components/notification/index.js
  pkg/webui/components/notification/notification.styl
  pkg/webui/components/notification/story.js
Owners: @bafonins, @kschiffer

console: Add error details component
  pkg/webui/components/notification/details/details.styl
  pkg/webui/components/notification/details/index.js
Owners: @bafonins, @kschiffer

util: Add toMessageProp function
  pkg/webui/lib/errors/utils.js
Owners: @bafonins, @kschiffer

dev: Add translations
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Change ErrorMessage component
  pkg/webui/lib/components/error-message/index.js
Owners: @bafonins, @kschiffer

console: Update existing Notification instances
  pkg/webui/components/events/index.js
  pkg/webui/components/events/widget/index.js
  pkg/webui/components/form/index.js
  pkg/webui/components/location-form/index.js
  pkg/webui/components/toast/toast.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
Owners: @bafonins, @kschiffer

console: Add tls checkbox to app link form
  pkg/webui/console/views/application-link/index.js
Owners: @bafonins, @kschiffer

console: Add prop-types to app link page
  pkg/webui/console/views/application-link/index.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in app link page
  pkg/webui/console/views/application-link/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

doc: Restructure CONTRIBUTING and DEVELOPMENT
  CONTRIBUTING.md
  DEVELOPMENT.md
Owners: none

doc: Add Pull Request Checklist
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

ns: Ensure Settings are set in uplink tests
  pkg/networkserver/grpc_gsns_test.go
Owners: @johanstokking, @rvolosatovs

dev: Update protoc image version
  .mage/proto.go
Owners: @htdvisser, @rvolosatovs

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
