Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

console: Add composite feature checks
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Add feature toggles to top level navbar items
  pkg/webui/console/containers/header/index.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

all: Support AWS instance credentials in blob
  pkg/config/shared.go
Owners: none

console: Add location parameter to sidebar test
  pkg/webui/components/navigation/side/index_driver.js
Owners: @bafonins, @kschiffer

console: Add withRouter and path based sidebar expansion
  pkg/webui/components/navigation/side/side.js
Owners: @bafonins, @kschiffer

console: Detach footer from viewport
  pkg/webui/console/views/app/app.styl
Owners: @bafonins, @kschiffer

console: Refactor computePrefix utility function
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix.js
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix_test.js
Owners: @bafonins, @kschiffer

console: Fix join eui prefixes input
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

util: Fix blob config sharing
  pkg/applicationserver/applicationserver.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/interop/client.go
Owners: @johanstokking, @adriansmares, @htdvisser, @rvolosatovs

util: Allow configuring interop server fetch source
  cmd/ttn-lw-stack/commands/root.go
  pkg/component/component.go
  pkg/component/interop_test.go
  pkg/component/testdata/config.yml
  pkg/config/config.go
  pkg/config/shared.go
  pkg/interop/server.go
  pkg/interop/server_test.go
  pkg/interop/testdata/config.yml
Owners: @johanstokking, @htdvisser, @rvolosatovs

doc: Document Interop server configuration source
  doc/content/reference/configuration/the-things-stack.md
Owners: none

doc: Update changelog
  CHANGELOG.md
Owners: none

util: Remove ttn babel preset
  sdk/js/.babelrc
  sdk/js/package.json
  sdk/js/yarn.lock
Owners: @bafonins, @kschiffer

util: Remove ttn jest preset
  sdk/js/package.json
  sdk/js/yarn.lock
Owners: @bafonins, @kschiffer

as: Increase connection timeout in tests
  pkg/applicationserver/applicationserver_test.go
Owners: @johanstokking, @adriansmares

gs, gcs: Remove hardware specific fields from router_config
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/messages/messages.go
  pkg/gatewayserver/io/basicstationlns/messages/messages_test.go
  pkg/pfconfig/shared/shared.go
Owners: @johanstokking, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
