Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

all: Refactor interop client configuration
  pkg/applicationserver/applicationserver.go
  pkg/config/shared.go
  pkg/identityserver/picture/picture_test.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/networkserver/networkserver.go
Owners: @johanstokking, @adriansmares, @htdvisser, @bafonins, @rvolosatovs

util: Return fetchers directly in config
  pkg/applicationserver/applicationserver.go
  pkg/component/component.go
  pkg/config/shared.go
Owners: @johanstokking, @adriansmares, @htdvisser

dev: Regenerate messages
  config/messages.json
Owners: none

console: Add device template format selector
  pkg/webui/console/containers/device-template-format-select/index.js
  pkg/webui/console/store/reducers/device-template-formats.js
Owners: @bafonins, @kschiffer

console: Update api tree
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

api: Add TLS setting to AS links
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

as: Use explicit TLS setting for external NS links
  pkg/applicationserver/linking.go
Owners: @johanstokking, @adriansmares

all: Support KEK label escaping
  pkg/config/shared.go
  pkg/crypto/cryptoutil/kek_labelers.go
  pkg/crypto/cryptoutil/kek_labelers_test.go
Owners: @johanstokking, @htdvisser

all: Add empty key vault
  pkg/config/shared.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
Owners: @johanstokking, @htdvisser

all: Add dial option discovery and helper
  pkg/rpcmiddleware/discover/discover.go
Owners: none

all: Regenerate messages
  config/messages.json
Owners: none

console,oauth: Add not found route component
  pkg/webui/lib/components/not-found-route.js
Owners: @bafonins, @kschiffer

console: Handle undefined routes for application sub views
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
Owners: @bafonins, @kschiffer

console: Handle undefined routes for gateway sub views
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/gateway/index.js
Owners: @bafonins, @kschiffer

console: Handle undefined routes for device sub views
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/console/views/device/index.js
Owners: @bafonins, @kschiffer

console: Add exact to routes for add views
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/gateways/index.js
Owners: @bafonins, @kschiffer

console: Handle undefined routes for organization sub views
  pkg/webui/console/views/organization/organization.js
Owners: @bafonins, @kschiffer

console: Set action to undefined
  pkg/webui/components/notification/index.js
Owners: @bafonins, @kschiffer

all: Clarify get and export cert key vault operations
  pkg/component/tls.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyvault.go
Owners: @johanstokking, @htdvisser

all: Document key vault certification operations
  pkg/crypto/keyvault.go
Owners: @johanstokking, @htdvisser

console: Add bulk create icon
  pkg/webui/components/icon/index.js
Owners: @bafonins, @kschiffer

console: Add change handler to fetch select
  pkg/webui/console/containers/fetch-select/index.js
Owners: @bafonins, @kschiffer

console,oauth: Add pulse prop to status component
  pkg/webui/components/status/index.js
  pkg/webui/components/status/status.styl
  pkg/webui/components/status/story.js
Owners: @bafonins, @kschiffer

console: Add bulk device creator container
  pkg/webui/console/containers/device-bulk-creator/device-bulk-creator.styl
  pkg/webui/console/containers/device-bulk-creator/index.js
Owners: @bafonins, @kschiffer

console,oauth: Add scroll-to-bottom feature to code editor
  pkg/webui/components/code-editor/index.js
Owners: @bafonins, @kschiffer

console,oauth: Hide progress bar estimation when done
  pkg/webui/components/progress-bar/index.js
Owners: @bafonins, @kschiffer

console: Add bulk device create form component
  pkg/webui/console/components/device-bulk-create-form/index.js
Owners: @bafonins, @kschiffer

console,oauth: Add disabled prop for link button
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
Owners: @bafonins, @kschiffer

console: Add bulk device add view
  pkg/webui/console/views/device-add-bulk/index.js
  pkg/webui/console/views/device-add/device-add.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/devices/index.js
Owners: @bafonins, @kschiffer

console: Render bulk creation button conditionally
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Update messages
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Restart organization event stream
  pkg/webui/console/containers/organization-events/organization-events.js
Owners: @bafonins, @kschiffer

all: Add TODOs to get rid of config fallbacks
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/config/tls.go
Owners: @johanstokking, @htdvisser

all: Use explicit config sources and providers with fallback
  cmd/internal/shared/config.go
  config/messages.json
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/config/tls.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @johanstokking, @htdvisser, @adriansmares, @rvolosatovs

ci: Reference CHANGELOG.md in release notes
  .travis.yml
Owners: none

dev: Remove Release notes section from PR templates
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

dev: Add CHANGELOG.md
  CHANGELOG.md
Owners: none

doc: Document release note adding
  CONTRIBUTING.md
Owners: none

api, util: Move datarate functions to pkg/util
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
  pkg/util/datarate/data_rate.go
  pkg/util/datarate/data_rate_test.go
Owners: @johanstokking, @KrishnaIyer, @htdvisser, @rvolosatovs

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
