Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @KrishnaIyer, @bafonins, @kschiffer, @pgalic96, @adriansmares

ns: Support RekeyInd retransmissions
  pkg/networkserver/mac_rekey.go
Owners: @johanstokking, @rvolosatovs, @adriansmares

cli: Add table contents migration support
  cmd/ttn-lw-stack/commands/is_db.go
  config/messages.json
  pkg/identityserver/store/migrations/migration.go
Owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer

doc: Update CHANGELOG
  CHANGELOG.md
Owners: none

ns: Validate DevAddr when switching session in RekeyInd
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_rekey.go
  pkg/networkserver/mac_rekey_test.go
Owners: @johanstokking, @rvolosatovs, @adriansmares

ns: Always set desired parameters regardless of MAC support
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs, @adriansmares

console,oauth: Extend field error component
  pkg/webui/components/form/field/index.js
Owners: @bafonins, @kschiffer, @pgalic96

doc: Add design guidelines
  DESIGN.md
Owners: none

console,oauth: Pass validation parameters
  pkg/webui/console/components/api-key-form/validation-schema.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/login/index.js
Owners: @bafonins, @kschiffer, @pgalic96

console,oauth: Add yup utility to pass values to validation messages
  pkg/webui/lib/yup-extensions.js
  pkg/webui/oauth.js
Owners: @bafonins, @kschiffer, @pgalic96

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer, @pgalic96

console,oauth,dev: Replace length validation messages
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer, @pgalic96

dev: Update snapshots
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
Owners: @bafonins, @kschiffer, @pgalic96

console: Add downlink queue services to api tree
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer, @pgalic96

console,oauth: Make tabs hideable
  pkg/webui/components/tabs/index.js
Owners: @bafonins, @kschiffer, @pgalic96

console: Add downlink form component
  pkg/webui/console/components/downlink-form/index.js
Owners: @bafonins, @kschiffer, @pgalic96

console,oauth: Enable byte inputs without max value
  pkg/webui/components/input/byte.js
Owners: @bafonins, @kschiffer, @pgalic96

console: Add byte utility
  pkg/webui/console/lib/bytes.js
Owners: @bafonins, @kschiffer, @pgalic96

console,oauth: Improve description styling of radio button groups
  pkg/webui/components/radio-button/group/group.styl
Owners: @bafonins, @kschiffer, @pgalic96

util: Add downlink queue service to JS SDK
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/downlink-queue.js
Owners: @bafonins, @kschiffer, @pgalic96

console: Add feature check for downlink scheduling
  pkg/webui/console/lib/feature-checks.js
Owners: @bafonins, @kschiffer, @pgalic96

console: Add device messages view
  pkg/webui/console/views/device-messages/index.js
  pkg/webui/console/views/device/index.js
Owners: @bafonins, @kschiffer, @pgalic96

console: Update messages
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer, @pgalic96

doc: Update changelog
  CHANGELOG.md
Owners: none

dev: Add target check to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser @rvolosatovs
/go.sum @johanstokking @htdvisser @rvolosatovs

# Build pipeline
/Makefile @htdvisser @rvolosatovs @johanstokking
/magefile.go @htdvisser @rvolosatovs @johanstokking
/.make @htdvisser @rvolosatovs @johanstokking
/.mage @htdvisser @rvolosatovs @johanstokking

# API, configuration, CLI and storage compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser @rvolosatovs
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs
/pkg/**/config.go @johanstokking @htdvisser @rvolosatovs
/pkg/config/shared.go @johanstokking @htdvisser @rvolosatovs
/pkg/identityserver/store @johanstokking @htdvisser @rvolosatovs
/pkg/**/registry.go @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser @rvolosatovs

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/pfconfig @rvolosatovs @KrishnaIyer
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer @pgalic96
/pkg/oauth @htdvisser @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares @KrishnaIyer
/pkg/console @bafonins @kschiffer @pgalic96
/pkg/gatewayconfigurationserver @rvolosatovs @KrishnaIyer @htdvisser
/pkg/gatewayserver @johanstokking @KrishnaIyer @adriansmares
/pkg/identityserver @htdvisser @bafonins @kschiffer
/pkg/interop @johanstokking @rvolosatovs @adriansmares
/pkg/joinserver @johanstokking @rvolosatovs @adriansmares
/pkg/networkserver @johanstokking @rvolosatovs @adriansmares

# SDKs
/sdk/js @bafonins @kschiffer @pgalic96

# Clear generated code
/api/api.md
/api/api.swagger.json.
/doc/data/api/*/*.yml
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/sdk/js/generated
