Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

console,oauth: Make title prop required
  pkg/webui/components/form/field/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Refactor frequency plan selectors
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
Owners: @bafonins, @kschiffer

console: Add fetch select component creator
  pkg/webui/console/containers/fetch-select/index.js
Owners: @bafonins, @kschiffer

console,oauth: Fix form field title styling
  pkg/webui/components/form/field/field.styl
Owners: @bafonins, @kschiffer

console,oauth: Add visually hidden mixin
  pkg/webui/styles/mixins.styl
Owners: @bafonins, @kschiffer

console,oauth: Add file input component
  pkg/webui/components/file-input/file-input.styl
  pkg/webui/components/file-input/index.js
Owners: @bafonins, @kschiffer

console,oauth: Add file input field story
  pkg/webui/components/form/field/story.js
Owners: @bafonins, @kschiffer

console,oauth: Add functionality to remove file
  pkg/webui/components/file-input/file-input.styl
  pkg/webui/components/file-input/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

ns: Prevent panics on missed function calls in tests
  pkg/networkserver/networkserver_util_test.go
Owners: @johanstokking, @rvolosatovs

ns: Close via context exclusively
  pkg/networkserver/networkserver.go
Owners: @johanstokking, @rvolosatovs

ns: Avoid doing observability in goroutines
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
Owners: @johanstokking, @rvolosatovs

util: Add multiple event assertion
  pkg/util/test/events.go
Owners: none

ns: Improve event testing
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
Owners: @johanstokking, @rvolosatovs

ns: Simplify flow test
  pkg/networkserver/networkserver_flow_test.go
Owners: @johanstokking, @rvolosatovs

console: Bind methods separately in device form
  pkg/webui/console/components/device-data-form/index.js
Owners: @bafonins, @kschiffer

console: Extend messages for device form
  pkg/webui/console/components/device-data-form/messages.js
Owners: @bafonins, @kschiffer

console: Extend validation schema for device form include external js conditions
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Extend device form add functionality to disable/strip js values
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-general-settings/index.js
Owners: @bafonins, @kschiffer

console: Extend device overview page show if device is privisioned on external js
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

api: Add Application Server MQTT configuration service
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/mqtt.proto
  cmd/internal/shared/applicationserver/config.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/mqtt.pb.go
  pkg/ttnpb/mqtt.pb.paths.fm.go
  pkg/ttnpb/mqtt.pb.setters.fm.go
  pkg/ttnpb/mqtt.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs, @adriansmares

as: Add MQTT configuration provider service
  cmd/internal/shared/applicationserver/config.go
  docker-compose.yml
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/component/grpc_test.go
  pkg/config/shared.go
Owners: @johanstokking, @htdvisser, @adriansmares

as,gs: Use shared MQTT configuration
  cmd/internal/shared/applicationserver/config.go
  cmd/internal/shared/gatewayserver/config.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
Owners: @johanstokking, @htdvisser, @adriansmares, @KrishnaIyer

api: Add Gateway Server MQTT connection information RPC
  api/api.md
  api/api.swagger.json
  api/gatewayserver.proto
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

gs: Add MQTT connection information RPC
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/grpc/grpc.go
Owners: @johanstokking, @KrishnaIyer

as,gs: Handle missing MQTT configuration providers
  config/messages.json
  pkg/applicationserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc.go
Owners: @johanstokking, @adriansmares, @KrishnaIyer

api: Remove MQTTConfiguration
  api/api.md
  api/api.swagger.json
  api/mqtt.proto
  pkg/applicationserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/ttnpb/mqtt.pb.go
  pkg/ttnpb/mqtt.pb.paths.fm.go
  pkg/ttnpb/mqtt.pb.setters.fm.go
  pkg/ttnpb/mqtt.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs, @adriansmares, @KrishnaIyer

as,gs: Use MQTT addresses instead of URIs
  cmd/internal/shared/applicationserver/config.go
  cmd/internal/shared/gatewayserver/config.go
  docker-compose.yml
  pkg/applicationserver/io/grpc/grpc.go
  pkg/config/shared.go
  pkg/gatewayserver/io/grpc/grpc.go
Owners: @johanstokking, @htdvisser, @adriansmares, @KrishnaIyer

api,gs: Support MQTTv2 connection information
  api/api.md
  api/api.swagger.json
  api/gatewayserver.proto
  pkg/config/shared.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs, @KrishnaIyer

api: Clarify GetMQTTV2ConnectionInfo usage
  api/api.md
  api/api.swagger.json
  api/gatewayserver.proto
  api/mqtt.proto
  pkg/config/shared.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/mqtt.pb.go
  pkg/ttnpb/mqtt.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs, @KrishnaIyer

util: Add field mask remapping to marshaling
  sdk/js/src/util/marshaler.js
Owners: @bafonins, @kschiffer

api: Add mac_settings.desired_max_duty_cycle
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

util: Add pubsub service to SDK
  sdk/js/src/service/applications.js
  sdk/js/src/service/pubsubs.js
  sdk/js/src/util/marshaler.js
Owners: @bafonins, @kschiffer

console,oauth: Add enforced validation to fields
  pkg/webui/components/file-input/index.js
  pkg/webui/components/form/field/index.js
  pkg/webui/components/key-value-map/index.js
Owners: @bafonins, @kschiffer

console: Add pubsub service to api tree
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

api: Allow more MAC-related fields to be set in NS
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/field_mask_validation.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

api: Add mac_settings.desired_adr_ack_{delay,limit}
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

api: Extract enum wrappers from MACSettings
  api/end_device.proto
  api/lorawan.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
