Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

cli: Enable application packages registry by default
  cmd/ttn-lw-stack/commands/start.go
Owners: @johanstokking, @htdvisser

as: Add application packages RPC tests
  pkg/applicationserver/io/applicationpackages/grpc_test.go
  pkg/applicationserver/io/applicationpackages/util_test.go
Owners: @johanstokking, @adriansmares

cli: Add application packages associations support
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
Owners: @johanstokking, @htdvisser

as: Rename applicationpackages to packages
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/grpc.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/packages/registration.go
  pkg/applicationserver/io/packages/registry.go
  pkg/applicationserver/io/packages/util_test.go
Owners: @johanstokking, @adriansmares

api: Add the right to manage application packages
  api/api.md
  api/api.swagger.json
  api/rights.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/user.pb.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

as: Use application packages managing right
  pkg/applicationserver/io/packages/grpc.go
  pkg/applicationserver/io/packages/util_test.go
Owners: @johanstokking, @adriansmares

as: Add pagination support to application packages registry
  pkg/applicationserver/io/packages/grpc.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/redis/pagination.go
  pkg/applicationserver/io/packages/redis/pagination_test.go
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/packages/registry.go
  pkg/redis/redis.go
Owners: @johanstokking, @adriansmares

api: Increase pagination limit for application packages associations
  api/api.md
  api/applicationserver_packages.proto
  pkg/ttnpb/applicationserver_packages.pb.go
  pkg/ttnpb/applicationserver_packages.pb.validate.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

cli: Add pagination to application packages associations
  cmd/ttn-lw-cli/commands/applications_packages.go
Owners: @johanstokking, @htdvisser

util: Add Redis pagination utilities
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/redis/pagination.go
  pkg/redis/pagination_test.go
  pkg/redis/redis.go
Owners: @johanstokking, @adriansmares

dev: Regenerate messages
  config/messages.json
  pkg/ttnpb/i18n.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

dev: Update protoc image version
  .mage/proto.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver_pubsub.pb.gw.go
  pkg/ttnpb/applicationserver_web.pb.gw.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/contact_info.pb.gw.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/end_device_services.pb.gw.go
  pkg/ttnpb/events.pb.gw.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/identityserver.pb.gw.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/oauth_services.pb.gw.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/search_services.pb.gw.go
  pkg/ttnpb/user_services.pb.gw.go
Owners: @htdvisser, @rvolosatovs, @johanstokking

dev: Update proto-related dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

util: Converge TLS configuration and check ambiguity
  pkg/component/cluster.go
  pkg/component/tls.go
  pkg/config/tls.go
Owners: @johanstokking, @htdvisser

util: Cancel component on init error
  pkg/component/component.go
Owners: @johanstokking, @htdvisser

util: Support loading TLS certificates from the key vault
  pkg/component/tls.go
  pkg/config/tls.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyvault.go
Owners: @johanstokking, @htdvisser

all: Regenerate messages
  config/messages.json
Owners: none

all: Split TLS client and server configuration
  pkg/applicationserver/applicationserver.go
  pkg/basicstation/cups/server.go
  pkg/component/cluster.go
  pkg/component/listeners.go
  pkg/component/tls.go
  pkg/networkserver/networkserver.go
Owners: @johanstokking, @adriansmares, @htdvisser, @rvolosatovs

all: Add ALPN next protos explicitly for TLS listeners
  pkg/component/grpc.go
  pkg/component/interop.go
  pkg/component/tls.go
  pkg/component/web.go
  pkg/gatewayserver/gatewayserver.go
Owners: @johanstokking, @htdvisser, @KrishnaIyer

all: Add TODO for caching the root CA file
  pkg/component/tls.go
Owners: @johanstokking, @htdvisser

util: Add fallback port for https redirection
  pkg/component/web.go
Owners: @johanstokking, @htdvisser

ns: Assume max data rate index is 5 for predefined channels
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs

console: Add dispatch actions for starting event stream
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
Owners: @bafonins, @kschiffer

console: Pass onRestart to events
  pkg/webui/console/containers/events-subscription/events-subscription.js
Owners: @bafonins, @kschiffer

console: Pass restart logic to notification
  pkg/webui/components/events/index.js
  pkg/webui/components/events/widget/index.js
Owners: @bafonins, @kschiffer

console: Display restart button in notification
  pkg/webui/components/notification/index.js
Owners: @bafonins, @kschiffer

console: Set error to undefined on start stream success
  pkg/webui/console/store/reducers/events.js
Owners: @bafonins, @kschiffer

console: Add restart stream message
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

all: Make key vault and dependencies context aware
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/payload.go
  pkg/component/tls.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/crypto/cryptoutil/kek_labelers.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyvault.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
Owners: @johanstokking, @adriansmares, @htdvisser, @rvolosatovs

all: Handle key vault initialization errors
  pkg/component/component.go
  pkg/config/shared.go
Owners: @johanstokking, @htdvisser

util: Improve device set helper function
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

util: Rename event to chunk in streams
  sdk/js/src/api/stream/shared.js
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
Owners: @bafonins, @kschiffer

console: Rename event to chunk in event stream
  pkg/webui/console/store/middleware/logics/events.js
Owners: @bafonins, @kschiffer

util: Add device bulk create service
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

util: Add template format list service
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

util: Improve scope of makeRequests utility function
  sdk/js/src/service/devices/split.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for device template formats
  pkg/webui/console/store/actions/device-template-formats.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/reducers/device-template-formats.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/device-template-formats.js
Owners: @bafonins, @kschiffer

util: Add template conversion stream service
  sdk/js/src/service/devices/index.js
Owners: @bafonins, @kschiffer

util: Add component whitelist to path splitter
  sdk/js/src/service/devices/split.js
Owners: @bafonins, @kschiffer

all: Support fetching from blobs
  cmd/internal/shared/config.go
  pkg/applicationserver/applicationserver.go
  pkg/blob/bucket.go
  pkg/blob/bucket_test.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/fetch/bucket.go
  pkg/fetch/bucket_test.go
  pkg/identityserver/profile_picture.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/networkserver/networkserver.go
Owners: @johanstokking, @htdvisser, @adriansmares, @bafonins, @rvolosatovs
