Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

console: Extend organization redux primitives add actions/middleware for organization creation
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/organizations.js
Owners: @bafonins, @kschiffer

console: Add organization form
  pkg/webui/console/components/organization-form/index.js
Owners: @bafonins, @kschiffer

console: Make organization add page reachable
  pkg/webui/console/views/organizations/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add organization add page
  pkg/webui/console/views/organization-add/connect.js
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-add/organization-add.js
  pkg/webui/console/views/organization-add/organization-add.styl
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

console: Add utility to generate random byte string
  pkg/webui/console/lib/random-bytes.js
Owners: @bafonins, @kschiffer

console: Make dev_addr required in device form
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Extend device data form prop-types
  pkg/webui/console/components/device-data-form/index.js
Owners: @bafonins, @kschiffer

util: Remove device keys generation in js sdk
  sdk/js/src/service/devices/index.js
  sdk/js/src/util/random-bytes.js
Owners: @bafonins, @kschiffer

console: Define env prop-types
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Refactor device form validation schema
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Extend yup methods
  pkg/webui/lib/yup-extensions.js
Owners: @bafonins, @kschiffer

console: Add prop-types to device add component
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Fix mac_settings in device validation schema
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Fix reset_join_nonces in device validation schema
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Simplify handleSubmit in device add form
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Fix ids in device validation schema
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Define device prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Simplify handleSubmit in device edit form
  pkg/webui/console/views/device-general-settings/index.js
Owners: @bafonins, @kschiffer

console: Add prop-types to device general settings component
  pkg/webui/console/views/device-general-settings/index.js
Owners: @bafonins, @kschiffer

console: Merge device edit and add validation schemas
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

dev: Add option to disable hmr via env variable
  config/webpack.config.babel.js
Owners: none

gs: Return error when peer is unavailable
  config/messages.json
  pkg/basicstation/cups/server.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayserver/gatewayserver.go
  pkg/thethingsgateway/cups/server.go
Owners: @johanstokking, @KrishnaIyer

all: Add error handling to cluster.GetPeer and cluster.GetPeers
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
  pkg/applicationserver/io/mqtt/mqtt_util_test.go
  pkg/applicationserver/io/pubsub/util_test.go
  pkg/applicationserver/io/web/util_test.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/util_test.go
  pkg/basicstation/cups/server.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/component/cluster.go
  pkg/component/cluster_test.go
  pkg/component/rights.go
  pkg/devicetemplateconverter/util_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_util_test.go
  pkg/gatewayserver/io/grpc/grpc_util_test.go
  pkg/gatewayserver/io/mqtt/mqtt_util_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/thethingsgateway/cups/server.go
  pkg/util/test/cluster.go
  pkg/web/oauthclient/logout.go
Owners: @johanstokking, @adriansmares, @htdvisser, @KrishnaIyer, @rvolosatovs

all: Add error handling to peer.Conn
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/linking.go
  pkg/basicstation/cups/server.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/cluster/peer.go
  pkg/cluster/peer_internal_test.go
  pkg/component/cluster_test.go
  pkg/component/rights.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayserver/gatewayserver.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/thethingsgateway/cups/server.go
  pkg/util/test/cluster.go
  pkg/web/oauthclient/logout.go
Owners: @johanstokking, @adriansmares, @htdvisser, @KrishnaIyer, @rvolosatovs

all: Add GetPeerConn to the cluster interface
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/basicstation/cups/server.go
  pkg/cluster/cluster.go
  pkg/component/cluster.go
  pkg/component/rights.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayserver/gatewayserver.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/thethingsgateway/cups/server.go
  pkg/util/test/cluster.go
  pkg/web/oauthclient/logout.go
Owners: @johanstokking, @adriansmares, @htdvisser, @KrishnaIyer, @rvolosatovs

as: Decouple provider connection from ApplicationPubSub
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
Owners: @johanstokking, @adriansmares

Revert "ci: Do not run goreleaser in parallel"
  .travis.yml
Owners: none

ns: Account for the race condition in flow test
  pkg/networkserver/networkserver_flow_test.go
Owners: @johanstokking, @rvolosatovs

dev: Update goreleaser
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

ns: Ensure valid MAC response/request order
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Schedule MAC answers in class A
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Owners: @johanstokking, @rvolosatovs

ns: Promote Class A downlink to separate function
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Do not expect uplink correlation IDs in Class B/C downlinks
  pkg/networkserver/downlink_internal_test.go
Owners: @johanstokking, @rvolosatovs

ns: Wrap class A downlink return values in a struct
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Only account for uplink length limits in 1.1
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ci: Fetch repo before checking out gh-pages
  .travis.yml
Owners: none

dev: Update protoc image version
  .mage/proto.go
Owners: @htdvisser, @rvolosatovs

dev: Update proto-related dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

ci: Check out gh-pages from remote
  .travis.yml
Owners: none

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
