Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers, @bafonins, @kschiffer

CODEOWNERS:

/* @johanstokking

/.make,/.mage @htdvisser @rvolosatovs
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser @rvolosatovs
/doc @TheThingsNetwork/stack-developers
/config @TheThingsNetwork/stack-developers

/pkg @TheThingsNetwork/stack-developers
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser
/pkg/webui @bafonins @kschiffer

/pkg/applicationserver @johanstokking
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking
/pkg/networkserver @rvolosatovs
/pkg/identityserver @htdvisser
/pkg/joinserver @johanstokking @rvolosatovs

/sdk/js @bafonins @kschiffer

console: Rename Access to API Keys
  pkg/webui/components/icon/index.js
  pkg/webui/components/navigation/side/story.js
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/views/application-api-key-add/application-api-key-add.styl
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/application-api-key-edit.styl
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

gs: Add Basic Station EUI marshaling and unmarshaling
  pkg/gatewayserver/io/basicstation/messages/eui.go
  pkg/gatewayserver/io/basicstation/messages/eui_test.go
Owners: @johanstokking

gs: Support prefix in Basic Station EUI
  pkg/gatewayserver/io/basicstation/messages/eui.go
  pkg/gatewayserver/io/basicstation/messages/eui_test.go
Owners: @johanstokking

gs: Move Basic Station EUI to pkg/basicstation
  pkg/basicstation/eui.go
  pkg/basicstation/eui_test.go
Owners: @TheThingsNetwork/stack-developers

gs: Support EUI with colons
  pkg/gatewayserver/io/basicstation/messages/eui.go
  pkg/gatewayserver/io/basicstation/messages/eui_test.go
Owners: @johanstokking

gs: Fix error attribute
  config/messages.json
  pkg/gatewayserver/io/io.go
Owners: @TheThingsNetwork/stack-developers, @johanstokking

util: Add test delay for slower systems
  pkg/fetch/http_test.go
Owners: @TheThingsNetwork/stack-developers

console: Rename payload formats to link
  pkg/webui/components/icon/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Fix field prop-types
  pkg/webui/components/field/index.js
Owners: @bafonins, @kschiffer

console: Extend shared regexps
  pkg/webui/console/lib/regexp.js
Owners: @bafonins, @kschiffer

console: Add className prop to datasheet
  pkg/webui/components/data-sheet/index.js
Owners: @bafonins, @kschiffer

console: Extend the form component add an extra prop to keep the reset/cancel button enabled
  pkg/webui/components/form/index.js
Owners: @bafonins, @kschiffer

console: Add api definitions for link
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Add application link page
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

as: Return aborted error on link failure
  pkg/applicationserver/linking.go
Owners: @johanstokking

console,oauth: Add reference prop to form
  pkg/webui/components/form/index.js
Owners: @bafonins, @kschiffer

console: Enhance link status info
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
Owners: @bafonins, @kschiffer

console: Move link info next to settings panel
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

ns: Ensure downlink is not scheduled before previous one
  pkg/networkserver/downlink.go
Owners: @rvolosatovs

ns: Schedule next downlink after Rx2 in class B/C
  pkg/networkserver/downlink.go
Owners: @rvolosatovs

ns: Restore device if Class B/C Rx1 failed
  pkg/networkserver/downlink.go
Owners: @rvolosatovs

ns: Use absolute timestamp for downlink delay calculation
  pkg/networkserver/downlink.go
Owners: @rvolosatovs

util: Add cors headers
  pkg/rpcserver/rpcserver.go
Owners: @TheThingsNetwork/stack-developers

util: Remove unnecessary this bindings
  sdk/js/src/service/api-keys.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/link.js
Owners: @bafonins, @kschiffer

console: Add instance bindings to api map
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

util: Make pfconfig generic
  go.mod
  go.sum
  pkg/pfconfig/conversion.go
  pkg/pfconfig/semtechudp/semtechudp.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
  pkg/pfconfig/shared/shared.go
  pkg/pfconfig/shared/shared_test.go
Owners: @johanstokking, @TheThingsNetwork/stack-developers

gs: Avoid panic on nil payload
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
Owners: @johanstokking

ns: Lower severity of non-critical logging statements
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
Owners: @rvolosatovs

api: Use new validation options
  api/applicationserver.proto
  api/applicationserver_web.proto
  api/end_device.proto
  api/gateway.proto
  api/identifiers.proto
  api/join.proto
  api/joinserver.proto
  api/keys.proto
  api/lorawan.proto
  api/messages.proto
  api/user.proto
Owners: @johanstokking, @htdvisser, @rvolosatovs

api: Add/fix validations
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/applicationserver.proto
  api/applicationserver_web.proto
  api/client.proto
  api/cluster.proto
  api/end_device.proto
  api/events.proto
  api/gateway.proto
  api/identifiers.proto
  api/identityserver.proto
  api/join.proto
  api/joinserver.proto
  api/lorawan.proto
  api/message_services.proto
  api/messages.proto
  api/metadata.proto
  api/oauth.proto
  api/organization.proto
  api/regional.proto
  api/rights.proto
  api/search_services.proto
  api/user.proto
Owners: @johanstokking, @htdvisser, @rvolosatovs

all: Migrate to new validation method signature
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
  pkg/unique/unique.go
Owners: @johanstokking, @rvolosatovs, @TheThingsNetwork/stack-developers

make: Update protoc image version
  .make/protos/go.make
  .make/protos/main.make
Owners: none

api: Validate Set/Update requests using fieldmask
  config/messages.json
  pkg/ttnpb/application.go
  pkg/ttnpb/applicationserver.go
  pkg/ttnpb/client.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/gateway.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/identifiers_test.go
  pkg/ttnpb/identifiers_validators.go
  pkg/ttnpb/identifiers_validators_test.go
  pkg/ttnpb/organization.go
  pkg/ttnpb/user.go
Owners: @TheThingsNetwork/stack-developers

dev: Vendor validator dependencies
  go.mod
  go.sum
Owners: @johanstokking

api: Fix populators
  api/lorawan.proto
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/lorawan_populate.go
Owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers

api: Remove bounds validation on raw_payload
  api/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
Owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers

util: Support ValidateFields in validator middleware
  pkg/rpcmiddleware/validator/validator.go
Owners: @TheThingsNetwork/stack-developers

ns: Harmonize tests, adapt to message validation
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/registry_test.go
Owners: @rvolosatovs

ns: Fix panics in application queue
  pkg/networkserver/grpc_asns.go
Owners: @rvolosatovs
