Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers, @bafonins, @kschiffer

ns: Fix panic on message drops
  pkg/networkserver/grpc_gsns.go
Owners: @rvolosatovs

js: Harmonize tests, adapt to message validation
  pkg/joinserver/grpc_nsjs.go
  pkg/joinserver/grpc_nsjs_test.go
  pkg/joinserver/registry_test.go
Owners: @johanstokking, @rvolosatovs

js: Ensure App/Dev IDs are set in registries
  pkg/joinserver/grpc_nsjs_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry_test.go
Owners: @johanstokking, @rvolosatovs

ns: Fix BeaconFreqReq MAC encoding
  pkg/encoding/lorawan/mac.go
Owners: @TheThingsNetwork/stack-developers

util: Fix PingSlotChannel MAC command frequency encoding
  pkg/encoding/lorawan/mac.go
Owners: @TheThingsNetwork/stack-developers

ns: Adapt to API changes
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dev_status_test.go
  pkg/networkserver/utils.go
Owners: @rvolosatovs

util: Fix crypto package
  pkg/crypto/cryptoservices/grpc.go
Owners: @johanstokking, @htdvisser

ns: Fix argument order
  pkg/networkserver/redis/registry.go
Owners: @rvolosatovs

js: Make device primary key uid and secondary key EUIs
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_nsjs_test.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry.go
  pkg/joinserver/registry_test.go
Owners: @johanstokking, @rvolosatovs

js: Make SetByEUI atomic in Redis
  pkg/joinserver/redis/registry.go
Owners: @johanstokking, @rvolosatovs

dev: Regenerate messages
  config/messages.json
Owners: @TheThingsNetwork/stack-developers

util: Do not change given uplink message when getting identifiers
  pkg/encoding/lorawan/messages.go
Owners: @TheThingsNetwork/stack-developers

util: Adapt to API changes
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/mac_test.go
Owners: @TheThingsNetwork/stack-developers

js: Remove redundant checks
  pkg/joinserver/grpc_nsjs.go
Owners: @johanstokking, @rvolosatovs

ns: Fix decoding of uplinks
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Owners: @rvolosatovs

gs: Inject gateway ID on uplink
  pkg/gatewayserver/io/mqtt/format.go
  pkg/gatewayserver/io/mqtt/format_protobuf.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
Owners: @johanstokking

ns: Fix lint warnings
  pkg/networkserver/config.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_tx_param_setup.go
Owners: @rvolosatovs

dev: Vendor revive, remove gometalinter
  go.mod
  go.sum
  tools.go
Owners: @johanstokking

dev: Add revive configuration
  .revive.toml
Owners: @johanstokking

make,ci: Simplify linting
  .make/go/main.make
  .make/go/quality.make
  .travis.yml
Owners: @johanstokking

util: Disable linting for band variables
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
Owners: @TheThingsNetwork/stack-developers

ci: Remove go.lint-extra RUNTYPE
  .travis.yml
Owners: @johanstokking

doc: Add notes for the release process
  DEVELOPMENT.md
Owners: @johanstokking

dev: Update vendors
  go.mod
  go.sum
  pkg/fetch/bucket.go
  pkg/fetch/http_test.go
Owners: @johanstokking, @TheThingsNetwork/stack-developers

api: Add validation to GS messages
  api/gatewayserver.proto
  pkg/ttnpb/gatewayserver.pb.go
Owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers

cli: Get allowed device bottom level fields from components
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

util: Add allowed and bottom level field mask utilities
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
Owners: @TheThingsNetwork/stack-developers

util: Fix error attribute formatting
  config/messages.json
  pkg/ttnpb/fieldmask_utils.go
Owners: @TheThingsNetwork/stack-developers

as: Remove obsolete validation TODOs
  pkg/applicationserver/grpc_deviceregistry.go
Owners: @johanstokking

api: Make TxPower floating point
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
Owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers

gs: Use floating point TxPower
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
Owners: @johanstokking

util: Use floating point TxPower
  pkg/ttnpb/lorawan_populate.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Owners: @TheThingsNetwork/stack-developers

util: Use EIRP in band definitions
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
Owners: @TheThingsNetwork/stack-developers

ns: Notify AS when downlink is too long
  pkg/networkserver/downlink.go
  pkg/networkserver/errors.go
Owners: @rvolosatovs

dev: Regenerate messages
  config/messages.json
Owners: @TheThingsNetwork/stack-developers

util: Ensure all RPCs are validated
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcmiddleware/validator/validator_test.go
Owners: @TheThingsNetwork/stack-developers

dev: Regenerate messages
  config/messages.json
Owners: @TheThingsNetwork/stack-developers

util: Add method for finding a sub-band
  pkg/band/band.go
  pkg/band/band_test.go
Owners: @TheThingsNetwork/stack-developers

util: Document use of frequency plan's MaxEIRP
  pkg/frequencyplans/frequencyplans.go
Owners: @TheThingsNetwork/stack-developers

gs: Use EIRP from (sub-)band with respecting frequency plan ceiling
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
Owners: @johanstokking

CODEOWNERS:

/* @johanstokking

/.make,/.mage @htdvisser @rvolosatovs
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser @rvolosatovs
/doc @TheThingsNetwork/stack-developers
/config @TheThingsNetwork/stack-developers

/pkg @TheThingsNetwork/stack-developers
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser
/pkg/webui @bafonins @kschiffer

/pkg/applicationserver @johanstokking
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking
/pkg/networkserver @rvolosatovs
/pkg/identityserver @htdvisser
/pkg/joinserver @johanstokking @rvolosatovs

/sdk/js @bafonins @kschiffer
