Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @KrishnaIyer, @bafonins, @kschiffer, @pgalic96, @adriansmares

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser @rvolosatovs

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/pfconfig @rvolosatovs @KrishnaIyer
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer @pgalic96

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayconfigurationserver @rvolosatovs @KrishnaIyer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs
/pkg/packetbrokeragent @johanstokking @adriansmares

# SDKs
/sdk/js @bafonins @kschiffer @pgalic96

# Clear generated code
/api/api.md
/api/api.swagger.json.
/doc/data/api/*/*.yml
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/sdk/js/generated

doc: Update CHANGELOG
  CHANGELOG.md
Owners: none

util: Fix various band inconsistencies
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/downgrades.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
Owners: none

ns: Adapt to band field type changes
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs

all: Bump to version 3.7.1
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer, @pgalic96

doc: Add frontend development guidelines
  DEVELOPMENT.md
Owners: none

dev: Update comment and doc eslint rules
  config/eslintrc.yaml
Owners: none

dev: Update elint jsdoc plugin
  package.json
  yarn.lock
Owners: none

dev: Update eslint import statement rules
  config/eslintrc.yaml
  config/storybook/webpack.config.js
  sdk/js/package.json
Owners: @bafonins, @kschiffer, @pgalic96

console: Fix circular dependency in api module
  pkg/webui/console/api/index.js
  pkg/webui/console/lib/access-token.js
Owners: @bafonins, @kschiffer, @pgalic96

dev: Add eslint import plugin
  package.json
  yarn.lock
Owners: none

doc: Use css instead of line breaks
  doc/content/guides/class-c-multicast/_index.md
  doc/content/guides/user-management/cli/_index.md
  doc/content/reference/application-packages/_index.md
  doc/content/reference/application-server-data/data-formats/_index.md
  doc/content/reference/application-server-data/mqtt/_index.md
  doc/content/reference/end-device-templates/assigning-euis.md
  doc/content/reference/end-device-templates/converting.md
  doc/content/reference/end-device-templates/creating.md
  doc/content/reference/end-device-templates/executing.md
  doc/content/reference/end-device-templates/mapping.md
  doc/themes/the-things-stack/assets/css/theme.scss
Owners: none

doc: Remove short details sections
  doc/content/guides/class-c-multicast/_index.md
  doc/content/guides/generate-qr-code/end-devices.md
  doc/content/guides/user-management/cli/_index.md
  doc/content/reference/application-packages/_index.md
  doc/content/reference/application-packages/lora-cloud-device-management.md
  doc/content/reference/application-server-data/mqtt/_index.md
  doc/content/reference/end-device-templates/converting.md
  doc/content/reference/end-device-templates/creating.md
  doc/content/reference/end-device-templates/executing.md
Owners: none

doc: Fix URL for example JSON file
  doc/content/reference/end-device-templates/converting.md
  doc/content/reference/end-device-templates/mapping.md
Owners: none

dev: Add backend translation target to travis config
  .travis.yml
Owners: none

doc: Update changelog
  CHANGELOG.md
Owners: none
