Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

console: Fix PropTypes in application general settings
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

dev: Update Alpine image used
  Dockerfile
Owners: none

as: Add PubSub metrics and events
  config/messages.json
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/pubsub/observability.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/observability.go
Owners: @johanstokking, @adriansmares

util: Add event redirection utility
  pkg/util/test/events.go
  pkg/util/test/events_test.go
Owners: none

as: Wait for integrations to start in tests
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/applicationserver_util_test.go
Owners: @johanstokking, @adriansmares

as: Ensure links are closed properly
  pkg/applicationserver/linking.go
Owners: @johanstokking, @adriansmares

as: Ensure integrations are closed properly
  pkg/applicationserver/io/pubsub/pubsub.go
Owners: @johanstokking, @adriansmares

as: Lower tests timeout
  pkg/applicationserver/applicationserver_util_test.go
Owners: @johanstokking, @adriansmares

as: Provide identifiers to PubSub set and delete events
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
Owners: @johanstokking, @adriansmares

dev: Fix dep replace syntax
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

dev: Update dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

ns: Fix flaky test
  pkg/networkserver/networkserver_flow_test.go
Owners: @johanstokking, @rvolosatovs

gcs: Refactor Basic Station CUPS
  config/messages.json
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Owners: none

gcs: Add default MQTT and LNS addresses
  cmd/internal/shared/config.go
  cmd/internal/shared/gatewayconfigurationserver/config.go
Owners: @johanstokking, @htdvisser

doc: Add GCS defaults to docker-compose
  docker-compose.yml
Owners: none

all: Add config for skipping certificate verification (insecure)
  pkg/config/tls.go
Owners: none

doc: Fix TLS CA env var
  docker-compose.yml
Owners: none

gcs: Set less rights on CUPS key
  pkg/basicstation/cups/update_info.go
Owners: none

ci: Use test.Delay instead of millisecond in events test
  pkg/events/handler_test.go
Owners: none

api: Add ClusterRole for GCS
  api/api.md
  api/enums.proto
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/enums.pb.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

gcs: Register to cluster as GCS
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
Owners: none

dev: Include CLI in NFPM and Snapcraft packages
  .goreleaser.yml
Owners: none

is: Clean up test code
  pkg/identityserver/application_access_test.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/email_test.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/invitation_registry_test.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/picture/picture_test.go
  pkg/identityserver/registry_search_test.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/application_store_test.go
  pkg/identityserver/store/client_store_test.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/end_device_store_test.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/invitation_store_test.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/store/organization_store_test.go
  pkg/identityserver/store/populate_test.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_access_test.go
  pkg/identityserver/user_registry_test.go
Owners: @htdvisser, @bafonins

gcs: Use example.com for testing
  pkg/basicstation/cups/server_test.go
Owners: none

gcs: Cache basic station trust lookups
  go.mod
  go.sum
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
Owners: @johanstokking, @htdvisser

gcs: Add logging for trust fetches
  pkg/basicstation/cups/update_info.go
Owners: none

gcs: Allow CUPS Auth header on update-info
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Owners: none

is: Refactor application collaborator handling allow users to revoke/add rights to collaborators that have more rights than the caller
  pkg/identityserver/application_access.go
Owners: @htdvisser, @bafonins

is: Refactor gateway collaborator handling allow users to revoke/add rights to collaborators that have more rights than the caller
  pkg/identityserver/gateway_access.go
Owners: @htdvisser, @bafonins

is: Extend application access tests add rights modification tests
  pkg/identityserver/application_access_test.go
  pkg/identityserver/identityserver_test.go
Owners: @htdvisser, @bafonins

is: Refactor organization collaborator handling allow users to revoke/add rights to collaborators that have more rights than the caller
  pkg/identityserver/organization_access.go
Owners: @htdvisser, @bafonins

is: Extend organization access tests add rights modification tests
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/organization_access_test.go
Owners: @htdvisser, @bafonins

is: Extend gateway access tests add rights modification tests
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/identityserver_test.go
Owners: @htdvisser, @bafonins

is: Refactor client collaborator handling allow users to revoke/add rights to collaborators that have more rights than the caller
  pkg/identityserver/client_access.go
Owners: @htdvisser, @bafonins

api: Update docs for setCollaborator rpcs
  api/api.md
  api/api.swagger.json
  api/application_services.proto
  api/client_services.proto
  api/gateway_services.proto
  api/organization_services.proto
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/organization_services.pb.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

console: Add Latin Extented source-sans-pro, ignore stylint formatting
  pkg/webui/assets/fonts/source-sans-pro-600.eot
  pkg/webui/assets/fonts/source-sans-pro-600.ttf
  pkg/webui/assets/fonts/source-sans-pro-600.woff
  pkg/webui/assets/fonts/source-sans-pro-600.woff2
  pkg/webui/assets/fonts/source-sans-pro-700.eot
  pkg/webui/assets/fonts/source-sans-pro-700.ttf
  pkg/webui/assets/fonts/source-sans-pro-700.woff
  pkg/webui/assets/fonts/source-sans-pro-700.woff2
  pkg/webui/assets/fonts/source-sans-pro-regular.eot
  pkg/webui/assets/fonts/source-sans-pro-regular.ttf
  pkg/webui/assets/fonts/source-sans-pro-regular.woff
  pkg/webui/assets/fonts/source-sans-pro-regular.woff2
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-600.eot
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-600.svg
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-600.ttf
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-600.woff
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-600.woff2
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-700.eot
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-700.svg
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-700.ttf
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-700.woff
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-700.woff2
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-regular.eot
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-regular.svg
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-regular.ttf
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-regular.woff
  pkg/webui/assets/fonts/source-sans-pro-v13-latin_latin-ext-regular.woff2
  pkg/webui/components/button/button.styl
  pkg/webui/styles/fonts.styl
Owners: @bafonins, @kschiffer

console: Fix unused font weights
  pkg/webui/components/button/button.styl
  pkg/webui/styles/mixins.styl
Owners: @bafonins, @kschiffer

console: Add google web fonts as local assets
  pkg/webui/assets/fonts/ibm-plex-mono-regular.eot
  pkg/webui/assets/fonts/ibm-plex-mono-regular.svg
  pkg/webui/assets/fonts/ibm-plex-mono-regular.ttf
  pkg/webui/assets/fonts/ibm-plex-mono-regular.woff
  pkg/webui/assets/fonts/ibm-plex-mono-regular.woff2
  pkg/webui/assets/fonts/source-sans-pro-600.eot
  pkg/webui/assets/fonts/source-sans-pro-600.svg
  pkg/webui/assets/fonts/source-sans-pro-600.ttf
  pkg/webui/assets/fonts/source-sans-pro-600.woff
  pkg/webui/assets/fonts/source-sans-pro-600.woff2
  pkg/webui/assets/fonts/source-sans-pro-700.eot
  pkg/webui/assets/fonts/source-sans-pro-700.svg
  pkg/webui/assets/fonts/source-sans-pro-700.ttf
  pkg/webui/assets/fonts/source-sans-pro-700.woff
  pkg/webui/assets/fonts/source-sans-pro-700.woff2
  pkg/webui/assets/fonts/source-sans-pro-regular.eot
  pkg/webui/assets/fonts/source-sans-pro-regular.svg
  pkg/webui/assets/fonts/source-sans-pro-regular.ttf
  pkg/webui/assets/fonts/source-sans-pro-regular.woff
  pkg/webui/assets/fonts/source-sans-pro-regular.woff2
  pkg/webui/styles/fonts.styl
  pkg/webui/styles/main.styl
Owners: @bafonins, @kschiffer

console: Include material icons locally
  pkg/webui/assets/fonts/materialicons.woff2
  pkg/webui/styles/fonts.styl
Owners: @bafonins, @kschiffer

console: Remove unused links to materialicons
  config/storybook/preview-head.html
  pkg/webui/template.go
Owners: @bafonins, @kschiffer
