Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

doc: Add server options
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/console.md
  doc/content/reference/configuration/gateway-configuration-server.md
  doc/content/reference/configuration/gateway-server.md
  doc/content/reference/configuration/identity-server.md
  doc/content/reference/configuration/join-server.md
  doc/content/reference/configuration/network-server.md
  doc/content/reference/configuration/the-things-stack.md
Owners: none

doc: Add code block highlighting
  doc/config.toml
  doc/config.toml.tmpl
  doc/themes/the-things-stack/assets/css/highlight.scss
  doc/themes/the-things-stack/assets/css/theme.scss
Owners: none

doc: Add Identity Server configuration reference
  doc/content/reference/configuration/identity-server.md
  doc/content/reference/email-templates/overriding.md
Owners: none

all: Add cache config to service base
  cmd/ttn-lw-stack/commands/start.go
  pkg/config/shared.go
Owners: @johanstokking, @htdvisser

console: Add redux primitives for org api keys list
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
Owners: @bafonins, @kschiffer

console: Add organization api keys list page
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization/organization.js
Owners: @bafonins, @kschiffer

util: Extend organizations service add api keys methods
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Extend organization api definition add method to fetch rights
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Extend organization api definition add api keys methods
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Add organization api key create page
  pkg/webui/console/views/organization-api-key-add/connect.js
  pkg/webui/console/views/organization-api-key-add/index.js
  pkg/webui/console/views/organization-api-key-add/organization-api-key-add.js
  pkg/webui/console/views/organization-api-keys/index.js
Owners: @bafonins, @kschiffer

util: Extend organizations service add the getRightsById method
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for org rights handling
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

console: Fix props in api key edit form pass entityTypeMessage to rights-group
  pkg/webui/console/components/api-key-form/edit.js
Owners: @bafonins, @kschiffer

console: Add organization api key edit page
  pkg/webui/console/views/organization-api-key-edit/connect.js
  pkg/webui/console/views/organization-api-key-edit/index.js
  pkg/webui/console/views/organization-api-key-edit/organization-api-key-edit.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for org api key handling
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Adjust rights-group to org collaborators
  pkg/webui/console/components/rights-group/index.js
Owners: @bafonins, @kschiffer

doc: Adjust anchor location for navbar
  doc/themes/the-things-stack/assets/css/theme.scss
Owners: none

doc: Enhance console component documentation
  doc/content/components/_index.md
  doc/content/components/console.md
  doc/content/components/console_overview.png
Owners: none

console: Fix rights group prop types
  pkg/webui/console/components/rights-group/index.js
Owners: @bafonins, @kschiffer

console: Fix device event container prop types
  pkg/webui/console/containers/device-events/index.js
Owners: @bafonins, @kschiffer

console: Fix device table prop types
  pkg/webui/console/containers/devices-table/index.js
Owners: @bafonins, @kschiffer

console,oauth: Add right prop-type to lib
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

util: Extend organizations service add collaborators methods
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Extend organization api definition add collaborators methods
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for org collaborators list
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for org rights handling
  pkg/webui/console/store/middleware/logics/organizations.js
Owners: @bafonins, @kschiffer

console: Add organization collaborators list page
  pkg/webui/console/views/organization-collaborators-list/connect.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/organization-collaborators-list/organization-collaborators-list.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization/organization.js
Owners: @bafonins, @kschiffer

console: Add organization collaborator create page
  pkg/webui/console/views/organization-collaborator-add/connect.js
  pkg/webui/console/views/organization-collaborator-add/index.js
  pkg/webui/console/views/organization-collaborator-add/organization-collaborator-add.js
  pkg/webui/console/views/organization-collaborators/index.js
Owners: @bafonins, @kschiffer

console: Add organization collaborator edit page
  pkg/webui/console/views/organization-collaborator-edit/connect.js
  pkg/webui/console/views/organization-collaborator-edit/index.js
  pkg/webui/console/views/organization-collaborator-edit/organization-collaborator-edit.js
  pkg/webui/console/views/organization-collaborators/index.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for org collaborator handling
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

doc: Update changelog
  CHANGELOG.md
Owners: none

console: Fix default value for derivedPseudoRight
  pkg/webui/console/components/rights-group/index.js
Owners: @bafonins, @kschiffer

console: Fix api keys totalCount selector
  pkg/webui/console/store/selectors/api-keys.js
Owners: @bafonins, @kschiffer

console: Extend organization selectors add api keys selectors
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

console: Extend application selectors add api keys selectors
  pkg/webui/console/store/selectors/applications.js
Owners: @bafonins, @kschiffer

console: Fix org api keys table fetching state
  pkg/webui/console/views/organization-api-keys-list/index.js
Owners: @bafonins, @kschiffer

console: Extend gateway selectors clean up api keys selectors
  pkg/webui/console/store/selectors/gateways.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in app api keys list
  pkg/webui/console/views/application-api-keys-list/index.js
Owners: @bafonins, @kschiffer

console: Fix app api keys table fetching state
  pkg/webui/console/views/application-api-keys-list/index.js
Owners: @bafonins, @kschiffer
