Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

console: Define gateway prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Add prop-types for gateway overview page
  pkg/webui/console/views/gateway-overview/index.js
Owners: @bafonins, @kschiffer

util: Support multiple paths in interop client config
  pkg/interop/client.go
  pkg/interop/client_test.go
Owners: @johanstokking, @rvolosatovs

util: Fix misplaced test cases
  pkg/interop/client_test.go
Owners: @johanstokking, @rvolosatovs

console: Define gateway stats prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Define events prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Adjust prop-types for gateway stats
  pkg/webui/console/containers/gateway-statistics/index.js
Owners: @bafonins, @kschiffer

console: Remove date time display from events widget
  pkg/webui/components/events/widget/index.js
  pkg/webui/components/events/widget/widget.styl
  pkg/webui/console/containers/events-subscription/index.js
Owners: @bafonins, @kschiffer

console: Adjust prop-types for events subscription
  pkg/webui/console/containers/events-subscription/connect.js
  pkg/webui/console/containers/events-subscription/events-subscription.js
  pkg/webui/console/containers/events-subscription/index.js
Owners: @bafonins, @kschiffer

console: Adjust prop-types for events widget
  pkg/webui/components/events/widget/index.js
Owners: @bafonins, @kschiffer

console: Add error selector for device events
  pkg/webui/console/containers/device-events/index.js
Owners: @bafonins, @kschiffer

console: Change default value for events error false -> undefined
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/selectors/events.js
Owners: @bafonins, @kschiffer

is: Add email template fetcher tests
  pkg/identityserver/email_test.go
  pkg/identityserver/identityserver_test.go
Owners: @htdvisser, @bafonins

doc: Add email templates
  doc/content/concepts/email-templates.md
  doc/content/reference/email-templates/_index.md
  doc/content/reference/email-templates/available.md
  doc/content/reference/email-templates/overriding.md
  pkg/identityserver/emails/collaborator_changed.go
  pkg/identityserver/emails/emails.go
Owners: @htdvisser, @bafonins

doc: Add 3.1.x to supported versions
  SECURITY.md
Owners: none

Remove trailing quote from Web UI configuration variables
  docker-compose.yml
Owners: none

oauth,console: Update static assets
  pkg/webui/assets/static/console-favicon.ico
  pkg/webui/assets/static/console-og-image.png
  pkg/webui/assets/static/console-touch-icon.png
  pkg/webui/assets/static/oauth-favicon.ico
  pkg/webui/assets/static/oauth-og-image.png
  pkg/webui/assets/static/oauth-touch-icon.png
Owners: @bafonins, @kschiffer

console,oauth: Update logo component
  pkg/webui/components/logo/gradient.js
  pkg/webui/components/logo/index.js
  pkg/webui/components/logo/logo.styl
  pkg/webui/components/logo/tti.js
  pkg/webui/components/logo/ttn.js
Owners: @bafonins, @kschiffer

console: Update animations
  pkg/webui/assets/animations/illustrations/app.json
  pkg/webui/assets/animations/illustrations/gateway.json
Owners: @bafonins, @kschiffer

console,oauth: Update color variables for new branding
  pkg/webui/styles/variables/brand.styl
  pkg/webui/styles/variables/generic.styl
Owners: @bafonins, @kschiffer

console,oauth: Add new logo asset
  pkg/webui/assets/logos/tts.svg
Owners: @bafonins, @kschiffer

oauth: Update login view styles
  pkg/webui/oauth/views/login/index.js
  pkg/webui/oauth/views/login/login.styl
Owners: @bafonins, @kschiffer

console,oauth: Update header styles
  pkg/webui/components/header/header.styl
Owners: @bafonins, @kschiffer

console,oauth: Fix proptypes
  pkg/webui/components/header/index.js
  pkg/webui/components/logo/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/oauth/views/login/index.js
Owners: @bafonins, @kschiffer

all: Bump to version 3.1.1
  doc/config.toml
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer

util: Add organizations service with getAll method
  sdk/js/src/index.js
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Extend console api defintions add entry to fetch a list of organizations
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Add organization id selector
  pkg/webui/lib/selectors/id.js
Owners: @bafonins, @kschiffer

console: Add organizations table
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for organizations
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/organizations.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

console: Register organizations page
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/views/landing/index.js
  pkg/webui/console/views/organizations/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add organizations list page
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/views/organizations-list/index.js
Owners: @bafonins, @kschiffer

ci,doc: Update CNAME to thethingsstack.io
  .travis.yml
Owners: none

console,oauth: Remove leading space from copy value
  pkg/webui/components/safe-inspector/index.js
Owners: @bafonins, @kschiffer

console,oauth: Fix prop-types
  pkg/webui/components/safe-inspector/index.js
Owners: @bafonins, @kschiffer

as: Respect nil topic values in PubSub
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
Owners: @johanstokking, @adriansmares

ci,doc: Checkout existing docs before build
  .travis.yml
Owners: none

console: Extend console api defintions add entry to create a new organization
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

util: Add create method to organization service
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer
