Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

gcs: Use 5-second timeout in getTrust
  pkg/basicstation/cups/server.go
Owners: none

gcs: Test with local server instead of example.com
  pkg/basicstation/cups/server_test.go
Owners: none

console: Add propTypes and defaultProps to map files
  pkg/webui/components/map/index.js
  pkg/webui/components/map/widget/index.js
  pkg/webui/console/components/device-map/index.js
  pkg/webui/console/components/gateway-map/index.js
Owners: @bafonins, @kschiffer

console: Add leaflet map widget to device/gateway overview
  package.json
  pkg/webui/assets/auxiliary-icons/location_pin.svg
  pkg/webui/assets/img/layout/bg/ttn-console-map.png
  pkg/webui/components/map/index.js
  pkg/webui/components/map/map.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/map/widget/widget.styl
  pkg/webui/console/components/device-map/index.js
  pkg/webui/console/components/gateway-map/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Owners: @bafonins, @kschiffer

gcs: Clean up code
  pkg/basicstation/cups/update_info.go
Owners: none

is: Refactor application api key handling allow users to revoke/add rights to api keys that have more rights than the caller
  pkg/identityserver/application_access.go
Owners: @htdvisser, @bafonins

is: Fix application access tests adjust api key update rpc test
  pkg/identityserver/application_access_test.go
Owners: @htdvisser, @bafonins

util: Support unmarshal of Sx1301 conf
  pkg/pfconfig/shared/shared.go
  pkg/pfconfig/shared/shared_test.go
Owners: none

gs: Support SX1301Conf in BS tests
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
Owners: @johanstokking, @KrishnaIyer

dev: Generate messages
  config/messages.json
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
Owners: @johanstokking, @KrishnaIyer

util: Disallow empty fetch paths
  pkg/fetch/basepath.go
  pkg/fetch/bucket.go
  pkg/fetch/errors.go
  pkg/fetch/fs.go
  pkg/fetch/http.go
  pkg/fetch/mem.go
Owners: none

util: Allow absolute paths in fetch.WithBasepath
  pkg/fetch/basepath.go
Owners: none

all: Support absolute paths in fetch fetchers
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/web/templates.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/fetch/basepath.go
  pkg/fetch/basepath_test.go
  pkg/fetch/bucket.go
  pkg/fetch/bucket_test.go
  pkg/fetch/errors.go
  pkg/fetch/fetch.go
  pkg/fetch/fetch_test.go
  pkg/fetch/fs.go
  pkg/fetch/http.go
  pkg/fetch/http_test.go
  pkg/fetch/mem.go
  pkg/frequencyplans/frequencyplans_test.go
  pkg/identityserver/email.go
  pkg/identityserver/email_test.go
  pkg/interop/client.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
Owners: @johanstokking, @adriansmares, @htdvisser, @bafonins, @rvolosatovs

util: Fix consistency in fetch package
  pkg/fetch/bucket.go
  pkg/fetch/fs.go
  pkg/fetch/mem.go
Owners: none

dev: Regenerate messages
  config/messages.json
Owners: none

is: Fix gateway access tests adjust api key update rpc test
  pkg/identityserver/gateway_access_test.go
Owners: @htdvisser, @bafonins

is: Extend application access tests add rights modification tests
  pkg/identityserver/application_access_test.go
Owners: @htdvisser, @bafonins

is: Refactor gateway api key handling allow users to revoke/add rights to api keys that have more rights than the caller
  pkg/identityserver/gateway_access.go
Owners: @htdvisser, @bafonins

is: Extend gateway access tests add rights modification tests
  pkg/identityserver/gateway_access_test.go
Owners: @htdvisser, @bafonins

is: Fix organization access tests adjust api key update rpc test
  pkg/identityserver/organization_access_test.go
Owners: @htdvisser, @bafonins

is: Refactor organization api key handling allow users to revoke/add rights to api keys that have more rights than the caller
  pkg/identityserver/organization_access.go
Owners: @htdvisser, @bafonins

is: Fix test data for organization access tests
  pkg/identityserver/organization_access_test.go
Owners: @htdvisser, @bafonins

is: Extend organization access tests add rights modification tests
  pkg/identityserver/organization_access_test.go
Owners: @htdvisser, @bafonins

util: Refactor unmarshalling
  pkg/pfconfig/shared/shared.go
Owners: none

util: Return err on invalid index
  pkg/pfconfig/shared/shared.go
Owners: none

api: Update docs for updateAPIKey rpcs for application, gateway, organization and user services
  api/api.md
  api/application_services.proto
  api/gateway_services.proto
  api/organization_services.proto
  api/user_services.proto
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/user_services.pb.go
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

is: Refactor user api key handling allow to revoke/add rights to api keys that have more rights than the caller
  pkg/identityserver/user_access.go
Owners: @htdvisser, @bafonins

util: Improve issue template
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/question.md
Owners: none

as: Allow application frontends to send uplinks
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/linking.go
Owners: @johanstokking, @adriansmares

ns: Add MAC commands before application downlink
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Skip downlink if it doesn't fit due to FOpts
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Account for FHDR length when generating downlink
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Fix downlink test-case naming
  pkg/networkserver/downlink_internal_test.go
Owners: @johanstokking, @rvolosatovs

ns: Use binary number syntax where applicable
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
Owners: @johanstokking, @rvolosatovs

ns: Only set `queued_application_downlinks` if changed
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Owners: @johanstokking, @rvolosatovs

ns: Test downlink content priority
  pkg/networkserver/downlink_internal_test.go
Owners: @johanstokking, @rvolosatovs

gs: Add status message support indication
  pkg/gatewayserver/io/io.go
Owners: @johanstokking, @KrishnaIyer

gs: Allow frontends to claim downlink
  go.mod
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
Owners: @johanstokking, @htdvisser, @KrishnaIyer

gs: Support direct downlink on connection
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @johanstokking, @KrishnaIyer

gs: Cancel context on exit in Basic Station
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Owners: @johanstokking, @KrishnaIyer
