Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

api: Change type of ADR ack {limit,delay} in MACParameters
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @johanstokking, @htdvisser, @rvolosatovs

api: Add _exponent suffix to ADR Ack fields
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

util: Fix band package formatting
  pkg/band/as_923.go
  pkg/band/band_internal_test.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
Owners: none

api: Regenerate JS API definitions
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: none

ns: Fix MACSettings field validations
  pkg/networkserver/grpc_deviceregistry.go
Owners: @johanstokking, @rvolosatovs

ns: Trigger downlink if MAC state changes in class C
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @johanstokking, @rvolosatovs

ns: Fix newMACState panic
  pkg/networkserver/utils.go
Owners: @johanstokking, @rvolosatovs

util: Fix band.Band.ADRAck{Limit,Delay} typing
  pkg/band/band.go
  pkg/band/default.go
Owners: none

ns: Only account for confirmed downlink timeout for class C
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

ns: Support additional MAC parameters to be set
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
Owners: @johanstokking, @rvolosatovs

dev: Allow underscores in gogoproto.customname
  .mage/scripts/fix-grpc-gateway-names.sh
Owners: @htdvisser, @rvolosatovs

ns: Refactor class C confirmed downlink time computation
  pkg/networkserver/downlink.go
Owners: @johanstokking, @rvolosatovs

cli: Add support for wrapped enums
  cmd/ttn-lw-cli/internal/util/flags.go
Owners: @johanstokking, @htdvisser

console: Add stackComponent prop-type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Simplify env access in device add view
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Remove redundant argument when creating device
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in device general settings
  pkg/webui/console/views/device-general-settings/index.js
Owners: @bafonins, @kschiffer

util: Add test utilities for *Component
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking_test.go
  pkg/basicstation/cups/server_test.go
  pkg/component/test/component.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/identityserver/identityserver_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_test.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_test.go
  pkg/oauth/server_test.go
  pkg/thethingsgateway/cups/handlers_test.go
  pkg/thethingsgateway/cups/server_test.go
Owners: @johanstokking, @adriansmares, @htdvisser, @KrishnaIyer, @bafonins, @rvolosatovs

console: Add stack js address in device edit form
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
Owners: @bafonins, @kschiffer

console: Bind methods separately in device add view
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

ns: Only publish downlink MAC events on success
  pkg/networkserver/downlink.go
  pkg/networkserver/mac.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_force_rejoin.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver_flow_test.go
Owners: @johanstokking, @rvolosatovs

ns: Fix MAC command CIDs used
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_rejoin_param_setup.go
Owners: @johanstokking, @rvolosatovs

console: Shorten generated linking API key name
  pkg/webui/console/views/application-add/index.js
Owners: @bafonins, @kschiffer

console: Add pubsub formats selector container
  pkg/webui/console/containers/pubsub-formats-select/index.js
Owners: @bafonins, @kschiffer

console: Add store logic for pubsubs to applications
  pkg/webui/console/store/middleware/logics/applications.js
Owners: @bafonins, @kschiffer

console: Enhance file input component
  pkg/webui/components/file-input/index.js
Owners: @bafonins, @kschiffer

console: Add pubsubs table container
  pkg/webui/console/containers/pubsubs-table/index.js
Owners: @bafonins, @kschiffer

console: Update prop-type library
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Add redux primitives for pubsubs
  pkg/webui/console/store/actions/pubsub-formats.js
  pkg/webui/console/store/actions/pubsub.js
  pkg/webui/console/store/actions/pubsubs.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/pubsub-formats.js
  pkg/webui/console/store/reducers/pubsub.js
  pkg/webui/console/store/reducers/pubsubs.js
  pkg/webui/console/store/selectors/pubsub-formats.js
  pkg/webui/console/store/selectors/pubsub.js
Owners: @bafonins, @kschiffer

console: Add pubsub form component
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/pubsub-form/qos-options.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/lib/regexp.js
Owners: @bafonins, @kschiffer

console: Restructure routing for integrations
  pkg/webui/console/views/application-integrations-webhook-add/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/console/views/application-integrations-webhooks-list/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console,oauth: Add shared messages for pubsubs
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/lib/shared-messages.js
Owners: @bafonins, @kschiffer

console: Add pubsub views
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/index.js
  pkg/webui/console/views/application-integrations-pubsubs-list/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application/index.js
Owners: @bafonins, @kschiffer

console: Add row value getter
  pkg/webui/components/table/index.js
Owners: @bafonins, @kschiffer

all: Use StartComponent utility in tests
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/devicetemplateconverter/devicetemplateconverter_test.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/identityserver/identityserver_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_test.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/oauth/server_test.go
Owners: @johanstokking, @adriansmares, @htdvisser, @bafonins, @rvolosatovs

all: Don't use dot imports for component test util
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking_test.go
  pkg/basicstation/cups/server_test.go
  pkg/devicetemplateconverter/devicetemplateconverter_test.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/identityserver/identityserver_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_test.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/oauth/server_test.go
  pkg/thethingsgateway/cups/handlers_test.go
  pkg/thethingsgateway/cups/server_test.go
Owners: @johanstokking, @adriansmares, @KrishnaIyer, @htdvisser, @bafonins, @rvolosatovs

all: Bump to version 3.2.0
  doc/config.toml
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @bafonins, @kschiffer

console: Propagate errors from axios instance in the correct format
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

gs: Forward status messages to upstream host
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/observability.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
Owners: @johanstokking, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
