Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated

ci: Hardcode S3 bucket
  .goreleaser.yml
Owners: none

util: Add supports_join to converted template
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Owners: none

util: Set serial number as root key ID
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Owners: none

console,oauth: Get config from context in middleware
  pkg/console/console.go
  pkg/oauth/server.go
Owners: @bafonins, @kschiffer

console: Fix device with not exposed root keys
  pkg/webui/console/views/device-overview/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

doc: Add Network Server to H1 title
  doc/content/_index.html
Owners: none

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Rename bulk creation to device import
  pkg/webui/components/icon/index.js
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-importer/device-importer.styl
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/views/device-add/device-add-single.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-import/device-import.styl
  pkg/webui/console/views/device-import/index.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console,oauth: Add form info field component
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/info.js
  pkg/webui/components/form/index.js
Owners: @bafonins, @kschiffer

console: Move device bulk creation up in routing hierarchy
  pkg/webui/console/containers/devices-table/devices-table.styl
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/views/device-add-single/device-add-single.styl
  pkg/webui/console/views/device-add-single/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/devices/index.js
Owners: @bafonins, @kschiffer

console: Remove unnecessary error state
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/views/device-add/index.js
Owners: @bafonins, @kschiffer

console: Add claim authentication code option to device import
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-importer/index.js
Owners: @bafonins, @kschiffer

console,oauth: Checkbox styling fix
  pkg/webui/components/checkbox/checkbox.styl
Owners: @bafonins, @kschiffer

console: Show template format description under select
  pkg/webui/console/components/device-import-form/device-import-form.styl
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-template-format-select/index.js
Owners: @bafonins, @kschiffer

console: Add prop-types to device import form
  pkg/webui/console/components/device-import-form/index.js
Owners: @bafonins, @kschiffer

console: Make byte strings uppercase
  pkg/webui/console/lib/random-bytes.js
Owners: @bafonins, @kschiffer

console: Add component uris to imported devices
  pkg/webui/console/containers/device-importer/index.js
Owners: @bafonins, @kschiffer

util: Update device entity map
  sdk/js/generated/device-entity-map.json
  sdk/js/generated/device-field-masks.json
Owners: none

doc: Update changelog
  CHANGELOG.md
Owners: none

oauth: Parse invitation token in user registration
  pkg/webui/oauth/views/create-account/index.js
Owners: @bafonins, @kschiffer

cli: Add invitation token flag on users create command
  cmd/ttn-lw-cli/commands/users.go
Owners: @johanstokking, @htdvisser

is: Send user invitation emails
  pkg/identityserver/emails/invitation.go
  pkg/identityserver/invitation_registry.go
Owners: @htdvisser, @bafonins

doc: Add user invitations to changelog
  CHANGELOG.md
Owners: none

doc: Add user invitation email to reference
  doc/content/reference/email-templates/available.md
Owners: none

is: Send entity state change emails
  pkg/identityserver/client_registry.go
  pkg/identityserver/emails/entity_state_changed.go
  pkg/identityserver/user_registry.go
Owners: @htdvisser, @bafonins

doc: Add entity state change emails to changelog
  CHANGELOG.md
Owners: none

is: Use lowercase non-prefixed state value in emails
  pkg/identityserver/client_registry.go
  pkg/identityserver/user_registry.go
Owners: @htdvisser, @bafonins

doc: Add entity state change email to reference
  doc/content/reference/email-templates/available.md
Owners: none

console,oauth: Add component constants module'
  pkg/webui/constants/components.js
Owners: @bafonins, @kschiffer

console,oauth: Fix checkbox wrapping
  pkg/webui/components/checkbox/group/group.styl
Owners: @bafonins, @kschiffer

console,oauth: Update proptypes
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Add option to choose targeted component in bulk creation
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-importer/index.js
Owners: @bafonins, @kschiffer

doc: Make code blocks consistent
  CONTRIBUTING.md
  DEVELOPMENT.md
  doc/config.md
  doc/content/guides/events/_index.md
  doc/content/guides/getting-started/cli/_index.md
  doc/content/guides/getting-started/configuration.md
  doc/content/reference/api/authentication.md
  doc/content/reference/email-templates/overriding.md
  doc/content/reference/end-device-templates/mapping.md
  sdk/js/README.md
Owners: @bafonins, @kschiffer

doc: Make heading spacing consistent
  CONTRIBUTING.md
  DEVELOPMENT.md
  doc/content/concepts/email-templates.md
  sdk/js/README.md
Owners: @bafonins, @kschiffer

doc: Make unordered lists consistent
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  doc/content/components/gateway-server.md
Owners: none

doc: Use double quotes in bash
  doc/content/guides/events/_index.md
  doc/content/guides/getting-started/mqtt/_index.md
  doc/content/guides/getting-started/running-the-stack.md
Owners: none

doc: Increase heading level for API reference
  doc/content/reference/api/application.md
  doc/content/reference/api/application_pub_sub.md
  doc/content/reference/api/application_server.md
  doc/content/reference/api/application_webhooks.md
  doc/content/reference/api/end_device.md
  doc/content/reference/api/gateway_server.md
  doc/content/reference/api/gateways.md
  doc/themes/the-things-stack/layouts/shortcodes/proto/enum.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/message.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/method.html
Owners: none

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

doc: Move config documentation to reference and rewrite
  doc/config.md
  doc/content/reference/configuration/_index.md
  doc/content/reference/email-templates/_index.md
  doc/content/reference/end-device-templates/_index.md
Owners: none
