Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @bafonins, @kschiffer, @adriansmares, @KrishnaIyer

all: Add HTTP to HTTPS redirects
  pkg/component/web.go
  pkg/config/shared.go
  pkg/web/middleware/redirect.go
  pkg/web/middleware/redirect_test.go
  pkg/web/web.go
Owners: @johanstokking, @htdvisser

dev: Update AWS dependencies
  go.mod
  go.sum
Owners: @johanstokking, @htdvisser

util: Add issue template for questions and doc requests
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/question.md
Owners: none

console: Fix device form validation schema dont strip resets_join_nonces when creating an otaa device
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Fix device form validation schema dont strip resets_f_cnt when creating an abp device
  pkg/webui/console/components/device-data-form/validation-schema.js
Owners: @bafonins, @kschiffer

console: Extend console api defintions add entry to get a single organization
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Add organization prop type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

util: Extend organizations service add getById method to fetch a single organization
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Extend organization redux primitives add actions/selectors for organization events
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

console: Extend console api defintions add entry for starting organization events stream
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Extend organization redux primitives add actions/middleware for fetching a single organization
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/organizations.js
  pkg/webui/console/store/selectors/organizations.js
Owners: @bafonins, @kschiffer

console: Add organization events component
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/containers/organization-events/index.js
  pkg/webui/console/containers/organization-events/organization-events.js
Owners: @bafonins, @kschiffer

console,oauth: Add router match prop type
  pkg/webui/lib/prop-types.js
Owners: @bafonins, @kschiffer

console: Add organization overview page
  pkg/webui/console/views/organization-overview/connect.js
  pkg/webui/console/views/organization-overview/index.js
  pkg/webui/console/views/organization-overview/organization-overview.js
  pkg/webui/console/views/organization-overview/organization-overview.styl
Owners: @bafonins, @kschiffer

console: Make organization overview page reachable
  pkg/webui/console/views/organization/connect.js
  pkg/webui/console/views/organization/index.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/console/views/organizations/index.js
Owners: @bafonins, @kschiffer

util: Extend organizations service add the openStream method to start events stream
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Extend organization id selector
  pkg/webui/lib/selectors/id.js
Owners: @bafonins, @kschiffer

console: Add organization data page
  pkg/webui/console/views/organization-data/connect.js
  pkg/webui/console/views/organization-data/index.js
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization-data/organization-data.styl
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Make organization data page reachable
  pkg/webui/console/views/organization/organization.js
Owners: @bafonins, @kschiffer

console: Adjust navigation after organization creation
  pkg/webui/console/views/organization-add/connect.js
  pkg/webui/console/views/organization-add/organization-add.js
Owners: @bafonins, @kschiffer

console,oauth: Fix relative OAuth authorization and callbacks
  pkg/oauth/server.go
  pkg/web/oauthclient/oauthclient.go
Owners: none

all: Fix root redirects
  cmd/ttn-lw-stack/commands/start.go
Owners: @johanstokking, @htdvisser

is: Make is-db commands upsert admin users and OAuth clients
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
Owners: @johanstokking, @htdvisser

util: Extend organizations service add the deleteById method
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

util: Extend organizations service add the updateById method
  sdk/js/src/service/organizations.js
Owners: @bafonins, @kschiffer

console: Extend organization api definitions add update function
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Extend organization api definitions add delete function
  pkg/webui/console/api/index.js
Owners: @bafonins, @kschiffer

console: Extend organization redux primitives add actions/middleware/reducers for updating and deleting organization
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/organizations.js
Owners: @bafonins, @kschiffer

console: Make organization general settings page reachable
  pkg/webui/console/views/organization/organization.js
Owners: @bafonins, @kschiffer

console: Add organization general settings page
  pkg/webui/console/views/organization-general-settings/connect.js
  pkg/webui/console/views/organization-general-settings/index.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
Owners: @bafonins, @kschiffer

console: Refactor organization add page
  pkg/webui/console/views/organization-add/organization-add.js
Owners: @bafonins, @kschiffer

console: Refactor organization form
  pkg/webui/console/components/organization-form/index.js
Owners: @bafonins, @kschiffer

dev: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Owners: @bafonins, @kschiffer

console: Add join eui prefix redux primitives
  pkg/webui/console/store/actions/join-server.js
  pkg/webui/console/store/middleware/logics/join-server.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/join-server.js
  pkg/webui/console/store/selectors/join-server.js
Owners: @bafonins, @kschiffer

console: Add utility to compute join eui prefix
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix.js
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix_test.js
Owners: @bafonins, @kschiffer

console: Add focus method to byte input
  pkg/webui/components/input/byte.js
  pkg/webui/components/input/index.js
Owners: @bafonins, @kschiffer

console: Update device data form use join eui prefix input
  pkg/webui/console/components/device-data-form/index.js
Owners: @bafonins, @kschiffer

console: Add join eui prefix field component
  pkg/webui/console/containers/join-eui-prefixes-input/connect.js
  pkg/webui/console/containers/join-eui-prefixes-input/index.js
Owners: @bafonins, @kschiffer

console: Improve byte input focus move cursor to the next available slot
  pkg/webui/components/input/byte.js
Owners: @bafonins, @kschiffer

CODEOWNERS:

# Root
/ @johanstokking @htdvisser
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Clear common folders
/doc
/config
/pkg

# Dependencies
/go.mod @johanstokking @htdvisser
/go.sum @johanstokking @htdvisser

# Build pipeline
/Makefile @htdvisser @rvolosatovs
/magefile.go @htdvisser @rvolosatovs
/.make @htdvisser @rvolosatovs
/.mage @htdvisser @rvolosatovs

# API and CLI compatibility
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser
/pkg/ttnpb @johanstokking @htdvisser @rvolosatovs

# Security
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser

# Shared components
/pkg/component @johanstokking @htdvisser
/pkg/types @johanstokking @htdvisser @rvolosatovs
/pkg/webui @bafonins @kschiffer

# Subsystems
/pkg/applicationserver @johanstokking @adriansmares
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking @KrishnaIyer
/pkg/identityserver @htdvisser @bafonins
/pkg/interop @johanstokking @rvolosatovs
/pkg/joinserver @johanstokking @rvolosatovs
/pkg/networkserver @johanstokking @rvolosatovs

# SDKs
/sdk/js @bafonins @kschiffer

# Clear generated code
/sdk/js/generated
