Repository rvolosatovs/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers, @bafonins, @kschiffer

CODEOWNERS:

/* @johanstokking

/.make,/.mage @htdvisser @rvolosatovs
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser @rvolosatovs
/doc @TheThingsNetwork/stack-developers
/config @TheThingsNetwork/stack-developers

/pkg @TheThingsNetwork/stack-developers
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser
/pkg/webui @bafonins @kschiffer

/pkg/applicationserver @johanstokking
/pkg/console @bafonins @kschiffer
/pkg/gatewayserver @johanstokking
/pkg/networkserver @rvolosatovs
/pkg/identityserver @htdvisser
/pkg/joinserver @johanstokking @rvolosatovs

/sdk/js @bafonins @kschiffer

api: Export error-related decode/encode functionality
  pkg/ttnpb/errors.go
Owners: @TheThingsNetwork/stack-developers

util: Assert error types in validator tests
  pkg/rpcmiddleware/validator/validator_test.go
Owners: @TheThingsNetwork/stack-developers

util: Remove pfconfig descriptions
  pkg/pfconfig/semtechudp/semtechudp_test.go
  pkg/pfconfig/shared/shared.go
  pkg/pfconfig/shared/shared_test.go
Owners: @TheThingsNetwork/stack-developers

cli: Get allowed fields, merge bottom level fields
  cmd/ttn-lw-cli/commands/end_devices_split.go
Owners: @johanstokking, @htdvisser, @rvolosatovs

make: Update protoc image version
  .make/protos/main.make
Owners: none

api: Regenerate
  api/api.md
  api/api.swagger.json
  pkg/ttnpb/_api.pb.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/contact_info.pb.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/enums.pb.go
  pkg/ttnpb/error.pb.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/join.pb.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/message_services.pb.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/oauth_services.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/regional.pb.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user_services.pb.go
Owners: @johanstokking, @htdvisser, @rvolosatovs, @TheThingsNetwork/stack-developers

ci: Publish snaps to Snapcraft
  .goreleaser.yml
  .travis.yml
  snap.login.enc
Owners: @johanstokking
